/* ------------------------------------ *\
    GLOBAL BASE
\* ------------------------------------ */

* {

    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }

    &:focus {
        outline: 0;
    }
}

html {
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    &.fixed {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

button {
    cursor: pointer;

    &::-moz-focus-inner {
        border: 0;
    }
}

textarea {
    overflow: auto;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

hr {
    display: block;
    width: 100%;
    border: 0;
    overflow: visible;
    @include border($where: bottom);
}

mark {
    background: none;
    font-weight: $font-weight--bold;
    color: $theme-color;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

.lazy-load-image {
    background-color: #f3f3f3;

    &.loaded {
        background-color: transparent;
    }
}

//tracking pixel outside the tag commander container
#tc_img__1 {
    display: none;
}

#gts-c {
    display: none !important;
}

#GTS_CONTAINER {
    position: relative;
    z-index: 0;
    #gts-c {
        display: block !important;
    }
}
