/* ------------------------------------ *\
    ALERTS
\* ------------------------------------ */

.alert {
    position: relative;
    background-color: $silver;
    padding: ($space * 2) ($space * 10);
    @include border;
}

.alert__icon,
.alert__close {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $space * 8;
}

.alert__close {
    left: auto;
    right: 0;
}

.alert__icon {
    color: #fff;
    background-color: $grey--dark;
}

.alert--info {
    color: $blue;
    border-color: $blue;
    background-color: $blue--light;
    & > .alert__icon { background-color: $blue; }
    //default is fa-info
}

.alert--success {
    color: $green;
    border-color: $green;
    background-color: $green--light;
    & > .alert__icon { background-color: $green; }
    & > .alert__icon > .fa::before { content: $fa-var-check; }
}

.alert--warning {
    color: $yellow;
    border-color: $yellow;
    background-color: $yellow--light;
    & > .alert__icon { background-color: $yellow; }
    & > .alert__icon > .fa::before { content: $fa-var-exclamation-triangle; }
}

.alert--error {
    color: $red;
    border-color: $red;
    background-color: $red--light;
    & > .alert__icon { background-color: $red; }
    & > .alert__icon > .fa::before { content: $fa-var-ban; }
}
