/* ------------------------------------ *\
    BREADCRUMBS
\* ------------------------------------ */

.breadcrumbs > li.expanded {
    display: inline-block !important;
    visibility: visible !important;
}
