.cookie-hint {
    background-color: $grey--dark;
    color: #fff;
    padding: ($space * 2) 0;

    .container {
        align-items: center;
        display: flex;
    }

    &__closer {
        color: $grey--darker;
        font-size: $font-size--large;
        margin-left: $space * 3;

        &:hover {
            color: lighten($grey--darker, 10%);
            text-decoration: none;
        }
    }
}
