.cost-center {
    [class^="icon--"] {
        font-size: 24px;
        line-height: 12px;
    }
}

.cost-center__dialog-form {
    width: 420px;
    color: $grey--darker;

    .required {
        font-size: $font-size--small;
        font-weight: $font-weight--base;
        margin-bottom: $space * 6;
    }

    .invalid {
        @include border($color: $red);
        background-color: $red--light;
    }
}

.cost-center-list {
    color: $grey--darker;
    padding-top: $space * 6;

    &__sort-txt {
        text-align: left;

        @include media(xl) {
            text-align: right;
        }
    }

    &__tool {
        flex-direction: column;

        .sort {
            flex-direction: column;
        }

        @include media(lg) {
            flex-direction: row;

            .title {
                flex: 1;
            }

            .sort {
                flex: 1;
            }
        }

        @include media(xl) {
            .title {
                flex: (6 / 18);
            }

            .sort {
                flex: (12 / 18);
                flex-direction: row;
            }

            .item--fit {
                flex-basis: 0;
            }
        }

        @include media(xxl) {
            .title {
                flex: (10 / 18);
            }

            .sort {
                flex: (8 / 18);
            }
        }
    }

    &__header {
        display: none;
        align-items: flex-start;

        @include media(xl) {
            display: flex;

            @include border($where: top, $color: $silver);
            @include border($where: bottom, $color: $silver);

            .name {
                flex: (5 / 18);
            }

            .id {
                order: 2;
                flex: (6 / 18);
            }

            .budget {
                flex: (3 / 18);
            }

            .restbudget {
                flex: (4 / 18);
            }

            .tool {
                display: none;
            }
        }

        @include media(xxl) {
            .id {
                order: initial;
                flex: (3 / 18);
            }

            .restbudget {
                flex: (3 / 18);
            }

            .tool {
                display: block;
                flex: (4 / 18);
            }
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;

        .id {
            order: 1;
            margin-bottom: $space * 4;
        }

        .name {
            margin-bottom: $space * 4;
        }

        .tool {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            order: 2;
        }

        .tool__id {
            display: none;
        }

        &:first-of-type {
            @include border($where: top, $color: $silver);
        }

        @include border($where: bottom, $color: $silver);

        @include media(xl) {
            .label {
                display: none;
            }

            .name {
                flex: (5 / 18);
            }

            .id {
                order: initial;
                display: none;
            }

            .budget {
                flex: (3 / 18);
            }

            .restbudget {
                flex: (4 / 18);
            }

            .tool {
                flex: (6 / 18);
            }

            .tool__id {
                order: initial;
                display: flex;
            }
        }

        @include media(xxl) {
            .id {
                display: flex;
                flex: (3 / 18);
            }

            .restbudget {
                flex: (3 / 18);
            }

            .tool {
                flex: (4 / 18);
            }

            .tool__id {
                display: none;
            }
        }
    }

    &__header,
    &__item {
        padding: ($space * 4) 0;
    }

    &__button {
        background-color: $white;
        border: 0;

        .icon {
            color: $grey;
        }

        .text {
            color: $orange;
            vertical-align: top;
        }
    }
}
