.cost-center-select {
    flex: 1;
    flex-direction: column;
    margin-top: $space;

    &__label {
        flex: 1;
        text-align: left;
        margin-bottom: $space;
    }

    &__wrapper {
        flex: 1;
        margin-bottom: $space;
    }

    & .not-selected {
        background-color: $silver;
    }

    @include media(lg) {
        &__label {
            padding-top: $space * 2;
            margin-right: $space * 2;
        }
    }

    &--master {
        margin-top: $space * 2;

        @include media(lg) {
            flex-direction: row;

            .cost-center-select__label {
                flex: 6;
                text-align: right;
                padding-top: $space * 2;
                margin-right: $space * 2;
            }

            .cost-center-select__wrapper {
                flex: 4;
            }
        }

        @include media(xl) {
            .cost-center-select__label {
                flex: 15;
            }

            .cost-center-select__wrapper {
                flex: 7;
            }
        }

        @include media(xxl) {
            .cost-center-select__label {
                flex: 16;
            }

            .cost-center-select__wrapper {
                flex: 6;
            }
        }
    }
}
