.custom-select {
    position: relative;
    display: block;
    color: #b3b3b3;

    background-color: $white;
    padding: 0 ($space * 6) 1px ($space * 2);

    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .custom-select__value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $font-size--small;
    }

    &,
    .custom-select__dropdown {
        font-size: $font-size--small;
        line-height: $hg-global-element-height-m;
        border-radius: $border-radius 0 0 $border-radius;
    }

    & > .fa,
    .custom-select__dropdown {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
    }

    .custom-select__dropdown {
        left: 0;
        width: 100%;
        height: $hg-global-element-height-m;
    }

    & > .fa {
        right: $space * 2;
        font-size: $font-size--regular-plus;
        line-height: $line-height--regular-plus;
    }

    select {
        margin-top: 18px;
        opacity: 0;
        color: #b3b3b3;
    }
}
