.dropdown {
    .dropdown-content {
        display: none;
    }

    .fa-angle-up {
        display: none;
    }

    .fa-angle-down {
        display: inline;
    }

    &.opened {
        .dropdown-content {
            display: block;
        }

        .fa-angle-down {
            display: none;
        }

        .fa-angle-up {
            display: inline;
        }

    }
}
