/* ------------------------------------ *\
    EXPANDABLE CONTENT GRADIENT BOTTOM
\* ------------------------------------ */

.expandable.isExpandable {
    position: relative;
    margin-bottom: $space * 5;
    padding-bottom: 20px;

    &::after {
        background: rgba(#fff, 0.5);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(#fff, 0)), color-stop(100%, #fff));
        background: -webkit-linear-gradient(to top, rgba(#fff, 0) 0%, #fff 100%);
        background: linear-gradient(to bottom, rgba(#fff, 0) 0%, #fff 100%);
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        height: 100px;
    }

    .expandable__button {
        display: block;
    }

    &.isExpanded::after { display: none; }

    &.isExpanded .expandable__button {
        background-color: transparent;
    }
}

.expandable__content { overflow: hidden; } //max-height is set by the directive, default is 500px

.expandable__button {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    margin-top: $space;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    z-index: index($hg-z-layers, menu);
}
