.faq-section {
    &.collapsed {
        display: none;
    }
}

.faq-question {
    font-weight: $font-weight--bold;

    & .fa {
        margin-top: 6px;
    }

    & .fa-angle-down {
        display: none;
    }

    &.collapsed {
        font-weight: $font-weight--base;

        & .fa-angle-down {
            display: inline;
        }

        & .fa-angle-up {
            display: none;
        }
    }
}

.faq-answer {
    &.collapsed {
        display: none;
    }

    // @TODO: remove if .html--raw exist
    p {
        margin-top: 10px;
    }
}
