.faq-menu {
    &__item {
        background-color: $silver;
        box-shadow: $shadow1;

        .fa-plus,
        .fa-minus {
            right: 10px;
        }

        .fa-plus {
            display: none;
        }

        &.collapsed {
            box-shadow: none;

            .fa-plus {
                display: block;
            }

            .fa-minus {
                display: none;
            }
        }
    }

    @include media(lg) {
        border-radius: $border-radius;

        &__item {
            @include border($where: left, $width: 3px, $color: $theme-color);
            box-shadow: none;
            padding-left: 7px !important;
            background-color: #fff;
            font-weight: $font-weight--bold;

            &:hover {
                border-left-color: $theme-color;
                color: inherit;
            }

            &.collapsed {
                border-left-color: transparent;
                font-weight: $font-weight--base;
            }
        }
    }
}
