/* ------------------------------------ *\
    FIELDSET
\* ------------------------------------ */

fieldset,
.fieldset {
    position: relative;
    display: block;

    & > label {
        width: 100%;

        @include media(lg) { width: 25%; }

        @include media(xl) {
            width: 15%;
            margin-top: $space;
        }
    }

    & > input,
    & > select,
    & > textarea {
        width: 100%;

        @include media(lg) { width: 75%; }

        @include media(xl) {
            width: 85%;
            float: right;
            margin-bottom: $space * 2;
        }
    }
}
