@import "../variables/footer-sprite";

.footer-sprite {
    display: inline-block;
    width: 62px;
    height: 32px;
    background: #fff url(/images/footer-sprite/footer-sprite.png) no-repeat;
    @include border($width: 3px, $color: #fff);
    &:hover { opacity: 0.6; }
}

.footer-sprite--borderless { border: 0; }

.footer-sprite--austria,
.footer-sprite--germany { width: 32px; }

.footer-sprite--sales,
.footer-sprite--idealo,
.footer-sprite--billiger,
.footer-sprite--gutschein,
.footer-sprite--fcunion,
.footer-sprite--bvmw {
    &:hover { opacity: 1; }
}

.footer-sprite--gutschein {
    width: 105px;
    height: 60px;
}

.footer-sprite--idealo {
    width: 40px;
    height: 40px;
}

.footer-sprite--billiger {
    width: 57px;
    height: 36px;
}

.footer-sprite--fcunion {
    width: 56px;
    height: 56px;
}

.footer-sprite--bvmw {
    width: 89px;
    height: 56px;
}

@include generate-sprite-classes($className: 'footer-sprite');
