.form__field {
    align-items: center;
    display: flex;
    position: relative;

    &--checkbox,
    &--radio {
        &,
        label {
            cursor: pointer;
        }

        label {
            margin-left: $space * 2;
            margin-bottom: 0;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &--hidden {
        display: none;
    }

    &--group {
        flex-wrap: wrap;
    }

    &--group &--radio,
    &--group &--checkbox {
        margin-bottom: $space * 2;
        margin-left: 0;
        min-width: 100%;
    }

    &--switch {
        input[type="checkbox"] {
            height: 16px !important;
            min-width: 35px !important;
            width: 35px !important;

            + span {
                background-color: $grey;
                border-radius: 8px;
                border: 0;
                max-height: 16px;
                max-width: 35px;
                min-height: 16px;
                min-width: 35px;
                transition: 0.4s;
            }

            + span::before {
                background-color: $silver;
                bottom: -1px;
                border-radius: 50%;
                box-shadow: $shadow1;
                content: "";
                display: block;
                height: 20px;
                left: -1px;
                position: absolute;
                top: -3px;
                transition: 0.4s;
                transform: none;
                width: 20px;
            }

            &:checked + span {
                background-color: $green;
            }

            &:checked + span::before {
                left: calc(100% - 19px);
            }
        }
    }

    &--password {
        .button {
            background-color: transparent;
            color: $theme-color--dark;
            font-size: $font-size--small;
            font-weight: $font-weight--bold;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            top: 0;
        }

        input {
            background-image: none !important;
            padding-left: $space * 4;
        }
    }
}

input[type="radio"],
input[type="checkbox"] {
    background-image: none !important;
    border: 0 !important;
    box-shadow: none !important;
    cursor: pointer;
    height: 20px !important;
    min-width: 20px !important;
    min-height: 20px !important;
    padding: 0 !important;
    width: 20px !important;
    opacity: 0;

    + span {
        @include border($width: 2px, $color: $grey);
        align-items: center;
        background: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        left: 0;
        max-height: 20px;
        max-width: 20px;
        min-height: 20px;
        min-width: 20px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        user-select: none;

        &::before {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    a:hover & + span,
    &:hover + span {
        border-color: $theme-color--dark;
    }

    &:checked + span {
        border-color: $theme-color--dark;

        &::before {
            display: block;
        }
    }
}

input[type="radio"] {
    + span {
        border-radius: 50%;

        &::before {
            background-color: $theme-color--dark;
            border-radius: 50%;
            content: "";
            height: 10px;
            width: 10px;
        }
    }
}

input[type="checkbox"] {
    + span {
        border-radius: $border-radius;

        &::before {
            color: $theme-color;
            content: $fa-var-check;
            font-family: FontAwesome;
        }
    }
}

input,
textarea {
    appearance: none;
    border: 1px solid $grey--light;
    border-radius: $border-radius;
    display: block;
    padding: (2 * $space) (2 * $space);
    position: relative;
    user-select: text;
    width: 100%;
    @include border;
    &:focus,
    &:active {
        border: 1px solid $grey--darker;
    }
}

input {
    &:-webkit-autofill {
        box-shadow: 0 0 0 30px $green--light inset;
    }

    height: $hg-global-element-height;
    background: $white none no-repeat;
    &::-ms-clear {
        display: none;
    }
    //remove clear field icon in IE10

    &[type="password"] {
        padding-left: 24px;
        background-position: 7px -123px;
        @include media(lg) {
            background-position: 7px -127px;
        }
    }

    &.ng-touched,
    &.touched {
        &.ng-valid,
        &.valid {
            border-color: $green;
            background-position: calc(100% - 10px) -124px;
            background-color: $green--light;
        }

        &.ng-warning,
        &.warning {
            border-color: $yellow;
            background-position: calc(100% - 10px) -280px;
        }

        &.ng-invalid,
        &.invalid {
            background-position: calc(100% - 10px) -174px;
            border-color: $red;
            color: $red;
            background-color: $red--light;
        }

        //prevents input to get colored in angular validation status
        &.reset-validation {
            background-image: none;
            border-color: $grey;
        }
    }
}

textarea {
    height: 100px;
}

.form {
    @include media(lg) {
        select {
            height: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        select {
            background-position: calc(100% - 10px) -10px;
        }

        select[disabled],
        select.disabled,
        select.disabled-indicator,
        .disabled-indicator select {
            //background: #fff url(../../images/sprite-inputs.png) no-repeat scroll calc(100% - 10px) 16px;
            background-size: 15px;
        }

        input.ng-touched,
        input.touched {
            &.ng-valid,
            &.valid {
                background-position: calc(100% - 10px) -124px;
            }

            &.ng-warning,
            &.warning {
                background-position: calc(100% - 10px) -280px;
            }

            &.ng-invalid,
            &.invalid {
                background-position: calc(100% - 10px) -174px;
            }
        }
    }
}

/* ------------------------------------ *\
    DISABLED INPUTS
\* ------------------------------------ */

input,
select,
textarea {

    &[disabled],
    &[readonly] {
        background-color: $silver;
        background-image: none;
        border-color: $grey;
        color: $grey--dark;
        cursor: not-allowed;
        padding-left: 8px;
        padding-right: 8px;
        user-select: none;
    }
}

.form-errors {
    color: $red;
    font-weight: $font-weight--bold;
}
