/* The auto sprite classes are not used here, because of double retina size and media queries support */

.header-sprite {
    display: block;
    background: url(/images/header-sprite/header-sprite.png) no-repeat;
    image-rendering: -webkit-optimize-contrast; //fixes chrome blurrines on background-size changes
}

.header-sprite--logo {

    @if (variable_exists('isArbeitssicherheit')) {
        //Arbeitssicherheit logo
        width: 100px;
        height: 17px;
        margin-top: 3px;
        background-position: 0 -33px;
        background-size: 146px;

        @include media(md) {
            width: 145px;
            height: 26px;
            margin: 0;
            background-position: 0 -50px;
            background-size: 215px;
        }

        @include media(lg) {
            width: 100%;
            height: 30px;
            margin-top: 19px;
            background-position: 0 -64px;
            background-size: 268px;
        }

        @include media(xl) {
            height: 41px;
            background-position: 0 -79px;
            background-size: 338px;
        }

        @include media(xxl) {
            width: 306px;
            height: 52px;
            margin-top: 8px;
            background-position: 0 -107px;
            background-size: auto;
        }

    } @else {
        //Contorion logo
        width: 102px;
        height: 25px;
        background-position: 0 -71px;
        background-size: 200px;

        @include media(md) {
            width: 148px;
            height: 37px;
            margin-top: 0;
            background-position: 0 -106px;
            background-size: 293px;
        }

        @include media(lg) {
            width: 179px;
            height: 41px;
            margin: 12px 0 0;
            background-position: 0 0;
            background-size: 179px;
        }

        @include media(xl) {
            width: 225px;
            height: 51px;
            margin: 8px auto 0;
            background-size: 225px;
        }
    }
}

.header-sprite--logo--reduced { margin-top: 0; }

.header-sprite--stapler {
    width: 38px;
    height: 38px;
    background-position: 0 -114px;
    background-size: 230px;
}
