.hg-c-user-settings-baseproductfilter__main-row {
    display: flex;
    width: 100%;
}

.hg-c-user-settings-baseproductfilter__attribute-label {
    font-weight: bold;
    padding-left: $hg-space-xs;
}

.hg-c-user-settings-baseproductfilter__first-attribute {
    @include media(xl) {
        width: percentage(12/18);
    }

    @include media(xxl) {
        width: percentage(14/18);
    }
}

.hg-c-user-settings-baseproductfilter__main-attribute {
    padding-left: 30px;
    width: percentage(4/6);

    @include media(lg) {
        width: percentage(6/8);
    }

    @include media(xl) {
        padding-left: $hg-space-xs;
    }
}

.hg-c-user-settings-baseproductfilter__type {
    font-weight: bold;
    width: percentage(2/6);

    @include media(lg) {
        width: percentage(2/8);
    }

    @include media(xl) {
        width: percentage(6/18);
    }

    @include media(xxl) {
        width: percentage(4/18);
    }
}
