.hg-menu {
    background-color: $white;
    box-shadow: $box-shadow-navbar;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: index($hg-z-layers, menu);

    @include media(xl) {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        overflow-y: hidden;
        width: 100%;
    }
}

.hg-menu__list {
    background-color: $white;
    height: calc(100% - #{$hg-global-element-height-m});
    padding-left: 2 * $space;
    position: absolute;
    width: 100%;
    transition: left 0.3s ease-in-out;

    &.active {
        left: 0;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &.hidden--left {
        left: -100%;
    }

    &.hidden--right {
        left: 100%;
    }

    &.collapsed {
        max-height: 0;
    }

    @include media(xl) {
        height: auto;
        position: relative;
        width: percentage(8/24);

        &.hidden--left {
            left: auto;
            display: none;
        }

        &.hidden--right {
            left: auto;
            display: none;
        }

        &.hg-menu__list--shown {
            display: block;
        }
    }

    @include media(xxl) {
        width: percentage(6/24);
    }
}

.hg-menu__list-back {
    color: $orange;
    font-size: $font-size--regular;

    &:hover {
        text-decoration: none;
    }
}

.hg-menu__list-back__icon {
    padding-right: 2 * $space;
}

.hg-menu__list-title {
    align-items: center;
    display: flex;
    font-weight: bold;
    padding-right: 4 * $space;

    &:hover {
        text-decoration: none;
    }
}

.hg-menu__list-title--link {
    color: $grey--darker;

    &:hover {
        color: $orange;
    }
}

.hg-menu__list-item {
    @include border('bottom', $color: $grey);
    display: flex;
    height: $hg-global-element-height-m;

    @include media (lg) {
        height: $hg-global-element-height;
    }

    &.active {
        .hg-menu__list-link {
            color: $orange;
            text-decoration: none;
        }

        .hg-menu__list-item__next-icon {
            color: $orange;
        }
    }
}

.hg-menu__list-link {
    color: $grey--darker;
    display: flex;
    font-size: $font-size--medium;
    font-weight: $font-weight--base;
    justify-content: space-between;
    width: 100%;

    &:hover {
        color: $orange;
        text-decoration: none;

        .hg-menu__list-item__next-icon {
            color: $orange;
        }
    }
}

.hg-menu__list-item__left {
    align-items: center;
    display: flex;
    min-width: 0;

    @include media(xl) {
        font-size: $font-size--regular;
    }
}

.hg-menu__list-item__image {
    padding-right: 2 * $space;
    width: auto;
    font-size: $font-size--xlarge;
    height: $hg-global-element-height-s;
}

.hg-menu__list-item-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hg-menu__list-item__next-icon {
    align-items: center;
    color: $orange;
    display: flex;
    justify-content: center;
    padding-right: 4 * $space;

    @include media(xl) {
        color: $grey;
        padding-right: 0;
    }
}
