.hg-c-product-filter-list__headline {
    @include border('bottom');

    display: flex;
    flex-direction: column;
    margin-top: 8 * $space;
    padding-bottom: $hg-space-xl;

    @include media(xl) {
        align-items: center;
        flex-direction: row;
        padding-bottom: $hg-space-xs;
    }
}

.hg-c-product-filter-list__headline__title {
    font-size: $font-size--medium;
    font-weight: $font-weight--bold;
    margin-bottom: $hg-space-xl;

    @include media(xl) {
        margin-bottom: 0;
    }
}

.hg-c-product-filter-list__sort {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media(xl) {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: percentage(10/18);
    }
}

.hg-c-product-filter-list__sort--footer {
    display: none;
    visibility: hidden;

    @include media(xl) {
        display: flex;
        visibility: visible;
    }
}

.hg-c-product-filter-list__sort__label {
    padding-right: 10px;
}

.hg-c-product-filter-list__sort__select {
    width: 100%;

    @include media(xl) {
        width: percentage(6/10);
    }

    @include media(xxl) {
        width: percentage(4/10);
    }
}

.hg-c-product-filter-list__table-headline {
    @include border('bottom');

    display: flex;
    flex-direction: row;
    padding-bottom: 4 * $space;
    padding-top: 4 * $space;
    width: 100%;
}

.hg-c-product-filter-list__table-headline__item {
    width: percentage(4/18);

    @include media(xxl) {
        width: percentage(5/18);
    }
}

.hg-c-product-filter-list_row {
    @include border('bottom');

    display: flex;
    flex-direction: column;
    padding-bottom: 4 * $space;
    padding-top: 4 * $space;
    width: 100%;

    @include media(xl) {
        flex-direction: row;
    }
}

.hg-c-product-filter-list__filter-data__first-group__filter-title {
    font-weight: $font-weight--bold;
}

.hg-c-product-filter-list__last-group__filter-type {
    padding-bottom: 2 * $space;
    width: 100%;
}

.hg-c-product-filter-list__delete__button {
    width: 100%;
}

.hg-c-product-filter-list__filter-data-single-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 4 * $space;
    width: 100%;

    @include media(xl) {
        flex-direction: row;
        margin-bottom: 0;
        width: percentage(12/18);
    }

    @include media(xxl) {
        width: percentage(14/18);
    }
}

.hg-c-product-filter-list__filter-data-single-entry__item-first {
    width: percentage(3/6);

    @include media(lg) {
        width: percentage(3/8);
    }

    @include media(xl) {
        width: percentage(4/12);
    }

    @include media(xxl) {
        width: percentage(5/14);
    }
}

.hg-c-product-filter-list__filter-data-single-entry__item-second {
    width: 0;

    @include media(lg) {
        width: percentage(3/8);
    }

    @include media(xl) {
        width: percentage(4/12);
    }

    @include media(xxl) {
        width: percentage(5/14);
    }
}

.hg-c-product-filter-list__filter-data-single-entry__item-third {
    width: percentage(3/6);

    @include media(lg) {
        width: percentage(2/8);
    }

    @include media(xl) {
        width: percentage(4/12);
    }

    @include media(xxl) {
        width: percentage(4/14);
    }
}

.hg-c-product-filter-list__filter-data-two-entries {
    display: flex;
    flex-direction: column;
    margin-bottom: 4 * $space;
    width: 100%;

    @include media(lg) {
        flex-direction: row;
    }

    @include media(xl) {
        width: percentage(12/18);
        margin-bottom: 0;
    }

    @include media(xxl) {
        width: percentage(14/18);
    }
}

.hg-c-product-filter-list__filter-data-two-entries__item-first {
    width: 100%;
    padding-bottom: 2 * $space;

    @include media(lg) {
        width: percentage(3/8);
        padding-bottom: 0;
    }

    @include media(xl) {
        width: percentage(4/12);
    }

    @include media(xxl) {
        width: percentage(5/14);
    }
}

.hg-c-product-filter-list__filter-data-two-entries__item-second {
    width: 100%;

    @include media(lg) {
        width: percentage(5/8);
    }

    @include media(xl) {
        width: percentage(8/12);
    }

    @include media(xxl) {
        width: percentage(9/14);
    }
}

.hg-c-product-filter-list__filter-data-two-entries__item-second__item-first {
    width: percentage(3/6);

    @include media(lg) {
        width: percentage(3/5);
    }

    @include media(xl) {
        width: percentage(4/8);
    }

    @include media(xxl) {
        width: percentage(5/9);
    }
}

.hg-c-product-filter-list__filter-data-two-entries__item-second__item-second {
    width: percentage(3/6);

    @include media(lg) {
        width: percentage(2/5);
    }

    @include media(xl) {
        width: percentage(4/8);
    }

    @include media(xxl) {
        width: percentage(4/9);
    }
}

.hg-c-product-filter-list__delete {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media(xl) {
        flex-direction: row;
        width: percentage(6/18);
    }

    @include media(xxl) {
        width: percentage(4/18);
    }
}

.hg-c-product-filter-list__pagination-bar {
    margin-bottom: 2 * $space;
    width: 100%;

    @include media(xl) {
        margin-bottom: 0;
        width: percentage(7/18);
    }
    @include media(xxl) {
        width: percentage(5/18);
    }
}

.hg-c-product-filter-list__pagination-bar .hg-c-Button {
    width: 8 * $space;
}

.hg-c-product-filter-list__footer {
    justify-content: space-between;
    margin-top: 4 * $space;

    @include media(xl) {
        display: flex;
    }
}

.hg-c-product-filter-list__footer--baseproduct {
    margin-bottom: 12 * $space;
}


.hg-c-product-filter-list__footer__select {
    padding-left: 4 * $space;
    padding-right: 8 * $space;

    @include media(xl) {
        width: auto;
    }
}
