.hg-c-product-filters__radio-button {
    align-items: center;
    background-color: $white;

    @include border();

    border-radius: $border-radius;
    color: $grey;
    cursor: pointer;
    display: inline-flex;
    font-size: $font-size--regular;
    height: $hg-global-element-height;
    justify-content: center;
    margin-right: 2 * $space;
    padding: (2 * $space) (4 * $space);
    white-space: nowrap;
}

.hg-c-product-filters__radio-buttons {

    // necessary because the default styling in _form.scss creates extra radio buttons
    input[type="radio"] {
        + span {
            visibility: hidden;
        }
    }
}

.hg-c-product-filters__radio-buttons input[type="radio"]:not(:checked) ~ input[type="radio"]:not(:checked) ~ .hg-c-product-filters__radio-button {
    border-color: $grey--darker;
    color: $grey--darker;
}

.hg-c-product-filters__radio-buttons input[type="radio"]:checked:nth-of-type(1) ~ .hg-c-product-filters__radio-button:nth-of-type(2) {
    border-color: $orange;
    color: $orange;
}

.hg-c-product-filters__radio-buttons input[type="radio"]:checked:nth-of-type(2) ~ .hg-c-product-filters__radio-button:nth-of-type(3) {
    border-color: $orange;
    color: $orange;
}

.hg-c-product-filters__radio-buttons input[type="radio"] {
    display: none;
    visibility: hidden;
}

.hg-c-product-filters__radio-buttons .hg-c-product-filters__radio-button:last-of-type {
    margin-right: 0;
}

.hg-c-product-filters__radio-buttons input[type="radio"]:checked:nth-of-type(1) ~ .js-category-filter-form {
    display: block;
    visibility: visible;
}

.hg-c-product-filters__radio-buttons input[type="radio"]:checked:nth-of-type(2) ~ .js-category-filter-form {
    display: none !important;
    visibility: hidden !important;
}

.hg-c-product-filters__radio-buttons input[type="radio"]:checked:nth-of-type(2) ~ .js-baseproduct-filter-form {
    display: block;
    visibility: visible;
}

.hg-c-product-filters__radio-buttons input[type="radio"]:checked:nth-of-type(1) ~ .js-baseproduct-filter-form {
    display: none !important;
    visibility: hidden !important;
}

.hg-c-product-filters__radio-buttons form {
    display: none;
    visibility: hidden;
}

.hg-c-product-filters__radio-buttons--with-margin {
    margin-top: 6 * $space;
}

.hg-c-product-filters__label {
    display: block;
    font-size: $font-size--medium;
    font-weight: $font-weight--bold;
    margin-bottom: 2 * $space;
}

.hg-c-product-filters-panel__form {
    background-color: $grey--light;
    font-size: $font-size--regular;
    padding: 4 * $space;
}

.hg-c-product-filters-panel__form .form-errors {
    margin-top: $space;
}

.hg-c-product-filters-panel__form__close-button {
    color: $grey;
    float: right;
    font-size: $font-size--large;
    line-height: 0;
    margin-right: -2 * $space;
    margin-top: -2 * $space;
}

.hg-c-product-filters-category__select--selected {
    border-color: $orange !important;
    color: $orange !important;
}

.hg-c-product-filters-panel__form__selects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 6 * $space;

    @include media(md) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include media(xl) {
        display: block;
    }
}

.hg-c-product-filters-panel__form__buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 4 * $space;

    @include media(md) {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    @include media(xl) {
        display: block;
    }
}

.hg-c-product-filters-panel__form__button {
    margin-top: 2 * $space;

    @include media(md) {
        flex: 1;
        margin-right: 2 * $space;
    }

    @include media(lg) {
        width: 210px;
    }
}

.hg-c-product-filters-panel__form__inline-element--last {
    margin-right: 0;
}

.hg-c-product-filters-panel__baseproductfilter-form {
    margin-top: 6 * $space;
}

.hg-c-product-filters-panel__show-form-button {
    width: 100%;

    @include media(xl) {
        width: percentage(8/18);
    }

    @include media(xxl) {
        width: percentage(6/18);
    }
}

.hg-c-product-filters-panel__form__product-id-input {
    width: percentage(4/6);

    @include media(lg) {
        width: percentage(5/8);
    }

    @include media(xl) {
        width: percentage(8/18);
    }

    @include media(xxl) {
        flex-direction: row;
        width: percentage(6/18);
    }
}
