.hg-c-user-settings-categoryfilter__column-title {
    @include media(xl) {
        width: percentage(6/18);
    }
}

.hg-c-user-settings-categoryfilter__checkbox {
    position: absolute;
}

.hg-c-user-settings-categoryfilter__first-attribute {
    padding-left: $space * 6;
    width: percentage(3/6);
    padding-right: $hg-gutter-width;

    @include media(lg) {
        width: percentage(3/8);
    }

    @include media(xl) {
        width: percentage(6/18);
    }

    @include media(xxl) {
        width: percentage(6/18);
    }
}

.hg-c-user-settings-categoryfilter__second-attribute {
    padding-right: $hg-gutter-width;

    @include media(lg) {
        width: percentage(3/8);
    }

    @include media(xl) {
        width: percentage(6/18);
    }

    @include media(xxl) {
        width: percentage(8/18);
    }
}

.hg-c-user-settings-categoryfilter__third-attribute {
    font-weight: bold;
    width: percentage(2/6);

    @include media(lg) {
        width: percentage(2/8);
    }

    @include media(xl) {
        width: percentage(6/18);
    }

    @include media(xxl) {
        width: percentage(4/18);
    }
}
