.hg-tooltip {
    background: rgba(33, 33, 33, 0.8);
    border-radius: $border-radius;
    color: $white;
    content: attr(data-tooltip);
    font-size: $font-size--small;
    line-height: $line-height--small;
    max-width: 200px;
    padding: $space;
    position: fixed;
    visibility: hidden;
    z-index: index($hg-z-layers, tooltip);

    @include media(xl) {
        &.active {
            visibility: visible;
        }
    }
}

