.hg-c-user-settings {
    padding-bottom: $hg-global-element-height;
}

.hg-c-user-settings__headline {
    @include border('top');

    font-weight: bold;
    padding-bottom: $hg-space-xs;
    padding-top: $hg-space-m;
}

.hg-c-user-settings__paragraph {
    font-size: $font-size--regular;
}

.hg-c-user-settings__paragraph + .hg-c-user-settings__paragraph {
    padding-top: $hg-space-xxl;
}

.hg-c-user-settings__submit-button {
    padding-top: $hg-space-xl;
    width: 100%;

    @include media(xl) {
        width: percentage(7/18);
    }
}

.hg-c-user-settings-paragraph-headline-row {
    @include border('bottom');

    display: flex;
    flex-direction: column;
    padding-bottom: $hg-space-xl;

    @include media(xl) {
        flex-direction: row;
        padding-bottom: $hg-space-xs;
    }
}

.hg-c-user-settings-paragraph-headline {
    font-weight: bold;
    padding-bottom: $hg-space-xl;

    @include media(xl) {
        width: percentage(8/18);
        padding-bottom: 0;
        display: flex;
        align-items: center;
    }
}

.hg-c-user-settings-paragraph__sort {
    display: flex;
    flex-direction: column;

    @include media(xl) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: percentage(10/18);
    }
}

.hg-c-user-settings-paragraph__sort-label {
    padding-right: $hg-space-xs;

    @include media(xl) {
        display: flex;
        align-items: center;
    }
}

.hg-c-user-settings-paragraph__sort-select {
    width: 100%;

    @include media(xl) {
        width: percentage(6/10);
    }

    @include media(xxl) {
        width: percentage(4/10);
    }
}

.hg-c-user-settings-paragraph__row {
    @include border('bottom');

    display: flex;
    padding-bottom: $hg-space-xl;
    padding-top: $hg-space-xl;
    width: 100%;
}
