/* ------------------------------------ *\
    DEFAULT MENU
\* ------------------------------------ */

.menu {
    background-color: #fff;
    z-index: index($hg-z-layers, menu);

    &__list.collapsed {
        max-height: 0;
    }

    &__list-item {
        position: relative;
        padding: $space 0;

        a {
            color: $base-text-color;
            display: flex;
            font-size: $font-size--regular;
            font-weight: $font-weight--base;
            width: 100%;
        }

        [class^="icon--"],
        .fa {
            align-items: center;
            color: $grey--dark;
            display: flex;
            justify-content: center;
            width: 40px;
        }

        [class^="icon--"] {
            font-size: 18px;
        }

        .fa {
            font-size: 15px;
        }

        [class^="icon--"]:last-child,
        .fa-chevron-right,
        .fa-spinner {
            margin-left: auto;
            font-size: 16px;
        }

        img:first-child {
            display: none;
            max-width: 34px;
            max-height: 34px;
            min-width: 34px;
            min-height: 34px;
            margin-left: 16px;
            margin-right: 12px;
        }

        .co {
            line-height: 0.6;
        }

        &.active {
            a {
                color: $theme-color--dark;
            }

            [class^="icon--"],
            .fa {
                display: flex;
                color: $theme-color--dark;
            }
        }

        a:hover {
            text-decoration: none;

            [class^="icon--"],
            .fa {
                color: $theme-color--dark;
            }
        }

        &::after {
            @include border(bottom, $color: $silver);
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            z-index: index($hg-z-layers, menu);
        }

        &--separator::after {
            @include border(bottom, $color: $grey);
        }

        &--full-separator::after {
            @include border(bottom, $color: $silver);
            left: 0 !important;
        }

        &--with-image {
            padding-left: $space * 3;

            &::after {
                left: $space * 3;
            }
        }

        &--title {
            text-transform: uppercase;
            padding-left: $space * 3;
        }

        &--title::after {
            left: 0;
        }

        &--back {
            background-color: $grey--light;
        }

        &--back .fa {
            font-size: 16px;
        }

        &--back::after {
            border-color: $grey;
            left: 0;
        }
    }

    &__list-item-name {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    @include media(lg) {
        &__list.collapsed {
            max-height: 600px;
        }

        &__list-item {
            [class^="icon--"]:last-child,
            .fa-spinner,
            .fa-chevron-right {
                margin-left: auto;
            }

            img:first-child {
                display: block;
            }

            &--with-image {
                padding-left: 0;
            }

            &--with-image::after {
                left: 64px;
            }

            &.active [class^="icon--"]:last-child,
            &.active .fa-chevron-right,
            &:hover [class^="icon--"]:last-child,
            &:hover .fa-chevron-right {
                display: flex;
                color: $theme-color--dark;
            }
        }
    }

    @import "../layout/header/menu-dropdown";
    @import "../layout/customer-account/menu";
}
