/* ------------------------------------ *\
    MODAL BOX
\* ------------------------------------ */

._modal {
    position: relative;
    width: 98%;
    max-width: 800px;
    min-height: $space * 11;
    padding: ($space * 3 + 42) ($space * 3) ($space * 6);
    background: #fff;
    z-index: 9999;
    cursor: auto; //in case the modal is inside the overlay

    // @TODO: quickfix for modal on modal
    .js-modal & {
        z-index: 99999;
    }
}

._modal__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    text-decoration: none;
    color: $grey;

    &:hover {
        text-decoration: none;
    }

    &::after {
        content: $fa-var-close;
        font-family: $font-family--font-awesome;
        font-size: $font-size--medium;
        cursor: pointer;
    }
}

._modal__content {
    overflow-y: auto;
    backface-visibility: hidden; //prevents text blurriness in webkit
}

._modal__content--raw {

    h1,
    h2,
    h3 {
        font-weight: $font-weight--bold;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        margin-bottom: 1em;
    }
}

._modal__overlay {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(#000, 0.3);
    cursor: pointer;
    z-index: 9998; //one less than modal

    > * {
        position: relative;
        z-index: index($hg-z-layers, overlay);
    }

    &._modal__overlay--top-priority {
        z-index: 99998;
    }

    // @TODO: quickfix for modal on modal
    .js-modal & {
        z-index: 99998;
    }

    .blend {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: index($hg-z-layers, menu);
    }

    [data-close] * {
        pointer-events: none;
    }
}

._modal--add2cart {
    img {
        width: 100px;
        height: 100px;
    }
}

/* ------------------------------------ *\
    PDP VIDEO MODAL
\* ------------------------------------ */

.video-modal__overlay {
    display: none;
    position: absolute;
    top: $space * 4;
    left: $space * 4;
    bottom: $space * 4;
    right: $space * 4;
    z-index: 851;
    background-size: cover;
    background-repeat: no-repeat;
    &.active {
        display: block;
    }
}

.video-modal__container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 50%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        z-index: index($hg-z-layers, menu);
    }
}

/* ------------------------------------ *\
    EXIT INTENT
\* ------------------------------------ */

._modal--exit-intent {
    width: auto;

    ._modal__close {
        left: auto;
        right: 0;
        &::after {
            font-size: $font-size--large;
        }
    }

    .couponCode,
    .phone-number {
        color: #a98628;
    }

    .phone-number {
        font-size: $font-size--medium;
    }
    .couponCode {
        font-size: $font-size--xlarge;
    }

    .continueBtn {
        display: block;
        width: 160px;
        height: 30px;
        background-color: transparent;
        border: none;
        color: $theme-color;
    }

    img {
        @include border($color: #fff);
    }
}

@include media(md) {
    ._modal--add2cart {
        width: 470px;

        img {
            width: 150px;
            height: 150px;
        }
    }
}

.hg-c-modal__overlay {
    align-items: center;
    background: rgba(#000, 0.3);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.hg-c-modal__close {
    color: $grey;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2 * $space;
    margin-right: -2 *$space;

    &::after {
        content: $fa-var-close;
        cursor: pointer;
        font-family: $font-family--font-awesome;
        font-size: $font-size--large;
    }
}

a:hover {
    text-decoration: none;
}

.button-container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: -2 * $space;

    .hg-c-Button {
        margin-bottom: 2 * $space;
    }

    @include media(lg) {
        flex-direction: row;
        margin-right: -2 * $space;
        .hg-c-Button {
            margin-right: 2 * $space;
            & + .hg-c-Button {
                margin-top: 0;
            }
            flex: 1 1 auto;
        }
    }
}
