.modal-form-message {
    &._modal__overlay .panel {
        max-width: 650px;
    }

    .panel__header h3 {
        color: #fff;
        font-weight: $font-weight--bold;
    }

    .panel__body {
        display: flex;

        img {
            width: 100px;
            height: 100px;
        }
    }

    ._modal__close {
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 20px;
        padding: $space ($space * 2);
    }

    &__product-price {
        font-family: $font-family--regular;
        font-weight: $font-weight--bold;
        color: $theme-color--dark;
        font-size: $font-size--xlarge;
        line-height: 1;
    }

    &__product-price-tax-rate {
        margin-bottom: $space * 3;
    }

    &__action-buttons {
        display: flex;
        flex-direction: column;

        a {
            flex: 1 1 auto;
            margin-bottom: $space;
        }
    }

    &__related-products {
        background-color: white;
        padding: 0;
        margin-top: $space * 2;

        .panel__header {
            background-color: $silver;
            display: flex;
            justify-content: space-between;
            border: 0;
            padding: $space * 3;
        }

        .panel__body {
            padding-bottom: 0;
            border: 0;
        }
    }

    &__related-products-title {
        padding: $space * 3;
    }

    &__related-products-list {
        display: flex;
        flex-direction: column;
    }

    &__related-products-list-item {
        @include border(bottom);
        display: flex;
        flex-direction: row;
        margin-top: $space * 2;
        padding-bottom: $space * 2;
        width: 100%;
    }

    &__related-products-list-item-description {
        width: 100%;
    }

    &__related-products-list-item-image {
        margin: 0 ($space * 2);
    }

    &__related-products-list-item-title {
        margin-right: $space * 2;
        font-weight: $font-weight--bold;
    }

    &__delivery-time {
        min-height: 20px;
    }

    h2 {
        font-family: $font-family--regular;
        color: $theme-color--dark;
    }

    h6 {
        color: $grey--dark;
        font-size: $font-size--small;
    }

    &__article-list-name {
        word-break: break-all;
        font-weight: $font-weight--bold;
    }
}

@include media(md) {
    .modal-form-message {
        &__related-products {
            margin-top: 0;
            padding: 0 ($space * 3);

            .panel__header {
                background: none;
                padding: $space * 2;
            }
        }

        .panel__body {
            align-items: center;

            img {
                margin-right: $space * 8;
                width: 150px;
                height: 150px;
            }
        }

        &__action-buttons {
            flex-direction: row;

            a {
                margin: 0 ($space * 2) 0 0;
            }
        }

        &__related-products-list {
            flex-direction: row;
            justify-content: space-between;
            padding: $space * 2;
        }

        &__related-products-list-item {
            flex-direction: column;
            align-items: center;
            border: 0;
        }

        &__related-products-list-item-title {
            min-height: 40px;
        }

        &__delivery-time {
            min-height: 30px;
        }
    }
}
