/* ------------------------------------ *\
    CUSTOM CAROUSEL
\* ------------------------------------ */

.carousel {
    overflow: hidden; //before JS is loaded
    &.new-carousel { overflow: auto; }
}

.carousel__container {
    width: 9999px; //before JS is loaded
    .new-carousel & { width: 100%; }
}

.new-carousel__wrapper-outer { overflow: hidden; }

.new-carousel__wrapper {
    transition: all 0.3s $transition-ease;
    transform: translate3d(0, 0, 0);
}

.new-carousel [data-item] { float: left; }

.new-carousel__prev { left: 0; }
.new-carousel__next { right: 0; }

.new-carousel__page {
    color: $grey;
    &.active { color: $grey--dark; }

    &::before {
        font-family: $font-family--font-awesome;
        content: $fa-var-circle;
    }
}
