.notification {
    background-color: $theme-color;
    border-radius: 2px;
    color: #fff;
    display: flex;
    padding: $space * 3;
    margin-bottom: $space * 3;

    h3 {
        font-weight: $font-weight--bold;
        margin-bottom: $space;
    }

    &__icon {
        align-items: center;
        border: solid 2px #fff;
        border-radius: 40px;
        display: flex;
        font-size: 20px;
        justify-content: center;
        margin-right: $space * 3;
        max-height: 40px;
        max-width: 40px;
        min-height: 40px;
        min-width: 40px;
    }
}
