.hg-c-OrderBox {
    background-color: $grey--light;
    padding: 4 * $space;
    position: relative;
    .quantity__field__container {
        .tooltip {
            min-width: 100%;
        }
        @include media(lg) {
            position: relative;
            .tooltip {
                left: -30px;
                min-width: 180px;
            }
        }
    }

    .loading &::after {
        background-color: rgba(255, 255, 255, 0.4);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.hg-c-OrderBox__deliverystatus {
    font-size: $font-size--regular;
}

.hg-c-OrderBox__deliverystatus--instock {
    color: $green;
}

.hg-c-OrderBox__deliverystatus--outofstock {
    color: $yellow;
}

.hg-c-OrderBox__deliverystatus--hauliershipment {
    color: $yellow;
}

.hg-c-OrderBox__deliverystatus--discontinued {
    color: $red;
}

.hg-c-OrderBox__dropdown {
    background-color: $silver;

    &:focus {
        background-color: $silver;
    }
}

.hg-c-OrderBox__price-per-base-unit {
    color: $grey--dark;
}

.hg-c-OrderBox__product-sizes {
    border-bottom: 1px solid $border-default-color;
    margin-bottom: 2 * $space;
    padding-bottom: 2 * $space;
}
