.page-cancel-ordercancel {
    &.js {
        [data-toggle-step] {
            display: none;
        }

        [data-toggle-step="2"] {
            display: none !important;
        }

        [data-toggle-step].active {
            display: block;
            visibility: visible;
        }

        [data-toggle-step="2"].active.hidden {
            display: block !important;
            visibility: visible;
        }

        [data-toggle-step="2"].active.flex {
            display: flex !important;
        }
    }

    &.no-js {
        .order-cancellation__step-2 {
            margin-top: $space * 2;
        }
    }
}

.order-cancellation {
    &__buttons {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: $space * 2;
        margin-left: auto;
        width: 100%;
    }

    &__steps,
    &__step,
    &__step-icon {
        align-items: center;
        display: flex;
    }

    &__steps {
        justify-content: space-between;
        width: 100%;
    }

    &__steps > i {
        margin: 0 ($space * 2);
        font-size: 30px;
        color: $grey;

        &.active {
            color: $green;
        }
    }

    &__step-icon {
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: $silver;
        color: $grey--dark;
        font-size: $font-size--medium;
        border-radius: 50%;
        font-weight: $font-weight--bold;
        margin-right: $space * 2;

        .fa {
            display: none;
        }
    }

    &__step-text {
        display: none;
        font-weight: $font-weight--bold;
        font-size: $font-size--medium;
        color: $grey--dark;
        white-space: nowrap;
    }

    &__step {
        &.active {
            .order-cancellation__step-icon {
                background-color: $green;
                color: #fff;
            }

            .order-cancellation__step-text {
                color: $green;
            }
        }

        &.active:not(.current) {
            .order-cancellation__step-icon span:first-child {
                display: none;
            }

            .order-cancellation__step-icon .fa {
                display: block;
            }
        }
    }

    @include media(xl) {
        &__buttons {
            width: auto;
            margin-top: 0;
        }

        &__steps {
            justify-content: center;
            width: auto;
        }

        &__step-text {
            display: block;
        }

        .tooltip {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @include media(xxl) {
        &__steps > i {
            margin: 0 ($space * 8);
        }
    }
}
