.pagination {
    .btn {
        @include media(lg) {
            height: 8 * $space;
            min-width: 8 * $space;
        }
    }
    select {
        min-width: 163px;
        background-position-x: calc(100% - 20px);
        background-position-y: 7px;
        background-image: url(../../images/svg/monochrome/arrow-down.svg);
        background-size: 25px 25px;

        &:hover,
        &:focus {
            @include border($color: $grey--darker);
        }
    }
}
