.panel {
    background-color: #fff;
    box-shadow: $shadow6;
    border-radius: $border-radius;

    &__header,
    &__body,
    &__footer {
        position: relative;
        padding: $space * 3;
    }

    &__header {
        @include border(bottom, $color: $silver);
    }

    &__header--grey {
        background-color: $grey--light;
    }

    &__header--warning {
        background-color: $yellow;
        color: #fff;

        ._modal__close {
            color: $base-text-color;
        }
    }

    &__footer {
        background-color: $grey--light;
        border-radius: $border-radius;
    }

    hr {
        margin-left: -$space * 3;
        margin-right: -$space * 3;
        width: auto;
    }

    &__body hr {
        border-color: $silver;
    }

    ._modal__overlay & {
        box-shadow: $shadow3;
        cursor: default;
        max-width: 800px;
        width: calc(100% - 30px);
        max-height: calc(100% - 30px);
        overflow-y: auto;

        .panel__header {
            padding-right: 40px;
        }

        ._modal__content {
            max-height: 50vh;
            overflow: auto;
        }

        ._modal__close {
            left: auto;
            top: 50%;
            width: 40px;
            height: 40px;
            transform: translateY(-50%);

            &--top {
                top: 0;
                transform: none;
            }
        }

        ._modal__close::after {
            font-size: $font-size--medium-plus;
        }

        .panel__header.hidden + .panel__body {
            padding-top: 40px;
        }

        &--small {
            max-width: 400px;
        }

        .panel__header--warning ._modal__close {
            color: #fff;
        }
    }

    &--dialog {
        cursor: default;
        max-width: 540px;
        background-color: $white;
        padding: ($space * 2) ($space * 4);
        z-index: 200;

        .close {
            cursor: pointer;
            position: absolute;
            right: $space * 2;
            color: $grey;
            font-size: $font-size--large;
        }

        .header {
            margin: ($space * 4) 0;
            font-size: $font-size--large;
            font-weight: $font-weight--base;
            line-height: $line-height--large;
            color: $grey--darker;
        }

        .body {
            margin-bottom: $space;
            font-size: $font-size--regular;
            font-weight: $font-weight--bold;

            .content {
                margin-bottom: $space * 4;
            }

            button {
                margin-bottom: $space * 2;
            }
        }
    }
}

.hg-c-panel {
    background-color: $white;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 800px;
    max-height: calc(100% - 30px);
    overflow-y: auto;
    padding-bottom: 4 * $space;
    padding-left: 4 * $space;
    padding-right: 4 * $space;
    padding-top: 2 * $space;
}

.hg-c-panel__content {
    background-color: $green--light;
    color: $green;
    display: flex;
    padding: 4 * $space;
    margin-bottom: 4 * $space;
}

.hg-c-panel__icon {
    font-size: $font-size--large;
    margin-right: 10px;
}

.hg-c-panel__content__text {
    max-width: 100%;
    flex-shrink: 1;
}

.hg-c-panel__form input {
    border-color: $grey--dark;
    color: $grey--dark;
    height: $hg-global-element-height;
    text-align: left;

    &::-webkit-input-placeholder {
        color: $grey--dark;
    }
    &:-moz-placeholder {
        color: $grey--dark;
        opacity: 1;
    }
    &::-moz-placeholder {
        color: $grey--dark;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $grey--dark;
    }
}

.hg-c-panel__form input:valid {
    border-color: $grey--darker;
    color: $grey--darker;
}

.hg-c-panel__form input.touched.invalid {
    background-color: $red--light;
    border-color: $red;
    color: $grey--darker;
}

.hg-c-panel__form input.touched.valid {
    background-color: $green--light;
    border-color: $green;
    color: $grey--darker;
}

.hg-c-panel__form input:focus {
    border-color: $grey--darker;
}

.hg-c-panel__form-input--hide-placeholder-on-focus:focus {
    &::-webkit-input-placeholder {
        color: transparent;
    }
    &:-moz-placeholder {
        color: transparent;
    }
    &::-moz-placeholder {
        color: transparent;
    }
    &:-ms-input-placeholder {
        color: transparent;
    }
}

.hg-c-panel__form label.required::after {
    content: "";
}

/* article code panel */

.hg-c-article-panel {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 320px;
}

.hg-c-article-panel__headline {
    color: $grey--darker;
    font-size: $font-size--large;
}

.hg-c-article-panel__content {
    color: $grey--darker;
    font-size: $font-size--regular;
    padding-top: 3 * $space;
    padding-bottom: 4 * $space;
}

.hg-c-article-panel__form {
    font-size: $font-size--regular;
}

.hg-c-article-panel__form input {
    border-color: $grey--dark;
    color: $grey--dark;
    height: 8 * $space;
    text-align: left;
    margin-bottom: 5px;
}

.hg-c-article-panel__form input:valid {
    border-color: $grey--darker;
    color: $grey--darker;
}

.hg-c-article-panel__form input.touched.invalid {
    background-color: $red--light;
    border-color: $red;
    color: $grey--darker;
    text-align: left;
}

.hg-c-article-panel__form input.touched.valid {
    background-color: $green--light;
    border-color: $green;
    color: $grey--darker;
    text-align: left;
}

.hg-c-article-panel__form input:focus {
    text-align: left;
    border-color: $grey--darker;
}

.hg-c-article-panel__form label.required::after {
    content: "";
}

.hg-c-article-panel__button {
    background-color: $orange;
    @include border($color: $orange);
    color: $white;
    border-radius: 2px;
    font-weight: bold;
    height: 8 * $space;
    margin-top: 2 * $space;
    width: 100%;
}

.hg-c-article-panel__button:hover {
    @include border($color: $orange--dark);
    background-color: $orange--dark;
    color: $white;
}

.hg-c-article-panel__button:disabled {
    background-color: $white;
    @include border($color: $grey--darker);
    color: $grey--darker;
    font-weight: normal;
}

.hg-c-article-panel__button:disabled:hover {
    cursor: default;
}

.hg-c-article-error-message {
    color: $red;
    font-size: $font-size--regular;
    font-weight: bold;
    margin-bottom: 5px;
}

.hg-color-grey {
    color: $grey;
}

