.press {
    &__contact {
        margin-top: 30px;
    }

    &__downloads {
        @include border(top, $width: $space * 4, $color: $silver);
    }

    &__download {
        position: relative;
        color: #fff;

        &:hover > &--hover {
            opacity: 1;
        }

        &--hover {
            position: absolute;
            opacity: 0;
            text-align: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(29, 153, 250, 0.6);
            -webkit-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;
        }
    }

    &__show-more-state {
        display: none;
    }

    &__show-more-target {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: opacity 0.2s ease-out;
        padding: 0;
        margin-bottom: 0;
    }

    &__show-more-state:checked ~ &__show-more-wrap &__show-more-target {
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
        padding: $space * 4;
        margin-bottom: $space * 2;
    }

    &__show-more-state ~ &__show-more-trigger::after {
        content: ' mehr anzeigen';
    }

    &__show-more-state:checked ~ &__show-more-trigger::after {
        content: ' weniger anzeigen';
    }

    &__show-more-trigger {
        cursor: pointer;
        display: inline-block;
        padding: 0 ($space * 4);
        color: $theme-color--dark;
        font-size: $font-size--regular;
        line-height: 2;
        z-index: 1000;
    }
}

@include media (md) {
    .press {
        &__contact {
            margin-top: 76px;
        }
    }
}
