.product-rating {
    display: flex;
    color: $yellow;
    font-size: $font-size--small;
    line-height: $line-height;
    margin-top: $space;
    margin-bottom: $space;

    &:hover {
        cursor: pointer;
    }

    &--label {
        margin-left: $space;
        color: $grey--dark;
        line-height: 1;
    }
    &--no-rating {
        margin-bottom: $space * 4;
    }
}
