.product-staple {
    &__list-item {
        @include border($where: top);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: $space * 2;
        margin-bottom: $space * 2;
    }

    &__product-details {
        margin-bottom: $space * 2;
        width: 100%;
    }

    &__package-size {
        width: 100%;
        margin-bottom: $space * 2;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__add-to-cart {
        margin-top: $space * 2;
        width: 100%;
    }
}

@include media(md) {
    .product-staple {
        &__add-to-cart {
            width: percentage(1/2);
        }
    }
}

@include media(lg) {
    .product-staple {
        &__product-details,
        &__price {
            width: percentage(1/4);
        }

        &__package-size {
            width: percentage(1/6);
            text-align: center;
        }

        &__add-to-cart {
            margin-top: 0;
            width: percentage(1/4);
        }
    }
}

@include media(xl) {
    .product-staple {
        &__product-details {
            width: percentage(3/8);
        }

        &__price {
            width: percentage(5/24);
        }

        &__add-to-cart {
            width: percentage(1/6);
        }
    }
}
