/* ------------------------------------ *\
    CHECKOUT PROGRESS BAR
\* ------------------------------------ */

.pgr-bar {
    position: relative;
    margin: 0 auto;

    &__step {
        &::before {
            content: "";
            position: absolute;
            top: $space * 4;
            height: 1px;
            background-color: $grey;

            @include media(lg) {
                top: $space * 3;
                left: calc((100% / 6) + 35px);
            }
        }

        &--1::before {
            left: calc((100% / 6) + 30px);
            right: calc(50% + 30px);

            @include media(lg) {
                right: calc(50% + 35px);
            }
        }

        &--2::before {
            left: calc(50% + 30px);
            right: calc((100% / 6) + 30px);

            @include media(lg) {
                left: calc(50% + 35px);
            }
        }
    }

    &__number {
        width: 40px;
        height: 40px;

        [class^="icon--"] {
            display: inline-block;
            margin: -4px -4px;
            font-size: 48px;
        }

        @include media(lg) {
            width: 30px;
            height: 30px;
            [class^="icon--"] {
                margin: -3px -3px;
                font-size: 36px;
            }
        }
    }

    &__text {
        top: $space * 8;
    }
}
