.product-highlights {
    display: none;

    .fa {
        font-size: $font-size--medium;
    }

    &__title {
        font-weight: $font-weight--bold;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        flex: 1 1 auto;
        padding-bottom: $space;
    }

    &__item:last-of-type {
        padding-bottom: $space * 8;
    }
}

@include media(lg) {
    .product-highlights {
        display: block;
    }
}

@include media(xl) {
    .product-highlights {
        padding-right: $space;
    }
}
