/* ------------------------------------ *\
    PRODUCT WIDGET
\* ------------------------------------ */

.product-widget {
    margin: 0 -$space;

    #page-stapleconfigurator-stapleconfigurator & {
        overflow: visible;
    }

    .shopping-list-widget > .btn {
        height: 40px;
        width: 40px;
        padding: 0;
    }

    .shopping-list-widget [class^="icon--"] {
        @extend .center;
        font-size: 20px;
    }

    .shopping-list-widget .tooltip {
        top: 43px;
        left: auto;
        right: 0;
    }

    .shopping-list-widget .tooltip::before {
        left: auto;
        right: 12px;
    }

    .shopping-list-widget .tooltip::after {
        left: auto;
        right: 11px;
    }

    @include media(lg) {
        .shopping-list-widget > .btn {
            height: 35px;
            width: 35px;
        }
    }
}

.product-widgets__item {
    width: 100%;
    @include border($color: $silver);
    margin: 0 $space ($space * 4);

    @include media(lg) {
        width: calc(50% - 10px);
    }
    @include media(xl) {
        width: calc(33.33% - 10px);
    }
    @include media(xxl) {
        width: calc(25% - 10px);
    }

    .layout-list & {
        width: 100%;
        border: 0;
        margin-bottom: 0;
        padding-top: $space * 3;
        padding-bottom: $space * 2;
        @include border($where: 'bottom', $color: $grey);

        &:first-child {
            @include border($where: 'top', $color: $grey);
        }

        &:last-child {
            margin-bottom: $space * 3;
        }
    }
}

@include media(lg) {
    .recommendations .product-widget__image > a {
        min-height: 0;
    }
}

.product-widget__image {
    position: relative;
    width: percentage(1/3);
    padding-right: $space * 2;

    img {
        &.lazy-load-image.loaded {
            width: auto;
            max-width: 100%;
        }
    }

    .slider__content & {
        min-width: percentage(1/3);
        max-width: percentage(1/3);
    }

    @include media(lg) {
        width: 100%;
        padding: 0;

        & > a {
            min-height: 170px;
            overflow: hidden;
        }

        img {
            display: block;
            margin: 0 auto;
            max-height: 160px;
        }

        .slider__content & {
            min-width: 100%;
            max-width: 100%;
        }
    }

    .badge {
        position: absolute;
        top: 0;
        right: $space * 2;
    }

    .layout-list & {
        & > a {
            min-height: 100%;
        }

        @include media(lg) {
            width: percentage(3/12);
            .badge {
                display: none;
            }
        }

        @include media(xl) {
            width: percentage(2/18);
        }
    }

    .layout-icon & {
        margin-top: $space * 2;
    }
}

.product-widget__data {
    width: percentage(2/3);

    @include media(lg) {
        width: 100%;
    }

    .layout-list & {
        @include media(lg) {
            width: percentage(9/12);
        }

        @include media(xl) {
            width: percentage(16/18);
        }
    }
}

.product-widget__info {
    width: 100%;

    .layout-list & {
        padding: 10px ($space * 2);
        margin-top: 0;
        border: 0;

        @include media(xl) {
            padding: $space * 3;
            width: percentage(6/16);
            @include border($where: 'right', $color: $grey);
        }

        @include media(xxl) {
            padding: 0 ($space * 4);
            width: percentage(7/16);
            height: calc(100% - 5px);
            @include border($where: 'right', $color: $grey);
        }
    }
}

.product-widget__info__name {
    height: 40px;
    overflow: hidden;

    .layout-list & {
        height: auto;
        overflow: auto;
    }
}

.product-widget__buy-block {
    width: 100%;
    text-align: right;

    .layout-list & {
        @include media(xl) {
            width: percentage(10/16);
        }

        @include media(xxl) {
            width: percentage(9/16);
            height: calc(100% - 5px);
        }
    }
}

.product-widget__prices,
.product-widget__footer {
    width: 100%;
}

.product-widget__prices {
    .badge {
        display: none;
        position: absolute;
        top: 0;
        right: $space * 2;
    }

    .noprice::before {
        content: "\00a0";
        .layout-list & {
            content: "";
        }
    }

    .layout-list & {
        width: 100%;
        border: 0;

        @include media(xl) {
            height: 100%;
            width: percentage(4/10);
            padding-right: $space * 4;
            @include border($where: 'right', $color: $grey);
        }

        @include media(xxl) {
            height: 100%;
            width: percentage(4/9);
            padding-right: $space * 4;
            @include border($where: 'right', $color: $grey);
        }
    }

    .layout-list & .badge {
        @include media(lg) {
            display: block;
        }
    }
}

.product-widget__footer {
    text-align: left;

    & > .btn {
        height: $space * 8;
    }

    .layout-list & {
        padding-left: $space * 2;
        width: 100%;
        margin-top: $space * 2;

        @include media(xl) {
            width: percentage(6/10);
            margin: 0;
        }

        @include media(xxl) {
            width: percentage(5/9);
            margin: 0;
        }
    }
    .product-widget-slider & {
        padding-bottom: 48px;
    }

    & > .btn {
        padding: 9px 8px 8px;
        height: $space * 8;

        @include media(lg) {
            padding-top: 7px;
        }
    }

    .btn--buy {
        margin-left: $space;
    }
}

p.article-list {
    min-height: 25px;

    @include media(lg) {
        min-height: 30px;
    }

    & > span {
        display: inline-block;
        vertical-align: middle;
        line-height: 14px;
        margin-left: -1px;
    }

    .layout-list & {
        min-height: 25px;
    }
}

.manufacturer,
.variants {
    min-height: 16px;
}

.quantity__field {
    padding-left: $space * 2;
    padding-right: $space * 2;
}

.category-product-count-total {
    font-weight: $font-weight--bold;
}
