.product-specs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 ($space * 2);
    padding-left: 0;

    ul {
        li {
            font-size: $font-size--medium;
        }
    }

    img {
        height: $hg-headline-lineheight-s;
        width: auto;
        float: right;
    }
}

@include media(lg) {
    .product-specs {
        padding: 0 $space;
        margin-left: inherit;
        margin-right: inherit;
        padding-left: 0;
        img {
            max-width: 90%;
        }
    }
}
