.product-widget-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

    .slider__content {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
    }

    &.slider--no-buttons .slider__content {
        margin-left: 0;
        margin-right: 0;
    }

    .product-widget {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        min-width: 100%;
        padding: $space * 2;
    }

    @include media(md) {
        .product-widget {
            max-width: percentage(1 / 2);
            min-width: percentage(1 / 2);
        }
    }

    @include media(lg) {
        .product-widget {
            max-width: percentage(1 / 4);
            min-width: percentage(1 / 4);

            .page-category-listing-categorylisting & {
                max-width: percentage(1 / 3);
                min-width: percentage(1 / 3);
            }
        }

        &--bundles .product-widget {
            max-width: percentage(1 / 2);
            min-width: percentage(1 / 2);
        }
    }

    @include media(xl) {
        .product-widget {
            max-width: percentage(1 / 5);
            min-width: percentage(1 / 5);

            .page-category-listing-categorylisting & {
                max-width: percentage(1 / 4);
                min-width: percentage(1 / 4);
            }
        }

        &--bundles .product-widget {
            max-width: percentage(1 / 3);
            min-width: percentage(1 / 3);
        }
    }

    @include media(xxl) {
        .product-widget {
            max-width: percentage(1 / 6);
            min-width: percentage(1 / 6);

            .page-category-listing-categorylisting & {
                max-width: percentage(1 / 5);
                min-width: percentage(1 / 5);
            }
        }

        &--bundles .product-widget {
            max-width: percentage(1 / 4);
            min-width: percentage(1 / 4);
        }
    }
}
