.product-details__content {
    padding-bottom: $hg-global-element-height;
    display: block;
    font-size: $font-size--medium;

    &.collapsed {
        display: none;

        @include media(lg) {
            display: block;
        }
    }
}

.product-details__heading {
    @include border($where: 'top');

    cursor: pointer;
    position: relative;
    padding-bottom: 4 * $space;
    padding-top: 4 * $space;

    &.collapsed {
        & > .product-details__icon::before {
            content: $fa-var-angle-down;
        }
    }

    @include media(lg) {
        cursor: auto;
        padding-left: 0;
        padding-top: $hg-global-element-height;
    }
}

.product-details__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $space * 4;
}
