/* ------------------------------------ *\
    PRODUCT HISTORY
\* ------------------------------------ */

.product-history {
    display: none;
    margin: 20px 0;
    padding-top: 40px;
    @include border($where: 'top');

    @include media(lg) { display: block; }
}

.product-history__wrapper { //prevents jumping during pagination
    min-height: 80px;
    @include media(xl) { min-height: 120px; }
}

.product-history__item {
    border: 1px solid $grey;
    margin: 0 20px 0 0;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    position: relative;
    width: percentage(1/8);

    @include media(xl) { width: 10%; }

    @include media(xxl) {
        margin: 0 30px 0 0;
    }

    & > .tooltip {
        display: none;
        min-width: 300px;

        &::before { left: 16%; }
        &::after { left: calc(16% - 1px); }
    }

    &:hover {
        border-color: $orange;
    }

    &:hover > .tooltip { display: block; }

    &:nth-last-child(2) > .tooltip {
        left: -100px;
        &::before { left: 140px; }
        &::after { left: 139px; }
    }

    &:last-child > .tooltip {
        left: auto;
        right: -30px;

        &::before {
            left: auto;
            right: 65px;
        }

        &::after {
            left: auto;
            right: 64px;
        }
    }
}

.product-history__erase {
    position: absolute;
    bottom: 0;
    right: 0;
}

.product-history__title {
    color: #333;
    font-size: 14px;
    margin-bottom: 20px;
}

.product-history__box {
    margin-left: 10px;
}

