.product-relations {
    &__show-all-accessories {
        margin: ($space * 4) 0;
        font-weight: $font-weight--bold;

        &:hover {
            cursor: pointer;
        }
    }

    .btn {
        height: auto;

        label {
            padding: $space;
        }
    }
}
