.product-relation-highlight {
    @include border();
    width: 100%;
    border-radius: $border-radius;

    &__image {
        position: relative;
        width: 100%;
        padding-right: $space * 2;
        text-align: center;

        a {
            width: 100%;
            font-size: $font-size--medium;
        }

        .badge {
            position: absolute;
            top: $space * 2;
            right: $space * 2;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        > a {
            padding: $space ($space * 3);
        }
    }

    &__title {
        font-family: $font-family--regular;
        font-weight: $font-weight--bold;
    }

    &__details {
        @include truncate-text;
        font-size: $font-size--small;
        padding: 0 $space * 2;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    &__manufacturer-img {
        width: 100%;
        text-align: center;
    }

    &__buy-box {
        position: relative;
        background-color: $silver;
        margin: inherit;
        padding: $space * 3;
        width: 100%;
    }
}

@include media(lg) {
    .product-relation-highlight {
        &__image {
            padding: 0;

            img {
                display: block;
                margin: 0 auto;
                height: 180px;
            }
        }
    }
}
