/* ----------------------------------------------- *\
    QUANTITY WIDGET (when the button is present)
\* ----------------------------------------------- */

$quantity-widget-height: $space * 8;

.quantity-widget {

    & > .btn--buy {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        height: $quantity-widget-height;
        padding: 7px 8px;
        width: 40%;
        max-width: 75px;
    }

    & > .btn--buy > .btn--buy__wrapper > .btn--buy__icon {
        margin: 0;
        @include media(lg) {
            font-size: $font-size--large;
        }
    }

    & > .quantity {
        border-right: 0;
        width: percentage(3/4);
    }
}

/* ------------------------------------ *\
    QUANTITY FIELD (+/-)
\* ------------------------------------ */

.quantity {
    align-items: center;
    display: flex;

    &__field {
        @include border;
        background-color: $white;
        border-radius: 0;
        border-width: 1px 0;
        color: $base-text-color;
        font-weight: $font-weight--base;
        font-size: $font-size--medium;
        height: $quantity-widget-height;
        text-align: center;
        width: calc(100% - 80px);

        //remove the native arrows
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &__btn {
        @include border;
        background-color: $white;
        border-radius: 0;
        color: $orange;
        height: $quantity-widget-height;
        padding: 11px 0;
        text-align: center;
        width: 40px;

        &:hover {
            color: $orange;
            text-decoration: none;
        }

        &[disabled] {
            color: $grey;
            cursor: not-allowed;
        }

        @include media(lg) {
            padding: 8px 0;
        }
    }

    &__btn--down {
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
    }

    &__btn--up {
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    @include media(md) {
        min-width: 50%;
        width: 140px;
    }
    @include media(lg) {
        width: 100%;
    }
    @include media(xxl) {
        width: 50%;
    }
}
