/* ------------------------------------ *\
    RECOMMENDATIONS
\* ------------------------------------ */

.recommendations {

    .new-carousel {
        @include media(lg) {
            @include border($where: 'bottom');
        }
    }

    .new-carousel__wrapper-outer { margin: 0 ($space * 8); }

    /* Product widget */
    .product-widget__image .badge {
        position: absolute;
        top: 0;
        right: $space * 2;
        @include media(lg) { right: $space; }
    }

    .product-widget__footer { display: none; }
}

.recommendations.recommendations--show-add {

    .product-widget__image,
    .product-widget__data {
        width: 100%;
        padding-right: 0;
    }

    .product-widget__footer { display: block; }
}
