.search-bar {
    position: relative;
    display: flex;
    border-radius: $border-radius;
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: $font-size--regular;
        color: #b3b3b3;
        opacity: 1; /* Firefox */
        overflow: hidden;
        padding-right: 40px;
    }

    input {
        height: 40px;
        border-radius: 0 $border-radius $border-radius 0;
        color: $orange;

        &:active,
        &:focus {
            background-color: $grey--light;
        }

        @include media(lg) {
            height: 50px;
        }
    }

    button {
        background-color: $white;
        color: $orange;
        display: block;
        padding: 0;
        min-width: $hg-headline-lineheight-s;
        width: $hg-headline-lineheight-s;
        height: $hg-headline-lineheight-s;
        line-height: $hg-headline-lineheight-s;
        border-radius: $border-radius $border-radius;
        text-align: center;
        position: absolute;
        right: $space;
        top: $space;

        svg {
            min-width: 25px;

            @include media(xxl) {
                margin-right: $space;
                position: static;
            }

            path {
                fill: currentColor;
            }
        }

        span {
            display: none;

            @include media(xl) {
                display: inline-block;
                font-weight: $font-weight--bold;
            }
        }

        @include media(lg) {
            top: $space * 2;
        }

        @include media(xl) {
            top: $space;
            padding: 0 ($space * 2);
            width: auto;
            height: $hg-headline-lineheight-m;
            background-color: $orange;
            color: $white;
        }
    }

    .button__inner {
        margin-top: $space;

        @include media(xl) {
            margin-top: 11px;
        }

        @include media(xxl) {
            min-width: 100px;
        }
    }

    .custom-select {
        z-index: index ($hg-z-layers, menu);
        display: none;
        width: 120px;
        height: 50px;

        @include media(xl) {
            display: block;
        }
    }

    &__results {
        position: absolute;
        display: flex;
        top: calc(100% + 2px);
        right: 0;
        width: 100%;
        flex-wrap: wrap;
        border: 1px solid $grey;
        border-radius: 2px;

        @include media(md) {
            width: calc(100vw - 35px);
        }

        @include media(lg) {
            right: 0;
            width: 183%;
        }

        @include media(xl) {
            width: 170%;
        }

        @include media(xxl) {
            width: calc(100% - 120px);
            margin-top: 0;
        }

        &__list-item {
            &.active > a,
            &:hover > a {
                background-color: $silver;
            }

            & > a,
            & > a > img {
                height: 35px;
                line-height: 35px;
            }

            .name > span {
                color: $theme-color;
            }
        }

        #search-result-more {
            width: 100%;
        }
    }

    &__show-more-results {
        display: flex;
        justify-content: flex-end;

        @include media(lg) {
            font-size: $font-size--medium-plus;
        }
    }
}
