/* ------------------------------------ *\
    SHOPPING LIST WIDGET
\* ------------------------------------ */

.shopping-list-widget {
    position: relative;

    &__list {
        @include border(bottom);
        color: $base-text-color;
        padding: $space * 2;
        position: relative;
        width: 100%;

        &:hover {
            color: $theme-color;
            text-decoration: none;
        }
    }

    .tooltip {
        top: 47px;
        left: 0;
        min-width: 250px;
        width: 100%;
        max-width: none;
        padding: $space * 2;

        @include media(lg) {
            top: 40px;
            left: -78px;
            width: 146%;
        }

        @include media(xxl) { width: 133%; }

        &::before { left: 50%; }
        &::after { left: calc(50% - 1px); }
    }

    .tooltip__header .fa {
        position: absolute;
        top: 12px;
        right: 10px;
    }

    .tooltip__form {
        position: relative;

        & > input { padding-right: 82px; }

        & > .btn {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &.processing .shopping-list-widget__list::after,
    &.processing .tooltip__form::after {
        background-color: rgba(255, 255, 255, 0.6);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.shopping-list-widget__item:hover { background-color: $silver; }
