.slider {
    position: relative;

    &__content {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    &__button-left,
    &__button-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__button-left {
        left: 0;
    }

    &__button-right {
        right: 0;
    }

    &--no-buttons {
        .slider__button-left,
        .slider__button-right {
            display: none;
        }
    }
}
