/* ------------------------------------ *\
    SUB-HEADLINE
\* ------------------------------------ */

.subheadline {
    position: relative;
    padding-left: $space * 5;
    cursor: pointer;

    &.collapsed {
        border-bottom: 0;
        & > .subheadline__icon-right::before {
            content: $fa-var-angle-down;
        }
    }

    @include media(lg) {
        cursor: auto;
        padding-left: 0;
        &.collapsed { @include border($where: 'bottom'); }
    }
}

.subheadline__icon-left,
.subheadline__icon-right { position: absolute; }

.subheadline__icon-left {
    top: 18px;
    left: $space;
}

.subheadline__icon-right {
    top: 50%;
    transform: translateY(-50%);
    right: $space * 2;
}
