$bottonOverlap: 5px;
$transitionSpeed: 0.4s;
$switchHeight: 16px;
$buttonSize: 20px;

.switch {
    display: inline-block;
    height: $switchHeight;
    margin: 0 ($space + $bottonOverlap);
    position: relative;
    width: 35px;

    &__slider {
        background-color: $grey;
        border-radius: $switchHeight / 2;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: $transitionSpeed;

        &::before {
            background-color: $silver;
            border-radius: 50%;
            box-shadow: $shadow1;
            bottom: -1px;
            content: "";
            height: $buttonSize;
            left: -$bottonOverlap;
            position: absolute;
            transition: $transitionSpeed;
            width: $buttonSize;
        }
    }

    input {
        background: initial !important;
        border-radius: initial !important;
        height: initial !important;
        padding: initial !important;
        width: initial !important;
        position: relative;
        left: -99999em;

        &:focus {
            border-color: initial !important;
        }
    }

    input:checked + &__slider::before {
        transform: translateX(calc(100% + #{$bottonOverlap}));
    }
}


