/* ------------------------------------ *\
    TABS
\* ------------------------------------ */

.tabs {
    @include border($where: 'bottom');
}

.tab {
    background-color: #fff;
    border: 0;
    color: $orange;
    font-size: $font-size--large;
    font-weight: $font-weight--base;
    padding: $space ($space * 4);
    position: relative;
    @include border($where: 'bottom', $width: 4px, $color: $orange);

    &:active,
    &:hover {
        color: $orange;
    }

    &.collapsed {
        border-color: transparent;
        color: inherit;
    }
}

.tab__content.collapsed {
    display: none;
}

.hg-c-tabs {
    border-bottom: 1px solid $grey;
    margin-bottom: 40px;
}

.hg-c-tab {
    background-color: #fff;
    border: none;
    color: $orange;
    font-size: $font-size--large;
    font-weight: $font-weight--base;
    margin: 0;
    margin-bottom: -1px;
    padding-bottom: 20px - 4px;
    padding-left: $space * 4;
    padding-right: $space * 4;
    position: relative;
    @include border($where: 'bottom', $width: 4px, $color: $orange);

    &.collapsed {
        border-bottom: 1px solid $grey;
        color: inherit;
        padding-bottom: 20px - 1px;
    }

    &:active,
    &:hover {
        color: $orange;
    }

}

.hg-c-tab__content {
    font-size: $font-size--medium;
    line-height: $line-height--medium;

    p {
        margin-bottom: 4 * $space;
    }

    h2 {
        font-weight: bold;
    }

    &.collapsed {
        display: none;
    }
}
