$sprite: (
    amex: (
        offset-x: 0px,
        offset-y: -157px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    austria: (
        offset-x: 0px,
        offset-y: -219px,
        width: 32px,
        height: 32px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    billiger: (
        offset-x: -61px,
        offset-y: -65px,
        width: 59px,
        height: 40px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    bvmw: (
        offset-x: -105px,
        offset-y: 0px,
        width: 88px,
        height: 56px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    dachser: (
        offset-x: -198px,
        offset-y: 0px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    dhl: (
        offset-x: -198px,
        offset-y: -31px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    dpd: (
        offset-x: -61px,
        offset-y: -126px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    eps: (
        offset-x: -122px,
        offset-y: -126px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    fcunion: (
        offset-x: 0px,
        offset-y: -65px,
        width: 56px,
        height: 56px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    germany: (
        offset-x: -37px,
        offset-y: -219px,
        width: 32px,
        height: 32px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    gls: (
        offset-x: 0px,
        offset-y: -126px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    gutschein: (
        offset-x: 0px,
        offset-y: 0px,
        width: 100px,
        height: 60px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    idealo: (
        offset-x: -125px,
        offset-y: -65px,
        width: 40px,
        height: 40px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    lastschrift: (
        offset-x: -198px,
        offset-y: -62px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    mastercard: (
        offset-x: -198px,
        offset-y: -93px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    paypal: (
        offset-x: -198px,
        offset-y: -124px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    ratenkauf: (
        offset-x: -198px,
        offset-y: -155px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    rechnung: (
        offset-x: 0px,
        offset-y: -188px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    ups: (
        offset-x: -122px,
        offset-y: -157px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    visa: (
        offset-x: -61px,
        offset-y: -157px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
    vorkasse: (
        offset-x: -61px,
        offset-y: -188px,
        width: 56px,
        height: 26px,
        total-width: 254px,
        total-height: 251px,
        image: '/images/footer-sprite/footer-sprite.png'
    ),
);


@function decimal-round ($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) != number {
        @warn '#{$number} is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) != number {
        @warn '#{$digits} is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{$digits} has a unit.';
        @return $number;
    }
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @if $mode == round {
        @if $digits == 0 {
            @return round($number);
        } @else {
            @return round($number * $n) / $n;
        }
    } @else if $mode == ceil {
        @return ceil($number * $n) / $n;
    } @else if $mode == floor {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{$mode} is undefined keyword.';
        @return $number;
    }
}

@mixin sprite-size($image) {
    $xVal: decimal-round((map-get(map-get($sprite, $image), 'total-width') / 2));
    $yVal: decimal-round((map-get(map-get($sprite, $image), 'total-height') / 2));

    background-size: $xVal $yVal;
}

@mixin sprite-width($image) {
    $width: decimal-round(((map-get(map-get($sprite, $image), 'width') / 2)));
    width: $width;
}

@mixin sprite-height($image) {
    $height: decimal-round((map-get(map-get($sprite, $image), 'height') / 2) + 0.123456789, 0);
    height: $height;
}

@mixin generate-sprite-classes($className: 'sprite') {
    @each $image, $properties in $sprite {
        $x: map-get($properties, 'offset-x');
        $y: map-get($properties, 'offset-y');

        .#{$className}--#{$image} {
            background-position: $x $y;
        }
    }
}

@mixin sprite-position($image, $xPosition: 0, $yPosition: 0) {
    $xString : "'" + $xPosition + "'";
    $yString : "'" + $yPosition + "'";


    $oX : decimal-round((map-get(map-get($sprite, $image), 'offset-x') / 2));
    $oY : decimal-round((map-get(map-get($sprite, $image), 'offset-y') / 2));

    $calcX : calc( #{$oX} + #{$xPosition} );
    $calcY : calc( #{$oY} + #{$yPosition} );

    @if $oX == "0px" {
        $calcX : $xPosition;
    }


    @if $oY == "0px" {
        $calcY : $yPosition;
    }

    $x: 0px;
    $y: 0px;

    @if str-index($xString, "%") and str-index($yString, "%"){
        $x : $calcX;
        $y : $calcY;
    }
    @elseif str-index($xString, "%") {
        $x : $calcX;
        $y : ($oY + $yPosition );
    } @elseif str-index($yString, "%") {
        $x : ( $oX + $xPosition );
        $y : $calcY;
    } @else {
        $x : ( $oX + $xPosition );
        $y : ( $oY + $yPosition );
    }

    background-position: $x $y;
}

@mixin sprite-image($image) {
    background-image: url(map-get(map-get($sprite, $image), 'image'));
}


@mixin sprite($image, $xPosition: 0, $yPosition: 0) {
    @include sprite-image($image);
    @include sprite-position($image, $xPosition, $yPosition);
    @include sprite-height($image);
    @include sprite-width($image);
    @include sprite-size($image);

    background-repeat: no-repeat;
}

