// --- Headlines
$hg-headline-size-xl: 45px;
$hg-headline-size-l: 36px;
$hg-headline-size-m: 30px;
$hg-headline-size-s: 20px;
$hg-headline-size-xs: 16px;

$hg-headline-lineheight-xl: 52px;
$hg-headline-lineheight-l: 44px;
$hg-headline-lineheight-m: 40px;
$hg-headline-lineheight-s: 30px;
$hg-headline-lineheight-xs: 24px;

// --- Font Sizes
$font-size--xlarge: 30px;
$font-size--large: 20px;
$font-size--medium-plus: 16px;
$font-size--medium: 16px;
$font-size--regular-plus: 14px;
$font-size--regular: 14px;
$font-size--small: 11px;

$line-height--xlarge: 40px;
$line-height--large: 30px;
$line-height--medium: 24px;
$line-height--regular-plus: 20px;
$line-height--regular: 20px;
$line-height--small: 16px;

$base-font-family: $font-family--regular;
$base-font-size: $font-size--regular;
$base-line-height: $line-height--regular;

// --- Element Heights
$hg-global-element-height-xxl: 95px;
$hg-global-element-height-xl: 80px;
$hg-global-element-height-l: 60px;
$hg-global-element-height-m: 50px;
$hg-global-element-height: 40px;
$hg-global-element-height-s: 30px;
$hg-global-element-height-xs: 20px;
$hg-nav-bar-height: 60px;

// --- Grid
$hg-gutter-width: 10px;

// --- Spaces
$hg-space-xxs: 5px;
$hg-space-xs: 10px;
$hg-space-m: 15px;
$hg-space-xl: 20px;
$hg-space-xxl: 40px;

$hg-global-spacing: 24px;
$hg-global-spacing-tiny: 6px;
$hg-global-spacing-small: 12px;
$hg-global-spacing-large: 48px;
$hg-global-spacing-huge: 96px;

// --- Box-Shadow
$hg-box-shadow: 2px 4px 4px 0 rgba(51, 51, 51, 0.2);

// -- Z-Index
$hg-z-layers-underground: -1;
$hg-z-layers: background, menu, overlay, header, tooltip;
