<div class="container js-product-filter-pages _mb4 lg_mb0"
     data-url="/s/productfilter">
    <div class="_fit">
        <div class="cat-filters js-product-filters more-filters-hidden"
             data-url="/s/productfilter"
             data-category="78"
             data-page-product-count="60">
            <div class="cat-filters__container display--flex flex--wrap relative">
                <div class="js-filter cat-filter js-dropdown dropdown relative _fit lg_c4 xl_c6 xxl_c4 lg_px1 lg_mb2">
                    <button class="js-dropdown-button cat-filter__btn button button--grey _fit " title="Preis">
                        <span class="block relative txt--truncate _pr2">Preis</span>
                        <strong class="txt--theme-color txt--truncate block _pr2 lg_hidden"></strong>
                        <span class="fa fa-caret-down center--vertical _h2 lg_h3 txt--grey"></span>
                        <span class="fa fa-caret-up center--vertical _h2 lg_h3 txt--grey"></span>
                    </button>
                    <div class="js-dropdown-content dropdown-content cat-filter__container bg--white _b _bob _px2 _pb2 _pt3 _z1 _sh1">
                        <div class="js-filter-range" data-name="filter_price" data-min="0" data-max="162953">
                            <div class="js-range-slider js-dropdown-hideable"
                                 data-min-limit="1401"
                                 data-max-limit="6965"
                                 data-min="1401"
                                 data-max="6965"
                                 style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                <div class="range-slider__slider">
                                    <div class="js-bar bar"></div>
                                    <div class="js-handle handle _pr1" style="left: 173.859px;">
                                        <span class="fa fa-angle-left"></span>
                                    </div>
                                    <div class="js-handle handle _pl1" style="left: 0px;">
                                        <span class="fa fa-angle-right "></span>
                                    </div>
                                    <div class="js-bar-selection bar bar--selection"
                                         style="left: 0px; width: 173.859px;"></div>
                                </div>
                                <div class="range-slider__controls display--flex flex--center items--center">
                                    <div class="display--flex items--center">
                                        <input class="js-range-input-min txt--right" value="1401" title="min.">
                                        <span class="_pl1">€</span>
                                    </div>
                                    <p class="_h2 _px3 _mb0">-</p>
                                    <div class="display--flex items--center">
                                        <input class="js-range-input-max txt--right" title="max." value="6965">
                                        <span class="_pl1">€</span>
                                    </div>
                                </div>
                            </div>
                            <div class="_pt3">
                                <button class="hidden js-save js-dropdown-close _fit button button--primary">
                                <span class="button__inner">
                                    <span class="button__text ">Übernehmen</span>
                                </span>
                                </button>
                                <button class="js-cancel js-dropdown-close _fit button button--grey">
                                <span class="button__inner">
                                    <span class="button__text ">Schließen</span>
                                </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-filter cat-filter js-dropdown dropdown relative _fit lg_c4 xl_c6 xxl_c4 lg_px1 lg_mb2">
                    <button class="js-dropdown-button cat-filter__btn button button--grey _fit " title="Schneidstoff">
                        <span class="block relative txt--truncate _pr2">Schneidstoff</span>
                        <strong class="txt--theme-color txt--truncate block _pr2 lg_hidden"></strong>
                        <span class="fa fa-caret-down center--vertical _h2 lg_h3 txt--grey"></span>
                        <span class="fa fa-caret-up center--vertical _h2 lg_h3 txt--grey"></span>
                    </button>
                    <div class="js-dropdown-content dropdown-content cat-filter__container bg--white _b _bob _px2 _pb2 _pt3 _z1 _sh1">
                        <div class="js-filter-checkbox " data-name="filter_HOFA0000012">
                            <div class="cat-filter__content _mb2">
                                <div class="form__field form__field--group">
                                    <div class="form__field form__field--checkbox _mb2 js-searchable-element"
                                         data-value="SDS Max">
                                        <input id="valueSDS Max"
                                               type="checkbox"
                                               class="js-checkbox"
                                               value="SDS Max">
                                        <span class="checkbox-btn"></span>
                                        <label for="valueSDS Max" title="SDS Max (69)">
                                            SDS Max
                                            <span class="txt--grey">(69)</span>
                                        </label>
                                    </div>
                                    <div class="form__field form__field--checkbox _mb2 js-searchable-element"
                                         data-value="SDS Plus">
                                        <input id="valueSDS Plus" 
                                               type="checkbox" 
                                               class="js-checkbox" 
                                               value="SDS Plus">
                                        <span class="checkbox-btn"></span>
                                        <label for="valueSDS Plus" title="SDS Plus (144)">
                                            SDS Plus
                                            <span class="txt--grey">(144)</span>
                                        </label>
                                    </div>
                                    <div class="form__field form__field--checkbox _mb2 js-searchable-element"
                                         data-value="Zylinderschaft">
                                        <input id="valueZylinderschaft" 
                                               type="checkbox" 
                                               class="js-checkbox" 
                                               value="Zylinderschaft">
                                        <span class="checkbox-btn"></span>
                                        <label for="valueZylinderschaft" title="Zylinderschaft (76)">
                                            Zylinderschaft
                                            <span class="txt--grey">(76)</span>
                                        </label>
                                    </div>
                                    <div class="form__field form__field--checkbox _mb2 js-searchable-element"
                                         data-value="Unbekannt">
                                        <input id="valueUnbekannt" 
                                               type="checkbox" 
                                               class="js-checkbox" 
                                               value="search.unknown.facet.value">
                                        <span class="checkbox-btn"></span>
                                        <label for="valueUnbekannt" title="Unbekannt (6)">
                                            Unbekannt
                                            <span class="txt--grey">(6)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button class="hidden js-save js-dropdown-close _fit button button--primary"><span
                                    class="button__inner"><span class="button__text ">Übernehmen</span></span></button>
                            <button class="js-cancel js-dropdown-close _fit button button--grey"><span
                                    class="button__inner"><span class="button__text ">Schließen</span></span></button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="js-filters-products"></div>
    </div>
</div>