/* Category Filters */
.cat-filters {
    background-color: $silver;
    height: 100vh;
    left: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    transition: width 0.3s;
    width: 0;

    @include media(lg) {
        background-color: #fff;
        height: auto;
        left: auto;
        position: relative;
        overflow: visible;
        width: 100%;
    }

    .show-filters & {
        width: percentage(5/6);

        @include media(md) {
            width: percentage(2/3);
        }

        @include media(lg) {
            width: 100%;
        }
    }
}

.cat-filters__container {
    @include media(lg) {
        margin: 0 -$space;
    }
}

.cat-filters__reset > .fa {
    right: $space * 2;
}

.cat-filter {

    &:nth-child(3n + 2) > .cat-filter__container {
        @include media(lg) {
            right: $space;
        }

        @include media(xl) {
            right: auto;
        }
    }

    &:nth-child(4n + 2) > .cat-filter__container {
        @include media(xl) {
            right: $space;
        }

        @include media(xxl) {
            right: auto;
        }
    }

    &:nth-child(6n + 2) > .cat-filter__container {
        @include media(xxl) {
            right: $space;
        }
    }
}

.cat-filter--more {
    display: none;

    & > .btn {
        height: 40px;

        @include border($width: 1px, $color: $grey--darker);
        border-radius: $border-radius;
    }
}

.more-than-six {

    @include media(lg) {
        .cat-filter--more {
            display: block;
        }

        .hidden-lg,
        .hidden-xl,
        .hidden-xxl {
            display: none;
        }
    }
}

.equal-to-eight {

    @include media(lg) {
        .cat-filter--more {
            display: block;
        }
    }

    @include media(xl) {
        .hidden-lg {
            display: block;
        }

        .cat-filter--more {
            display: none;
        }
    }
}

.more-than-eight {

    @include media(xl) {
        .hidden-lg {
            display: block;
        }

        .hidden-xl,
        .hidden-xxl {
            display: none;
        }
    }
}

.cat-filter__content {
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cat-filter__btn {
    border-radius: 0;
    border-top-width: 0;
    height: auto;
    text-align: left;
    background-color: $grey--light;

    @include media(lg) {
        border-radius: $border-radius;
        border-top-width: 1px;
        height: 40px;
    }

    &.active {

        @include media(lg) {
            &::after {
                background-color: #fff;
                bottom: -$space;
                content: "";
                height: $space;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }

        & > .txt--truncate {
            max-height: 36px;
            white-space: normal;
            word-wrap: break-word;
            z-index: index($hg-z-layers, menu);
        }
    }

    & > .fa {
        right: $space * 3;

        &::before {
            color: $black;
        }
    }
}

.cat-filter__container {

    @include media(lg) {
        position: absolute;
        width: 130%;
    }

    .fa-search {
        right: $space * 2;
    }
}

/* Nothing found */
.nothing-found__container {
    //background: url('../images/no-result-bg.jpg') center;
    background-size: cover;
}

.nothing-found__result-box a {
    color: #fff;
    text-decoration: underline;
}

/* Category CMS pages */
.popular-category__container {
    margin: 0 (-$space);
}

.popular-category {
    min-height: 175px;
    overflow: hidden;

    & > .btn {
        bottom: $space * 2;
        position: absolute;
        right: $space * 2;
    }
}

.popular-category__image {
    background: no-repeat center;
    background-size: contain;
    bottom: 0;
    height: 130px;
    left: 0;
    position: absolute;
}

.cat-brand-logo__container {
    @include media(lg) {
        justify-content: center;
    }
}

.cat-brand-logo img {
    max-height: 36px;

    @include media(lg) {
        max-height: 24px;
    }

    @include media(xl) {
        max-height: 36px;
    }
}