.cat-filters {
    background-color: #fff;
    height: auto;
    left: auto;
    position: relative;
    overflow: visible;
    width: 100%;
}

.cat-filter {
    position: relative;
    width: 33.33333%;
    max-width: 240px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.cat-filter__container {
    background-color: white;
    position: absolute;
    width: 130%;
}

.cat-filter__content {
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cat-filter__btn {
    text-align: left;
    background-color: #f5f5f5;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    border-top-width: 1px;
    height: 40px;
    padding: 0 20px;
    text-align: left;
    -webkit-box-pack: left!important;
    -webkit-justify-content: left!important;
    -ms-flex-pack: left!important;
    justify-content: left!important;
}

.cat-filters .opened .cat-filter__btn {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    position: relative;
    z-index: 200;
}

.cat-filters .opened .cat-filter__btn::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
}

.cat-filter__btn > .fa {
    right: 10px;
}

.range-slider__slider {
    position: relative;
    height: 20px;
    top: 10px;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 2px;
    background: grey;
}

.bar--selection {
    background-color: blue;
}

.handle {
    position: absolute;
    z-index: 5;
    height: 20px;
    width: 20px;
    top: -40%;
    border-radius: 50%;
    background-color: white;
}

.handle:nth-of-type(1) {
    left: 0;
}

.handle:nth-of-type(2) {
    right: 0;
}

.range-slider__controls {
    padding-top: 18px;
}

.range-slider__controls input {
    max-width: 60px;
}

.range-slider__slider {
    position: relative;
    height: 20px;
    top: 10px;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 2px;
    background: #cdcdcd;
}

.bar--selection {
    background-color: #ff7000;
}

.handle {
    position: absolute;
    z-index: 500;
    height: 20px;
    width: 20px;
    top: -40%;
    border-radius: 50%;
    background-color: #e7e7e7;
    box-shadow: 0 1px 2px 0 #cdcdcd;;
}

.handle:nth-of-type(1) {
     left: 0;
}

.handle:nth-of-type(2) {
     right: 0;
}


.range-slider__controls {
    display: flex;
    padding-top: 18px;
}

.range-slider__controls input {
    max-width: 60px;
}

.hidden {
    display: none;
}

._sh1 {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

button { outline: none; }

.dropdown .fa-caret-up {
    display: none;
}

.dropdown .fa-caret-down {
    display: inline;
}

.dropdown.opened .fa-caret-down {
    display: none;
}

.dropdown.opened .fa-caret-up {
    display: inline;
}