.ca-addresses {
    .ca-subheader {
        height: 60px;
    }

    &--with-addresses {
        .ca-subheader {
            height: 130px;
        }

        .menu--has-subheader.menu--addresses {
            margin-top: -290px;
        }
    }

    &__address {
        .fa {
            color: #607d8b; // special color?
            font-size: $font-size--medium-plus;
            margin-right: $space * 2;
        }
    }

    &__default-actions {
        white-space: nowrap;
    }

    &__info-link {
        align-items: center;
        background-color: $theme-color;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        height: 24px;
        justify-content: center;
        margin-left: $space;
        width: 24px;

        &:hover {
            background-color: $theme-color--dark;
            text-decoration: none;
        }
    }

    a[disabled] {
        color: $grey--dark;
        pointer-events: none;
    }

    .menu--has-subheader.menu--addresses {
        margin-top: -220px;
    }

    &--with-addresses {
        .menu--has-subheader.menu--addresses {
            margin-top: -290px;
        }
    }
}

.customer-account-addresses form label:not(.checkbox):not(.custom-radio) {
    font-weight: $font-weight--bold;
}

.customer-account-addresses form label.custom-radio::after {
    display: none;
}

#all-addresses {
    .ca-addresses__address .fa {
        color: $grey;
    }
}

@include media(lg) {
    .ca-addresses {
        .menu--has-subheader.menu--addresses {
            margin-top: -160px;
        }

        &--with-addresses {
            .menu--has-subheader.menu--addresses {
                margin-top: -230px !important;
            }
        }
    }
}

@include media(xl) {
    .ca-addresses {
        &--with-addresses {
            .ca-subheader {
                height: 60px;
            }

            .menu--has-subheader.menu--addresses {
                margin-top: -160px !important;
            }
        }
    }
}
