.ca-content {
    padding-top: $space * 4;

    &--overview {
        display: none;
    }

    &--shopping-list {
        input[name="newName"] {
            height: 40px;
            padding-top: $space * 2;
            padding-bottom: $space * 2;
        }

        input.ng-invalid.ng-touched {
            background-position: calc(100% - 10px) -93px;
        }
    }
}

@include media(lg) {
    .ca-content {
        &--overview {
            display: block;
        }
    }
}
