/* ------------------------------------ *\
    CUSTOMER ACCOUNT HEADER
\* ------------------------------------ */

.ca-header {
    display: flex;
    text-align: center;
    color: #fff;
    height: 100px;
    flex-direction: column;
    justify-content: center;

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 36px;
        line-height: 1em;
    }

    h3 {
        font-size: $font-size--medium;
        font-weight: $font-weight--bold;
        line-height: 1em;
        padding-bottom: 8px;
    }

    @each $page in $customer-account-pages {
        &--#{$page} {
            margin-top: 60px;
        }
    }

    // @TODO remove after it has landed in $customer-account-pages
    &--shopping-list,
    &--profile,
    &--addresses,
    &--newsletters,
    &--offers {
        margin-top: 60px;
    }

    @each $header-background-class, $header-background-color in $customer-account-page-colors {
        &--#{$header-background-class} {
            background-color: $header-background-color;
        }
    }

    &--overview {
        display: none;
    }
}

@include media(lg) {
    .ca-header {
        text-align: left;
        margin-top: 0;

        &--overview {
            display: flex;
        }
    }
}
