/* ------------------------------------ *\
    CUSTOMER ACCOUNT MENU
\* ------------------------------------ */

.menu--customer-account {
    box-shadow: none;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;

    .menu__header {
        position: relative;
        padding-bottom: $space * 4;
        min-height: 60px;
        font-size: $font-size--medium;
        @include border('bottom', 1px, solid, $silver);
    }

    .menu__list-item {
        font-size: $font-size--regular;
        font-weight: $font-weight--base;
        color: $grey--darker;
        height: $space * 10;
        padding: ($space * 2) 0;

        img:first-child {
            display: block;
            min-width: $space * 6;
            min-height: $space * 6;
            width: $space * 6;
            height: $space * 6;
            margin-left: 0;
        }

        a {
            align-items: center;

            :hover {
                color: $orange;
            }
        }

        &.active a {
            color: $grey--darker;
            font-weight: $font-weight--bold;
        }

        .badge {
            margin-left: $space * 3;
        }

        [class^="icon--"] {
            width: auto;
            color: $orange;
            font-size: 20px;
        }
    }

    @include media(lg) {
        padding-bottom: $space * 12;
        margin-left: -($space * 2);
        margin-right: -($space * 2);

        .menu__header {
            &::after {
                display: none;
            }
        }

        .menu__footer {
            &.collapsed {
                @include border('top');
                max-height: 600px;
                padding: $space * 4;
            }
        }

        .menu__list-item {
            padding: ($space * 2) 0;
        }
    }
}
