.password {
    .panel {
        &__body {
            display: flex;
            flex-wrap: wrap;
            margin-top: $space * 3;
        }

        &__footer {
            display: flex;
            justify-content: flex-end;
        }
    }
}
