.shopping-list-usps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__item {
        display: flex;
        align-items: center;
        background-color: $grey--light;
        min-width: 100%;
        margin-bottom: $space * 2;
        padding: $space * 2;

        h3 {
            font-weight: $font-weight--bold;
        }
    }

    &__content {
        padding-top: $space * 2;
        padding-bottom: $space * 2;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $silver;
        margin-right: $space * 2;
        font-size: 60px;
    }

    @include media(xxl) {
        flex-wrap: nowrap;
        margin-left: -($space * 2);
        margin-right: -($space * 2);

        &__item {
            min-width: 0;
            padding: $space * 4;
            margin: 0 ($space * 2);
        }

        &__icon {
            font-size: 80px;
        }
    }
}
