/* ------------------------------------ *\
    CUSTOMER ACCOUNT SUBHEADER
\* ------------------------------------ */

.ca-subheader {
    background-color: #fff;
    height: 80px;

    .container {
        align-items: center;
    }

    &,
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .page-order-details-orderdetails & {
        height: 200px;
    }

    .page-offer-details-offerdetails & {
        height: 180px;
    }

    .customer-account-customer-account-settings &,
    .customer-account-customer-user-management &,
    .customer-account-profile & {
        display: none;
        height: 40px;

        a {
            margin-right: $space * 8;
        }
    }

    .page-orders-orders & {
        height: 100px;
    }

    .page-offers-offers & {
        height: 180px;
    }

    .page-shopping-list-index & {
        height: 180px;
    }

    .page-items-indexlist & {
        height: 160px;
    }

    .icon--pdf {
        margin-right: $space;
        font-size: $font-size--medium-plus;
    }

    hr {
        @include border(bottom, $color: $silver);
    }
}

@include media(lg) {
    .ca-subheader {
        .page-offer-details-offerdetails & {
            height: 130px;
        }

        // revert lg styles from _select.scss
        select,
        input {
            height: 40px;
            padding-top: $space * 2;
            padding-bottom: $space * 2;
        }

        select {
            background-position: calc(100% - 10px) - 10px;
        }

        input.ng-invalid.ng-touched {
            background-position: calc(100% - 10px) -93px;
        }

        .page-orders-orders & {
            height: 70px;
        }

        .page-offers-offers & {
            height: 130px;
        }

        .customer-account-customer-account-settings &,
        .customer-account-customer-user-management &,
        .customer-account-profile & {
            display: flex;
        }

        .page-items-indexlist & {
            height: 130px;
        }
    }
}

@include media(xl) {
    .ca-subheader {
        .page-offer-details-offerdetails &,
        .page-order-details-orderdetails & {
            height: 120px;
        }

        .page-shopping-list-index & {
            height: 80px;
        }
    }
}

@include media(xxl) {
    .ca-subheader {
        .page-order-details-orderdetails &,
        .page-offer-details-offerdetails &,
        .page-offers-offers &,
        .page-items-indexlist & {
            height: 80px;
        }
    }
}
