.ca-widget table {
    padding: $space * 4;

    th {
        color: $grey--darker;
        font-size: $font-size--small;
        font-weight: $font-weight--base;
        vertical-align: middle;
        padding: 0 0 $space * 2;
    }

    td {
        @include border($where: top, $color: $grey);
        height: $space * 8;
        padding: 0;
        vertical-align: middle;
    }

    th:last-child,
    td:last-child {
        text-align: right;
    }

    a:hover {
        text-decoration: underline;
    }
}

.ca-table {
    th:last-child,
    td:last-child {
        text-align: right;
    }

    th:last-child,
    td:last-child,
    th:first-child,
    td:first-child {
        padding: ($space * 2) ($space * 3);
    }

    th {
        border: 0;
        background-color: $grey--light; //TODO: should be $grey--lighter if the page background color is $grey--light
        color: $grey--dark;
        vertical-align: middle;
    }

    td {
        vertical-align: top;
        background-color: #fff;
        border-color: $silver;

        &.ellipsis {
            max-width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            a {
                display: inline;
            }
        }
    }

    i {
        color: $grey;
        font-size: 16px;
    }

    tfoot tr:first-child td {
        @include border(top);
    }
}

.ca-table {
    &--order,
    &--offer,
    &--shopping-lists,
    &--shopping-list {
        box-shadow: $shadow6;

        thead {
            display: none;
        }

        th,
        td {
            padding: $space * 3 !important;
        }

        td {
            vertical-align: top;
        }

        td:nth-child(2) {
            padding-left: 0 !important;
        }

        th:last-child,
        td:last-child {
            text-align: left;
        }

        tfoot select {
            max-width: 100px;
        }
    }

    &--order {
        td:nth-child(3),
        td:nth-child(5),
        td:nth-child(6),
        td:nth-child(7) {
            display: none;
        }

        .icon--pdf {
            font-size: 18px;
            margin-right: $space;
        }
    }

    &--offer {
        td {
            display: none;
            vertical-align: top;

            &:nth-child(1),
            &:nth-child(2) {
                display: table-cell;
            }
        }

        tr.not-pending td {
            color: $grey--dark;
        }
    }

    &--order-details {
        box-shadow: $shadow6;

        &__address-box {
            max-width: 350px;
        }

        th,
        td {
            position: relative;
            padding: $space * 3 !important;
        }

        td:last-child,
        th:last-child {
            text-align: left;
        }

        th .fa {
            position: absolute;
            right: $space * 2;
            top: 50%;
            transform: translateY(-50%);
            color: $theme-color;
        }

        th .fa-chevron-down {
            display: none;
        }

        th.collapsed .fa-chevron-down {
            display: block;
        }

        th.collapsed .fa-chevron-up {
            display: none;
        }

        td {
            vertical-align: top;
        }

        tbody.collapsed {
            display: none;
        }

        .js-collapsible {
            cursor: pointer;
        }

        + .ca-table--order-details {
            @include border(top, $color: $silver);
        }
    }

    &--offer-items {
        box-shadow: $shadow6;

        img {
            max-width: 48px;
            max-height: 48px;
        }

        th,
        td {
            padding: $space * 3;
        }

        tbody td:first-child {
            width: 1px;
        }

        tbody td:nth-child(2) {
            padding-left: 0;
        }

        thead,
        td:nth-child(3),
        td:nth-child(4),
        td:nth-child(5),
        tfoot td:first-child {
            display: none;
        }

        tfoot tr:first-child td {
            border-top: 0;
            background-color: $grey--light;
        }
    }

    &--invoice-settings {
        td:first-child {
            vertical-align: middle;
        }

        td:last-child {
            padding-left: 0;
            text-align: left;
        }

        label {
            font-weight: $font-weight--bold;
        }

        .checkbox {
            padding-left: 0;
        }
    }

    &--users {
        th,
        td,
        td:first-child,
        td:last-child {
            padding: $space * 3;
        }

        td:nth-child(2) {
            padding-left: 0;
        }

        .fa-user,
        [class^="icon--"] {
            font-size: $font-size--medium-plus;
        }

        thead {
            display: none;
        }

        td {
            &:nth-child(1),
            &:nth-child(2) {
                display: table-cell;
            }

            display: none;
        }

        .txt--truncate {
            max-width: 180px;
        }
    }

    &--shopping-lists {
        td:nth-child(3),
        td:nth-child(4),
        td:nth-child(5) {
            display: none;
        }
    }

    &--shopping-list {
        tbody td:first-child img {
            min-width: 70px;
        }

        thead {
            th:nth-child(3),
            th:nth-child(4) {
                min-width: 130px;
            }
        }

        tbody {
            td:nth-child(3),
            td:nth-child(4),
            td:nth-child(5) {
                display: none;
            }
        }

        tfoot {
            td {
                background-color: $grey--light;
                border-top: 0 !important;
                padding: $space * 3 !important;
            }

            td:nth-child(1),
            td:nth-child(2) {
                display: none;
            }
        }
    }
}

.hg-c-articlecodelist {
    > .hg-c-articlecodelist__row {
        @include border($where: top, $color: $grey);
        font-size: $font-size--regular;
        font-weight: $font-weight--base;
        padding: ($space * 4) 0;
    }

    .hg-c-articlecodelist__row:last-child {
        @include border($where: bottom, $color: $grey);
    }
}

@include media(md) {
    .ca-table {
        &--shopping-lists {
            thead {
                display: table-header-group;
            }

            td:nth-child(3),
            td:nth-child(4),
            td:nth-child(5) {
                display: table-cell;
            }
        }
    }
}

@include media(lg) {
    .ca-table {
        &--order-details__address-box {
            max-width: 430px;
        }
    }
}

@include media(xl) {
    .ca-table {
        &--order-details__address-box {
            max-width: 640px;
        }

        &--offer,
        &--order-details,
        &--shopping-list {
            thead {
                display: table-header-group;
            }
        }

        &--offer {
            th {
                vertical-align: top;
            }

            td {
                display: table-cell;
                vertical-align: middle;
            }
        }

        &--users {
            thead {
                display: table-header-group;
            }

            td {
                display: table-cell;
            }

            .txt--truncate {
                max-width: 300px;
            }
        }

        &--shopping-list {
            thead th:nth-child(2) {
                display: none;
            }

            tbody {
                td:nth-child(4),
                td:nth-child(5) {
                    display: table-cell;
                }
            }

            tfoot {
                td:nth-child(1) {
                    display: table-cell;
                }
            }
        }
    }
}

@include media(xxl) {
    .ca-table {
        &--order {
            thead {
                display: table-header-group;
            }

            td:nth-child(3),
            td:nth-child(5),
            td:nth-child(6),
            td:nth-child(7) {
                display: table-cell;
            }
        }

        &--offer-items {
            thead {
                display: table-header-group;
            }

            td:nth-child(3),
            td:nth-child(4),
            td:nth-child(5),
            tfoot td:first-child {
                display: table-cell;
            }
        }

        &--order-details__address-box {
            max-width: 140px;
        }

        &--shopping-list {
            thead th:nth-child(2) {
                display: table-cell;
            }

            tbody {
                td:nth-child(3) {
                    display: table-cell;
                }
            }

            tfoot {
                td:nth-child(2) {
                    display: table-cell;
                }
            }
        }
    }
}
