.ca-widget-wrapper {
    display: flex;
    width: 100%;
    min-height: 400px;
    position: relative;

    &.loading {
        display: block;
        width: 100%;
    }

    .fa-spin {
        color: $theme-color;
        font-size: 30px;
        left: calc(50% - 21px);
        position: absolute;
        top: calc(50% - 21px);
    }
}

.ca-widget {
    @include border($color: $grey);
    width: 100%;
    background-color: #fff;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h2 {
        a {
            background-color: $grey--light;
            color: $grey--darker;
            display: block;
            font-size: $font-size--medium;
            font-weight: $font-weight--bold;
            padding: ($space * 3) ($space * 4);
            position: relative;
        }

        img {
            margin-top: -$space;
            float: right;
            width: 40px;
            height: 40px;
        }
    }

    p {
        height: 100px;
        padding: $space * 3;
    }

    &__footer {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;
        margin-bottom: $space * 4;
        padding: 0 $space * 4;
    }

    &__button {
        @include border($width: 1px, $color: $grey--darker);
        border-radius: 2px;

        .button__text {
            font-weight: $font-weight--base;
        }
    }
}
