&--header-dropdown {
    border-radius: $border-radius;
    color: $base-text-color;
    display: none;
    left: 50%;
    max-width: 230px;
    min-width: 230px;
    position: absolute;
    top: calc(100% + 15px);
    transform: translateX(-50%);
    box-shadow: $shadow3;

    .hover & {
        display: block;
    }

    &__header {
        @include border($where: bottom, $color: $silver);
        padding: ($space * 4) 0 ($space * 4);

        h3 {
            margin-left: $space * 3;
            width: calc(100% - 30px);
        }
    }


    @each $customer-account-page-class, $customer-account-page-color in $customer-account-page-colors {
        .menu__list-item.#{$customer-account-page-class} a:hover {
            text-decoration: none;
            color: $theme-color;

            .fa,
            [class^="icon--"] {
                color: $customer-account-page-color;
            }
        }
    }

    &__list-item {
        .header__nav-item--account & {
            .fa,
            .icon--wishlist-icon {
                color: $grey--dark;
                font-size: 16px;
            }

        }

        .fa,
        [class^="icon--"] {
            width: 50px;
        }

        &--without-icon {
            &::after {
                border: 0;
            }

            a:hover {
                background-color: #fff;
                color: $blue;
            }

            a {
                font-weight: $font-weight--base;
                padding: 0 0 0 ($space * 10);
            }
        }

        & + &--without-icon {
            padding-top: $space * 2;
        }

        &--without-icon + & {
            margin-top: $space * 2;

            &::before {
                @include border(top, $color: $silver);
                top: 0;
                content: "";
                left: 40px;
                position: absolute;
                right: 0;
                z-index: index($hg-z-layers, menu);
            }
        }

        &::after {
            left: 50px;
        }
    }

    &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff;
        position: absolute;
        bottom: calc(100% - 5px);
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        background: transparent;
        content: "";
        height: 23px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -23px;
    }
}
