<form class="js-searchbar relative"
      name="navSearchForm"
      action="/search"
      method="GET"
      autocomplete="off"
      novalidate>
    <input type="hidden">
    <div class="search-bar">
        <div class="js-custom-select hidden">
            <div class="custom-select">
                <div class="custom-select__value">
                    <div class="js-custom-select__value">
                        <div>Alle Kategorien</div>
                    </div>
                </div>
                <span class="fa fa-angle-down"></span>
                <div class="custom-select__dropdown"><select name="c" class="js-custom-select__list">
                    <option value="" selected="">Alle Kategorien</option>
                    <option value="997">7 Greif-, Schneid- und Schlagwerkzeuge</option>
                    <option value="996">6 Schraubwerkzeuge</option>
                    <option value="992">2 Modulare Zerspanung</option>
                    <option value="ikgg">Elektrowerkzeuge und Werkstattbedarf</option>
                    <option value="991">1 Monozerspanung</option>
                    <option value="ingg">Persönliche Schutzausrüstung</option>
                    <option value="BMECat0">0 Elektrowerkzeuge und Werkstattbedarf</option>
                    <option value="mdgg">Monozerspanung</option>
                    <option value="1000">Sonderartikel</option>
                    <option value="nogg">Modulare Zerspanung</option>
                    <option value="nfgg">Spanntechnik</option>
                    <option value="opgg">Messtechnik</option>
                    <option value="pkgg">Schleif- und Trenntechnik</option>
                    <option value="pdgg">Schraubwerkzeuge</option>
                    <option value="aogg">Greif-, Schneid- und Schlagwerkzeuge</option>
                    <option value="bjgg">Hand- und Montagewerkzeuge</option>
                    <option value="bagg">Betriebseinrichtungen</option>
                    <option value="cngg">Merchandising</option>
                    <option value="emgg">Sonderartikel</option>
                    <option value="hgig">Sonstiges</option>
                </select></div>
            </div>
        </div>
        <input class="js-searchbar-input reset-validation" name="q" type="text"
               id="search-input"
               tabindex="1"
               placeholder="Suchen nach Produktname, EAN/GTIN, Artikelnummer, Kategorie">
        <button type="submit" class="js-search button-header--search" id="search-button">
            <div class="button__inner button__inner--search">
                <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5
                        131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399
                        124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5
                        55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" fill="#FFF"></path>
                </svg>
                <span class="search-bar__btn-text">FINDEN</span>
            </div>
        </button>
    </div>
    <div data-suggested-headline="Suchvorschläge" data-suggested-none-headline="Keine passenden Produkte gefunden"
         data-products-headline="Produktvorschläge" data-show-more-headline="weitere Suchergebnisse"
         data-tracking-ref-suggestions="" data-tracking-ref-products="" id="search-flyout"
         class="js-search-result-list hidden"></div>
</form>