<template>
    <div>
        <span>
            <h1>Product search</h1>
            Find products by term
        </span>
        <Preview
            :responsePanel="true"
            :propName="name"
            :propRawHtml="rawHtml"
            :propRawStyle="rawStyle"
            :propRawScript="rawScript">
        </Preview>
        <Editor
            :propRawHtml="rawHtml"
            :propRawStyle="rawStyle"
            :propRawScript="rawScript"
            v-on:style-change="onStyleChange"
            v-on:script-change="onScriptChange"
            v-on:html-change="onHtmlChange">
        </Editor>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import Preview from '@/components/Preview.vue';
    import Editor from '@/components/Editor.vue';
    import styleExample from '!!raw-loader!./ProductSearch.raw.css';
    import scriptExample from '!!raw-loader!./ProductSearch.raw.ts';
    import templateExample from '!!raw-loader!./ProductSearch.raw.html';

    @Component({
        components: {
            Preview,
            Editor,
        },
    })
    export default class Example extends Vue {
        protected name: string = 'example';
        protected rawStyle: string = styleExample || '';
        protected rawScript: string = scriptExample || '';
        protected rawHtml: string = templateExample || '';

        constructor() {
            super();
        }

        protected onStyleChange(val: any) {
            this.rawStyle = val;
        }
        protected onScriptChange(val: any) {
            this.rawScript = val;
        }
        protected onHtmlChange(val: any) {
            this.rawHtml = val;
        }
    }

</script>

<style lang="scss" scoped>
</style>