.search-bar {
  border-radius: 2px;
  background-color: #ff7000;
  height: 80px;
  text-align: center;
  padding-top: 16px;
}

.search-bar input {
  height: 50px;
  border-radius: 0 2px 2px 0;
  color: #ff7000;
  background-color: #fff;
  width: 670px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 10px;
}

.search-bar input:active,
.search-bar input:focus {
  background-color: #f5f5f5;
}

.search-bar button {
  top: 21px;
  padding: 0 23px;
  width: auto;
  height: 40px;
  background-color: #ff7000;
  color: #fff;
  position: absolute;
  right: 29%;
  font-weight: bold;
  border-radius: 2px;
}

.search-bar button svg {
  margin-right: 5px;
  vertical-align: sub;
}

.hidden {
  display: none;
}