/* ------------------------------------ *\
    BRANDPAGES
\* ------------------------------------ */

$brandpage-carousel-height: 274px;
$brandpage-carousel-image-height: 168px;

.brandpage__logo img { max-height: 50px; }

.brandpage__banner > img {
    top: 0;
    height: $brandpage-carousel-height;

    @include media(xl) {
        height: auto;
        width: 100%;
    }
}

.brandpage__carousel__item {
    position: relative;
    height: $brandpage-carousel-height;

    img {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: $brandpage-carousel-image-height;
        margin-left: -$brandpage-carousel-image-height / 2;
    }

    @include media(xl) {

        &.first img,
        &.last img { margin-left: 0; }

        &.first img { left: 0; }

        &.last img {
            left: auto;
            right: 0;
        }
    }
}

.brandpage__carousel {
    position: relative;
    overflow: hidden;

    .brandpage__carousel__btn { position: absolute; }
}

.brandpage__carousel__link {
    overflow: hidden;

    & > img { transition: transform 0.2s ease-in; }
    &:hover > img { transform: scale(1.1); }
}

.brandpage__carousel__btn {
    position: relative;
    bottom: 0;
    left: 0;

    &::after {
        content: "\f105";
        font-family: $font-family--font-awesome;
        position: absolute;
        top: 17px;
        right: $space * 2;
        color: $theme-color;
    }
}

.brandpage__ind_box {
    padding-right: 45px;

    & > .btn {
        position: absolute;
        right: $space * 2;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }
}

.brandpage__ind_img-box > h1 {

    @include media(lg) {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(#fff, 0.85);
    }
}
