/* ------------------------------------ *\
    CART PAGE
\* ------------------------------------ */

$cart_image_width: 100px;

.cart__img {
    max-width: $cart_image_width;
    object-fit: contain;
    width: 100%;
}

.cart__select {
    margin: 0 0 0 ($cart_image_width + $space * 2);
    @include media(lg) {
        margin: 0 ($space * 8) 0 0;
    }
}

.cart__item__remove {
    top: $space * 2;
    right: $space * 2;

    @include media(lg) {
        position: relative;
        top: $space;
        float: left;
    }
}

.cart__item__remove--shoplist {

    @include media(lg) {
        top: 0;
    }
}

.cart__shipping-box {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: "";
        top: 100%;
        height: 0;
        width: 0;
        margin-left: -9px;
        @include border($width: 9px, $color: transparent);
    }

    &::before {
        border-top-color: $white;
        z-index: index($hg-z-layers, menu);
        right: 29px;

        @include media(lg) {
            top: 17px;
            right: -18px;
            border-left-color: $white;
            border-top-color: transparent;
        }
    }

    &::after {
        right: 28px;
        border-top-color: $border-default-color;
        border-width: 10px;

        @include media(lg) {
            top: 16px;
            right: -20px;
            border-top-color: transparent;
            border-left-color: $border-default-color;
        }
    }
}

.cart__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($grey--darker, 0.7);
}

.cart__overlay__icon {
    font-size: 40px;
}

.to-checkout-button {
    height: 60px;
    width: 100%;

    span {
        font-size: 16px;
        font-weight: $font-weight--bold;
    }
}

.continue-shopping-button {
    height: 60px;
    width: 100%;

    span {
        font-size: 16px;
        font-weight: $font-weight--base;
    }
}

.manufacturer_name {
    min-height: 16px;
}

.cart-span-icon {
    font-size: 18px;
    line-height: 18px;
    vertical-align: sub;
}

.tuev-img {
    width: 40px;
    height: 40px;
    margin: $space * 2;
}

.certificate-img {
    width: 60px;
    height: 60px;
}

.cart-header {
    min-height: 60px;
    margin-top: -10px;
}

.summary-container {
    background-color: $grey--light;
    flex-direction: row;
    .voucher-container {
        order: 3;
    }
    .certificate-container {
        order: 1;
    }
    .summary-container {
        order: 2;
    }

    @include media(xl) {
        .voucher-container {
            order: 1;
        }
        .certificate-container {
            order: 2;
        }
        .summary-container {
            order: 3;
        }
    }
}

.bottom-cart-buttons {
    flex-direction: row;
    .continue-shopping-div {
        order: 2;
    }
    .to-checkout-div {
        order: 1;
        margin-bottom: $space * 2;
    }

    @include media(lg) {
        .continue-shopping-div {
            order: 1;
        }
        .space-between {
            order: 2;
        }
        .to-checkout-div {
            order: 3;
            margin-bottom: 0;
        }
    }
}

.product_amount {
    @include media(lg) {
        margin-left: 0;
    }

    @include media(md) {
        .quantity {
            width: 100%;
        }
    }
}

.submit-voucher-button {
    min-height: 40px;
    background-color: $white;
    @include border($color: $grey--darker);

    .button__text {
        font-weight: $font-weight--base;
    }

    &.button-active {
        background-color: $orange;
        color: $white;
        border: 0;

        &:hover,
        &:disabled {
            background-color: $orange--dark;
            color: $white;
            border: 0;
        }
    }

    &:hover {
        color: $grey--darker;
        border-color: $grey--darker;
    }
}

.submit-voucher-input {
    @include media(md) {
        border-right: 0;
    }
}

