/* ------------------------------------ *\
    CATEGORY PAGES - LEVEL 1 & 2
\* ------------------------------------ */

/* Tree */
.cat-tree__btn {
    background-color: #fff;
    border: 1px solid #333;

    & > .fa {
        right: $space * 2;

        @include media(md) {
            right: $space * 2;
        }
    }

    &.collapsed {
        background-color: $silver;
        @include border();

        &:hover {
            background-color: $grey;
        }

        & > .fa::before {
            content: $fa-var-caret-down;
        }
    }
}

.cat-tree__container {
    @include border($where: 'bottom');

    &.collapsed {
        border: 0;
        max-height: 0;
        overflow: hidden;

        @include media(lg) {
            max-height: 100%;
            overflow: visible;
            @include border($where: 'bottom');
        }
    }
}

.cat-tree__item {
    position: relative;
    & > .fa:last-child {
        right: $space;
    }
}

.cat-box__container {
    margin: 0 -$space;
}

.cat-box {
    border-bottom: 1px solid $grey;
    max-height: 75px;
    overflow: hidden;
    padding: ($space * 2) ($space * 2) ($space * 2) 0;

    & > img {
        margin-right: $space * 2;
        width: 30px;
    }

    &:hover {
        & .hg-c-category-tile__text {
            color: $orange;
        }

        & > .hg-c-category-tile__arrow {
            color: $orange;
        }
    }

    @include media(lg) {
        background-color: $grey--light;
        border: 1px solid $grey--light;
        border-radius: 2px;
        padding: $space * 2;

        & > img {
            margin-right: 0;
            width: 55px;
        }

        &:hover {
            background-color: $white;
        }
    }
}

/* Category Filters */
.cat-filters {
    background-color: $silver;
    height: 100vh;
    left: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    transition: width 0.3s;
    width: 0;

    @include media(lg) {
        background-color: #fff;
        height: auto;
        left: auto;
        position: relative;
        overflow: visible;
        width: 100%;
    }

    .show-filters & {
        width: percentage(5/6);

        @include media(md) {
            width: percentage(2/3);
        }

        @include media(lg) {
            width: 100%;
        }
    }
}

.cat-filters__container {
    @include media(lg) {
        margin: 0 -$space;
    }
}

.cat-filters__reset > .fa {
    right: $space * 2;
}

.cat-filter {

    &:nth-child(3n + 2) > .cat-filter__container {
        @include media(lg) {
            right: $space;
        }

        @include media(xl) {
            right: auto;
        }
    }

    &:nth-child(4n + 2) > .cat-filter__container {
        @include media(xl) {
            right: $space;
        }

        @include media(xxl) {
            right: auto;
        }
    }

    &:nth-child(6n + 2) > .cat-filter__container {
        @include media(xxl) {
            right: $space;
        }
    }
}

.cat-filter--more {
    display: none;

    & > .btn {
        height: 40px;

        @include border($width: 1px, $color: $grey--darker);
        border-radius: $border-radius;
    }
}

.more-than-six {

    @include media(lg) {
        .cat-filter--more {
            display: block;
        }

        .hidden-lg,
        .hidden-xl,
        .hidden-xxl {
            display: none;
        }
    }
}

.equal-to-eight {

    @include media(lg) {
        .cat-filter--more {
            display: block;
        }
    }

    @include media(xl) {
        .hidden-lg {
            display: block;
        }

        .cat-filter--more {
            display: none;
        }
    }
}

.more-than-eight {

    @include media(xl) {
        .hidden-lg {
            display: block;
        }

        .hidden-xl,
        .hidden-xxl {
            display: none;
        }
    }
}

.cat-filter__content {
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cat-filter__btn {
    border-radius: 0;
    border-top-width: 0;
    height: auto;
    text-align: left;
    background-color: $grey--light;

    @include media(lg) {
        border-radius: $border-radius;
        border-top-width: 1px;
        height: 40px;
    }

    &.active {

        @include media(lg) {
            &::after {
                background-color: #fff;
                bottom: -$space;
                content: "";
                height: $space;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }

        & > .txt--truncate {
            max-height: 36px;
            white-space: normal;
            word-wrap: break-word;
            z-index: index($hg-z-layers, menu);
        }
    }

    & > .fa {
        right: $space * 3;

        &::before {
            color: $black;
        }
    }
}

.cat-filter__container {

    @include media(lg) {
        position: absolute;
        width: 130%;
    }

    .fa-search {
        right: $space * 2;
    }
}

/* Nothing found */
.nothing-found__container {
    background: url('../images/no-result-bg.jpg') center;
    background-size: cover;
}

.nothing-found__result-box a {
    color: #fff;
    text-decoration: underline;
}

/* Category CMS pages */
.popular-category__container {
    margin: 0 (-$space);
}

.popular-category {
    min-height: 175px;
    overflow: hidden;

    & > .btn {
        bottom: $space * 2;
        position: absolute;
        right: $space * 2;
    }
}

.popular-category__image {
    background: no-repeat center;
    background-size: contain;
    bottom: 0;
    height: 130px;
    left: 0;
    position: absolute;
}

.cat-brand-logo__container {
    @include media(lg) {
        justify-content: center;
    }
}

.cat-brand-logo img {
    max-height: 36px;

    @include media(lg) {
        max-height: 24px;
    }

    @include media(xl) {
        max-height: 36px;
    }
}

.hg-c-category-tile__box {
    height: 50px;

    @include media(lg) {
        height: 75px;
        margin-bottom: $space * 2;
        padding: 0 $space;
    }
}

.hg-c-category-tile__text {
    color: $grey--darker;
    font-size: $font-size--regular;
    font-weight: $font-weight--base;
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
    padding-right: 2 * $space;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include media(lg) {
        font-weight: $font-weight--bold;
        white-space: normal;
    }
}

.hg-c-category-tile__text__number {
    color: $grey--dark;
    font-weight: $font-weight--base;
    padding-right: 2 * $space;

    @include media(lg) {
        padding-right: 0;
    }
}

.hg-c-categories__headline {
    border-bottom: 1px solid $grey;
    color: $grey--darker;
    font-size: $font-size--medium;
    font-weight: $font-weight--bold;
    padding-bottom: $space * 4;

    @include media(lg) {
        border-bottom: none;
        font-weight: $font-weight--base;
    }
}

.hg-c-category-tile__arrow {
    color: $grey;
    font-size: $font-size--large;
    margin-left: auto;
}

.layout-switch {
    width: 50%;

    @include media(xl) {
        width: 37%;
        margin-left: 2 * $space;
    }

    @include media(xxl) {
        width: 39%;
    }

    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

    span {
        line-height: 30px;
        vertical-align: top;
    }

    .button-view-icon {
        font-size: 30px;
    }

    & > .btn {
        height: 40px;
        width: 42.8%;
        min-width: 50px;
        color: $grey--darker;
        background-color: $white;
        border-color: $grey--darker;

        &:hover {
            color: $white;
            background-color: $theme-color;
            border-color: $theme-color;
        }

        &.disabled {
            color: $theme-color;
            background-color: $white;
            border-color: $theme-color;
            pointer-events: none;
        }
    }
}

.sorting-and-view {
    display: none;

    @include media(lg) {
        display: flex;
        justify-content: space-between;
    }

    width: 100%;
    padding-top: 3 * $space;

    &__count {
        width: 30%;
        line-height: 22px;
        align-self: center;
        padding-top: 6 * $space;
    }

    &__right {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
    }
}

.sorting-option {
    width: 45.4%;
    padding-top: $space;
    margin-left: 2 * $space;

    @include media(xl) {
        width: 34.4%;
    }

    &__footer {
        @include media(xl) {
            width: 40%;
        }

        @include media(xxl) {
            width: 35.3%;
        }
    }

    select {
        background-position-x: calc(100% - 20px);
        background-position-y: 7px;
        background-image: url(../../images/svg/monochrome/arrow-down.svg);
        background-size: 25px 25px;
    }
}
