/* ------------------------------------------------------------------------------------ *\
    CHECKOUT PAYMENT ICONS
    Complementary styles @Checkout/Theme/boss/partials/payment-background-styles.twig
\* ------------------------------------------------------------------------------------ */
.checkout {
    &__collapsible {
        padding: ($space * 4) 0;
        flex-direction: column;

        .title {
            padding: 0 ($space * 4);
            flex: 1;
        }

        .icon {
            margin-right: $space * 7;
            font-size: $font-size--large;
        }

        .body {
            flex: 1;
            width: percentage(4/6);
            margin: 0 auto;

            &.collapsed {
                flex: 0;
                margin: 0;
                max-height: 0;
                overflow: hidden;
                padding: 0;
            }

            &.flex--none {
                flex: none !important;
            }
        }

        .edit {
            flex: 1;
            color: $orange;
            text-align: right;
        }

        @include media(lg) {
            padding: $space * 4;
            flex-direction: row;

            .title {
                flex: 5;
            }

            .body {
                flex: 10;
                width: 100%;
                margin-left: -$hg-gutter-width;
                margin-right: -$hg-gutter-width;
                max-height: 100%;
                padding-left: $hg-gutter-width;
                padding-right: $hg-gutter-width;
            }

            .edit {
                flex: 2;
            }
        }

        &-button {
            margin-top: $space * 2;
            width: 100%;

            @include media(lg) {
                width: calc(50% - 5px);
                display: flex;
            }
        }
    }

    .form__field {
        &--radio {
            margin-right: $space * 2;
        }
    }
}

.co-payment {
    &__details {
        min-width: 100%;
        margin-top: $space * 2;
    }

    .creditCardTypeIcon {
        position: absolute;
        top: 33px;
        right: $space * 2;

        @include media(lg) {
            top: 24px;
        }
    }

    .form__field {
        flex-wrap: wrap;

        &--radio {
            @include border(top);
            align-items: flex-start;
            background: transparent 100% ($space * 2) no-repeat;
            background-size: 60px;
            min-width: 100%;
            margin-left: 0;
            padding-top: $space * 2;
            padding-bottom: $space * 2;
        }

        &--radio:first-child {
            border: 0;
            margin-top: 0;
        }

        &--radio input + span {
            top: 10px;
            transform: translateY(0%);
        }
    }
}

.paymentIcon {
    background: transparent 0 100% no-repeat;
    background-size: 60px;
    padding-bottom: $space * 5;
}

.payone-input {
    border-radius: $border-radius;
    @include border();
    height: 42px;
    padding-right: 1px;

    &.error {
        border: 1px solid $red;
        height: 34px;
    }

    @include media(lg) {
        height: 32px;
    }
}

.payone-select {
    @include border();
    border-radius: $border-radius;
    height: 42px;
    position: relative;
    padding-right: 1px;

    &::after {
        background-color: #fff;
        //background-image: url(../../images/sprite-inputs.png);
        background-position: calc(100%) -17px;
        background-repeat: no-repeat;
        background-size: 16px;
        color: $grey--darker;
        content: '';
        height: 25px;
        pointer-events: none;
        position: absolute;
        right: 8px;
        top: 8px;
        width: 19px;
    }

    &.error {
        border: 1px solid $red;
        height: 34px;
    }

    @include media(lg) {
        height: 32px;

        &::after {
            top: 3px;
        }
    }
}

.summary-box {
    position: sticky;
    top: 100px;
}

.checkout-success {
    &__headline {
        margin-top: 30px;
        text-align: center;
        width: 100%;
        font-size: $font-size--large;

        @include media(lg) {
            font-size: $font-size--xlarge;
        }
    }

    &__content-box {
        @include border($color: $grey);
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0 40px;
        padding: 30px 10px;
        width: 100%;

        &__headeline {
            font-size: $font-size--regular;
            font-weight: $font-weight--bold;
            text-align: center;
            width: 100%;

            @include media(lg) {
                font-size: $font-size--medium;
            }
        }
    }

    &__order-number {
        text-align: center;
        font-size: $font-size--large;
        margin: 30px 0 40px;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include media(lg) {
            font-size: $font-size--xlarge;
            height: $font-size--xlarge;
            line-height: 1;
        }
    }

    &__support {
        text-align: center;
        margin-top: 60px;
        width: 100%;
    }
}
