/* ------------------------------------ *\
    CUSTOMER ACCOUNT
\* ------------------------------------ */

@import "customer-account/addresses";
@import "customer-account/announcement";
@import "customer-account/business-data-form";
@import "customer-account/business-information";
@import "customer-account/content";
@import "customer-account/header";
@import "customer-account/subheader";
@import "customer-account/newsletter";
@import "customer-account/offer";
@import "customer-account/order";
@import "customer-account/password";
@import "customer-account/states";
@import "customer-account/table";
@import "customer-account/user-info";
@import "customer-account/users";
@import "customer-account/widget";
@import "customer-account/shopping-list-usps";
@import "customer-account/menu";

/**
 * remove after customer setting page is live
 */
.customer-account__widget--disabled--link {
    margin-left: $space * 4;
    position: relative;
    width: 100%;
}

@each $page in $customer-account-pages {
    .customer-account-#{$page} {
        .main-wrapper {
            background-color: $silver !important;
        }

        .main-content {
            background-color: $white;
        }
    }

    @if $page != 'overview' {
        .customer-account-#{$page} {
            .footer {
                margin-top: $space * 6;
            }
        }
    }
}

@include media(lg) {
    @each $page in $customer-account-pages {
        .customer-account-#{$page} {
            .footer {
                margin-top: $space * 12;
            }
        }
    }
}
