.direct-purchase-product-image {
    width: 60px;
    flex: 0 0 auto;

    img {
        width: 60px;
        height: 60px;
    }
}

.direct-purchase-product-text {
    word-wrap: normal;
    flex: 1 1 auto;
}

.direct-purchase-product-price {
    flex: 0 0 auto;
    text-align: right;
    width: 100px;

    @include media(xl) {
        width: 140px;
    }
}

.direct-purchase-product-stock .quantity {
    width: 120px;

    @include media(xl) {
        width: 148px;
    }

    @include media(xxl) {
        width: 164px;
    }

    .quantity__field {
        padding: 0;
    }
}

.direct-purchase-product-quantity {
    text-align: left;
    flex: 0 0 auto;
    width: 120px;

    @include media(xl) {
        width: 148px;
    }

    @include media(xxl) {
        width: 164px;
    }
}

.direct-purchase-form {
    padding-bottom: 14 * $space;
}

.direct_purchase_input {
    border: 1px solid $grey--darker;
    color: $grey--darker;
    width: 100%;

    @include border($color: $grey);

    @include media(lg) {
        width: calc(100% - 85px);
    }

    @include media(xl) {
        width: calc(60% - 85px);
    }
}

.direct_purchase_add_to_cart {
    height: 40px;
    width: 220px;
    float: right;
    margin: (2 * $space) 0 0 0;
    font-size: $font-size--medium;
    font-weight: $font-weight--bold;
}

.icon--directbuy {
    width: 65px;
    line-height: 65px;
    font-size: 65px;
    float: left;
}

.suggested-skus-list {
    margin-top: -8px;

    @include media(lg) {
        margin-left: 17 * $space;
    }

    li {
        background-color: $white;
        margin: 0;
        width: 100%;
        height: 47px;
        padding: $space;

        @include border($color: $grey);
        border-bottom: 0;

        @include media(xl) {
            width: calc(60% - 35px);
        }

        img {
            width: 35px;
            height: 35px;
        }

        &:last-child {
            @include border($where: 'bottom', $color: $grey);
        }
    }
}

.direct-purchase-search-form-container {
    width: 100%;
    background-color: $grey--light;
    padding: 4 * $space;
}

.direct-purchase-form-container {
    padding-left: 0;

    @include media(lg) {
        padding-left: 17 * $space;
    }
}

label[for="direct_purchase_search_sku"] {
    display: none;
}

.search-input-label {
    padding-left: 0;

    @include media(lg) {
        padding-left: 17 * $space;
    }
}

.direct-purchase-div {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
        border: 0;
    }
}

.suggestions-list {
    margin-top: 2px;
}
