.hg-c-FastPurchaseForm__subtitle {
    padding-top: 4 * $space;
    padding-bottom: 6 * $space;
    font-size: $font-size--medium;
}

.hg-c-FastPurchaseForm {
    input.invalid-data {
        border-color: $red;
        color: $red;
        background-color: $red--light;
    }
}

.hg-c-FastPurchaseForm__row {
    display: inline-block;
    padding-bottom: 2 * $space;
    padding-top: 4 * $space;

    @include border($where: 'bottom');
}

.hg-c-FastPurchaseForm__row:last-of-type {
    padding-bottom: 4 * $space;
    border-bottom: none;
}

.hg-c-FastPurchaseForm__field {
    display: inline-block;
    vertical-align: text-top;
    margin-top: $space;
    @include media(lg) {
        margin-top: 0;
    }
}

.hg-c-FastPurchaseForm__link {
    background: none;
    border: none;
    padding: (2 * $space) 0;
    &:hover {
        text-decoration: underline;
    }
}

.hg-c-FastPurchaseForm__link-wrapper {
    @include border($where: 'bottom');
}

.hg-c-FastPurchaseForm__addToCart-button {
    margin: (4 * $space) 0;
    @include media(lg) {
        margin-bottom: 0;
    }
}

.add-to-cart {
    &:focus,
    &:link {
        color: $white;
    }

    &:hover {
        border: none;
    }
}
