/* ------------------------------------ *\
    FOOTER
\* ------------------------------------ */

.footer {
    background-color: $silver;
    font-size: $font-size--regular;
    padding-bottom: 0;
    padding-top: $hg-global-spacing;

    @include media(xxl) { padding-bottom: 60px - (3 * $space); }

    &__block {
        padding-bottom: 3 * $space;
    }

    &__block-title {
        font-weight: $font-weight--bold;
        padding-bottom: 3 * $space;

        & > .fa {
            position: absolute;
            right: $space * 2;
        }

        &.collapsed > .fa::before {
            content: $fa-var-angle-down;
            @include media(lg) {
                content: "";
            }
        }

        @include media(lg) {
            @include border(bottom);
            margin-bottom: 2 * $space;
            padding-bottom: 2 * $space;
        }
    }

    &--reduced {
        padding-bottom: 45px;

        &__block-title {
            font-weight: $font-weight--bold;
            padding-bottom: 3 * $space;

            @include border($width: 0);

            @include media(xl) {
                @include border(bottom);
                margin-bottom: 2 * $space;
                padding-bottom: 2 * $space;
            }
        }
    }

    &__collapsible {
        background-color: $grey--light;
        margin-left: -$hg-gutter-width;
        margin-right: -$hg-gutter-width;
        max-height: 100%;
        padding-left: $hg-gutter-width;
        padding-right: $hg-gutter-width;

        @include media(lg) {
            background-color: $silver;
        }

        &.collapsed {
            background-color: $silver;
            margin: 0;
            max-height: 0;
            overflow: hidden;
            padding: 0;
            @include border(bottom);

            @include media(lg) {
                border-bottom: none;
                max-height: 100%;
                overflow: auto;
            }
        }

        &__entry {
            position: relative;
            padding-top: 2 * $space;
            padding-bottom: 2 * $space;
            @include border(bottom);

            @include media(lg) {
                padding: 0;
                border-bottom: none;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}

.footer-extend {
    @include media(lg) {
        margin-top: $space * 12;
    }
}

.hg-c-Footer__non-collapsible-data {
    padding-bottom: 3 * $space;
    @include border(bottom);
    @include media(lg) {
        border: none;
        padding-bottom: 0;
    }
}


.hg-c-Footer__logo-wrapper {
    @include media(md) {
        padding-bottom: 5 * $space;
    }
    @include media(lg) {
        padding-bottom: 3 * $space;
    }
}

.hg-c-Footer__legal {
    background-color: $grey--darker;
    color: $white;
    font-size: $font-size--small;
    padding-bottom: 2 * $space;
    padding-top: 2 * $space;

    @include media(md) {
        font-size: $font-size--regular;
    }
}

.hg-c-Footer__copyright {
    justify-content: center;
    text-align: center;

    @include media(xxl) {
        justify-content: flex-start;
        text-align: left;
    }
}

.hg-c-Footer__legal-links {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -2 * $space;
    padding-top: $space;

    @include media(xxl) {
        padding-top: 0;
        justify-content: flex-end;
        margin-left: 0;
    }

    .hg-c-Link--primary {
        margin-left: 4 * $space;
    }
}

.footer__svg-list > a {
    padding: 3px;
    width: 62px;
}

.footer__img-link {
    width: 32px;
    height: 32px;

    &:hover { opacity: 0.7; }

    &.fa {
        font-size: 18px;
        padding: 7px 5px;
        &:hover { text-decoration: none; }
    }

    &.fa-facebook {
        padding-right: 7px;
        background-color: $blue--facebook;
    }

    &.fa-google-plus { background-color: $red--google; }

    &.fa-youtube-play { background-color: $red--youtube; }
}

.hg-sticky_footer {
    background-color: $grey--darker;
    height: 80px;
    justify-content: center;
    position: relative;

    &.stuck {
        position: fixed;
        bottom: -300px;
        transition: bottom 0.5s ease;
        width: 100%;
        z-index: index($hg-z-layers, header);

        &.visible {
            bottom: 0;
        }

        .hg-sticky_footer-button {
            display: block;
        }
    }

    @include media(xl) {
        display: flex;
    }
}

.hg-sticky_footer-content {
    height: 100%;
    padding: 10px 0 10px 165px;
    position: relative;
}

.hg-sticky_footer-text {
    color: $white;
    display: table;
    font-family: $font-family--regular;
    font-weight: $font-weight--base;
    font-size: $font-size--regular;
    margin-left: $space *2;
}

.hg-sticky_footer-headline {
    color: $white;
    display: table;
    font-family: $font-family--regular;
    font-weight: $font-weight--bold;
    font-size: $font-size--large;
    margin-left: $space *2;
    padding: 3px 0;
}

.hg-image--hoffmann {
    bottom: 0;
    left: 0;
    position: absolute;
}

.hg-sticky_footer-button {
    position: absolute;
    top: $space * 2;
    right: $space * 2;
    display: none;
    padding: 0;
}

.hg-sticky_container {
    position: relative;
}
