/* ------------------------------------ *\
    HEADER
\* ------------------------------------ */

.header {
    background-color: $white;
    position: relative;
}

.header__top {
    background-color: $orange;
    height: $hg-global-element-height-xxl;
    position: relative;
    z-index: index($hg-z-layers, header);

    .container {
        display: flex;
        flex-direction: column;
        align-items: normal;

        @include media(lg) {
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }
    }

    @include media(lg) {
        height: $hg-global-element-height-xl;

        .container {
            justify-content: space-between;
            align-content: normal;
        }
    }
}

.header__logo {
    display: block;
    width: 150px;
    height: 25px;
    margin: 10px 0;

    svg {
        fill: $white;
    }

    &--small {
        //background-image: url("../../images/logos/hoffmann-group-icon.png");
        width: 50px;
        height: $hg-global-element-height;
        margin-right: 36px;
        display: none;
    }

    @include media(lg) {
        height: $hg-global-element-height-l;
        width: 250px;
        padding-top: 0;
        margin-right: 20px;
    }
}

.header__search {
    position: relative;
    height: 40px;
    flex-grow: 1;
    width: auto;

    @include media(lg) {
        height: 50px;
        width: auto;
    }

    @include media(xl) {
        width: auto;
    }

    input {
        width: 100%;
        flex-grow: 1;
    }
}

.button-header--search {
    background-color: $orange;
    border: none;
    color: $white;
    & :hover {
        background-color: $orange !important;
    }
}

.header__bottom {
    background-color: $silver;
    margin-bottom: 1px;
    margin-top: 4px;
}

.header__nav-item {
    font-size: $font-size--regular;
    height: $hg-nav-bar-height;
    position: static;
    text-align: center;

    &:hover {
        background-color: $grey--light;
    }

    &.active {
        background-color: $white;

        .header__nav-item__toggle-icon::before {
            color: $orange;
            content: $fa-var-chevron-up;
        }
    }

    &.no-hover {
        &:hover {
            background-color: $silver;
        }
        &.active {
            background-color: $silver;
        }
    }
}

.header__nav-item--left {
    padding: ($space * 2) ($space * 4);

    @include media(xl) {
        padding-left: ($space * 2);
        padding-right: ($space * 2);
        padding-bottom: ($space * 3);
    }

    @include media(xxl) {
        padding-left: ($space * 4);
        padding-right: ($space * 4);
    }
}

.header__nav-item--right {
    padding: ($space * 2) ($space * 4);
}

.header__nav-item__content {
    text-decoration: none;
    color: $grey--darker;

    &:hover {
        text-decoration: none;
    }
}

.header__nav-item--mobile {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 2 * $space;
    padding-top: 2 * $space;
}

.header__nav-item--bordered {
    border-left: 1px solid $white;
    display: inline-block;
}

.header__nav-item--last {
    border-right: 1px solid $white;
}

.icon--menu {
    font-size: $font-size--medium-plus;
    line-height: $line-height--medium;

    @include media(lg) {
        font-size: $font-size--regular-plus;
        line-height: $line-height--regular-plus;
    }
}

.header__nav-item__label {
    font-size: $font-size--small;
    font-weight: normal;

    @include media(lg) {
        font-size: $font-size--regular;
        font-weight: bold;
    }
}

.header--reduced {
    .header__top .container {
        justify-content: center;
        vertical-align: middle;
    }

    .header__top {
        margin-bottom: 4px;
    }

    .icon--trusted-shops {
        width: 40px;
        height: 40px;
        @include media(md) {
            display: none;
        }
    }

    &.header--sticky {
        .header__trustlogo {
            display: block;
        }

        .header__trustbenefits {
            display: none;

            @include media(lg) {
                display: block;
            }
        }
    }
}

@include media(lg) {
    .header__search,
    .header__top {
        padding-top: 0;
    }

    .header__search {
        svg {
            fill: #fff;
        }
    }

    .header__nav-item--account .fa {
        display: inline-block;
    }
}

.header__trust {
    float: right;
    display: block;
}

.header__trustlogo {
    float: left;
    width: 40px;
    height: 65px;
    margin: 0 0 0 ($space * 4);
    //background-image: url('../../images/logos/tuev-siegel.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: none;

    @include media(lg) {
        display: block;
    }

    @include media(xl) {
        margin: 0 0 0 ($space * 8);
    }
}

.header__trustbenefits {
    display: none;

    @include media(xxl) {
        line-height: ($space * 3);
        float: left;
        list-style-type: none;
        padding-left: ($space * 2);
        margin-top: ($space * 2);
        display: block;
    }
}

.header__trustbenefitsitem {
    font-size: $font-size--small;
    color: $white;
}

.header__mobile_menu--text {
    padding-left: $hg-space-xs;
    font-size: $font-size--regular;
    font-weight: 500;
    line-height: 18px;
}

.header__mobile_menu--icon {
    @media screen and (max-width: 770px) {
        float: left;
        color: $grey--darker !important;
    }
}

.header__userbar {
    background-color: $white;
    width: 100%;
}

.header__userbar-item-wrapper {
    text-align: right;
    position: relative;
    top: 0;
    bottom: 0;
    height: auto;
}

.header__userbar-item {
    color: $grey--dark;
    display: none;
    font-size: $font-size--small;
    height: $hg-global-element-height-xs;
    margin-left: $hg-space-xl;
    position: relative;
    top: -2px;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;

    @include media(lg) {
        display: inline-block;
    }
}

.header__userbar-item--last {
    display: inline-block;
}

.header__userbar-item--value {
    color: $grey--darker;
    margin-left: $hg-space-xxs;
}

.header__userbar-item--icon {
    position: relative;
    top: 1px;
}

.header__userbar-item--logout {
    font-size: $font-size--small;
    font-weight: bold;
    margin-left: $space;
    margin-right: $hg-space-xxs;
}

@keyframes slidedown {
    from {
        top: -200px;
    }
    to {
        top: 0;
    }
}

.header--sticky {
    opacity: 1;
    position: fixed;
    top: 0;
    animation: slidedown 0.3s;
    z-index: index($hg-z-layers, header);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);

    .header__top {
        height: $hg-global-element-height-l;

        .container {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }
    }

    .header__logo {
        display: none;

        &--small {
            display: block;
        }
    }

    .header__search,
    .custom-select,
    #search-input {
        line-height: $line-height--xlarge;
        height: $hg-global-element-height;
    }

    .custom-select {
        @include media(lg) {
            display: block;
        }
    }

    .search-bar button {
        min-width: 30px;
        width: 30px;
        height: 30px;
        line-height: 30px;

        @include media(lg) {
            top: $space;
            width: auto;
        }
    }

    .button__inner {
        &--search {
            @include media(xl) {
                margin-top: 4px;
            }
        }
    }

    .search-bar__btn-text {
        @include media(xl) {
            display: block;
        }
    }

    .custom-select__dropdown {
        margin: 0;
    }

    .header__trustlogo {
        display: none;

        @include media(lg) {
            display: block;
        }
    }

    .header__trustbenefits {
        display: none;

        @include media(xxl) {
            display: block;
        }
    }

    .header__bottom {
        margin-bottom: 0;
    }
}

@import "header/login-form";
