/* ------------------------------------ *\
    HOMEPAGE
\* ------------------------------------ */

.homepage__categories {

    @include media(lg) {
        margin-left: -$space;
        margin-right: -$space;
    }
}

.homepage__categories__link {
    padding-right: $space * 7;

    @include media(lg) {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    & > [class^="icon--"] { right: $space * 2; }
}

.homepage__categories__link--last {

    @include media(lg) {
        position: absolute;
        bottom: $space;
        left: $space * 3;
    }
}

.homepage__categories__button {
    width: 42px;
    &.collapsed > .fa::before { content: $fa-var-plus; }
}

.homepage__categories__content.collapsed {
    display: none;
    @include media(lg) { display: block; }
}

.page-home-index .tab__content {
    overflow: hidden;
    max-height: 500px;

    &.collapsed {
        max-height: 0;
        padding: 0;
    }
}
