/* ------------------------------------ *\
    JOBS PAGE
\* ------------------------------------ */

.jobs__car__icon {
    width: 150px;
    height: 150px;
    border-width: 6px;

    & > svg {
        height: 67px;
        fill: $theme-color;
    }
}

.jobs-header {
    position: relative;
    z-index: -1;

    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        height: 300px;
        position: relative;
        width: 100%;
        z-index: -1;
    }

    &__headline {
        background-color: $blue;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        margin-top: -150px;
        padding: 60px 0 130px;
        text-align: center;

        span {
            font-size: 14px;
            margin: $space * 4;
        }

        h1 {
            font-size: 30px; // special size for jobs page
        }
    }
}

.jobs-description {
    margin-top: -60px;

    &__list {
        padding: ($space * 4);

        & > ul {
            padding: ($space * 4) 0;

            li {
                margin-left: $space;
                position: relative;

            }

            li::before {
                content: '-';
                position: absolute;
                left: -($space * 2);
            }
        }
    }
}

.jobs-footer {
    text-align: center;

    .button {
        margin-top: $space * 2;
    }
}

@include media(lg) {
    .jobs-header__image {
        height: 400px;
    }

    .jobs-header__headline {
        span {
            font-size: $font-size--large;
            margin: $space * 4;
        }

        h1 {
            font-size: 50px; // special size for jobs page
        }
    }
}

@include media(xl) {
    .jobs-header__image {
        height: 600px;
    }
}

.jobs-apply-header {
    &__headline {
        background-color: $blue;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        padding: ($space * 12) 0 ($space * 26) 0;
        text-align: center;

        span {
            font-size: 14px;
            margin: $space * 4;
        }

        h1 {
            font-size: 30px; // special size for jobs page
        }
    }
}


.jobs-apply-container {
    margin-top: -60px;
}

.language-switch {
    display: flex;
    width: 100px;
    margin: ($space * 2) 0;

    &__text.active {
        color: $theme-color--dark;
    }
}

