.page-login-login,
.page-register-register {
    .main-wrapper {
        background-color: $silver;
    }

    .main-content .collapsed:not(a) {
        display: none;
    }

    .panel__header,
    .panel__body {
        padding: $space * 6;
    }

    .panel__header {
        border-bottom: 0;
        font-weight: $font-weight--bold;
    }

    .panel__body {
        padding-top: 0;
    }

    form label {
        font-weight: $font-weight--bold;
        margin-bottom: $space;

        &::after {
            display: none;
        }
    }

    .form__field--radio {
        margin-bottom: 0 !important;

        label {
            font-weight: $font-weight--base;
            margin-bottom: 0;
        }
    }

    input[type="password"] {
        background-image: none;
        padding-left: 10px;
    }

    @include media(lg) {

        .login-wrapper {
            order: 1 !important;
        }

        .register-wrapper {
            order: 2 !important;
        }
    }
}

.page-login-login {
    .register-wrapper {
        margin: ($space * 4) 0;
    }

    .register-form,
    .login-link {
        display: none;
    }

    &.toggle-forms {
        .register-wrapper {
            margin: 0;
            order: 1;
        }

        .login-wrapper {
            margin: ($space * 4) 0;
            order: 2;
        }

        .register-form,
        .login-link {
            display: block;
        }

        .login-form,
        .register-link {
            display: none;
        }
    }

    @include media(lg) {
        .register-wrapper {
            margin: 0;
            padding-left: $space;
        }

        .login-wrapper {
            padding-right: $space;
            margin: 0 !important;
        }
    }
}

.page-register-register {
    .login-wrapper {
        margin: ($space * 4) 0;
        order: 2;
    }

    .register-wrapper {
        order: 1;
    }

    .login-form,
    .register-link {
        display: none;
    }

    &.toggle-forms {
        .login-wrapper {
            margin: 0;
            order: 1;
        }

        .register-wrapper {
            order: 2;
            margin: ($space * 4) 0;
        }

        .login-form,
        .register-link {
            display: block;
        }

        .register-form,
        .login-link {
            display: none;
        }
    }

    @include media(lg) {
        .login-wrapper {
            margin: 0;
            padding-right: $space;
        }

        .register-wrapper {
            margin: 0 !important;
            padding-left: $space;
        }
    }
}
