/* ------------------------------------ *\
    MAIN CONTENT LAYOUT
\* ------------------------------------ */

.cg-container, //TODO: remove, hack to contain old pages
.container {
    margin: 0 auto;
    padding: 0 ($space * 2);
    width: 100%;
    @include media(lg) { width: #{map_get($grid-breakpoints, lg)}; }
    @include media(xl) { width: #{map_get($grid-breakpoints, xl)}; }
    @include media(xxl) { width: #{map_get($grid-breakpoints, xxl)}; }

    .hg-container__wrapper {
        margin-left: - 2 * $hg-gutter-width;
        margin-right: - $hg-gutter-width;
    }
}

.hg-container__wrapper {
    display: flex;
    justify-content: center;
    margin-left: - $hg-gutter-width;
}

.hg-container {
    padding-left: $hg-gutter-width;
    padding-right: $hg-gutter-width;
    width: 100%;
    @include media(lg) { width: #{map_get($grid-breakpoints, lg) }; }
    @include media(xl) { width: #{map_get($grid-breakpoints, xl) }; }
    @include media(xxl) { width: #{map_get($grid-breakpoints, xxl) }; }
}

.hg-container__element {
    padding-left: $hg-gutter-width;
}

.body-wrapper {

    &.mobile-mode-on,
    &.show-filters {
        position: fixed;
        @include media(lg) { position: relative; }
    }

    &.mobile-mode-on {
        overflow: hidden;
        @include media(lg) { overflow: auto; }
    }
}

.main-wrapper {
    background-color: $white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    &.mobile-mode-on {
        overflow: hidden;
        transform: translate3d(percentage(5/6), 0, 0);
        @include media(md) { transform: translate3d(percentage(2/3), 0, 0); }
        @include media(lg) { transform: translate3d(0, 0, 0); }
    }

    &.show-filters {
        transform: translate3d(-(percentage(5/6)), 0, 0);
        @include media(md) { transform: translate3d(-(percentage(2/3)), 0, 0); }
        @include media(lg) { transform: translate3d(0, 0, 0); }
    }

    &.sticky {
        margin-top: 200px;
    }
}
