/* ------------------------------------ *\
    NAVIGATION MOBILE
\* ------------------------------------ */

.navigation--fixed {
    position: fixed;
    top: 0;
    bottom: 0;
}

.navigation-mobile {
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s $transition-ease;
    &.mobile-mode-on { transform: translate3d(0, 0, 0); }
}

.navigation-mobile__container,
.navigation-mobile__shadow {
    position: absolute;
    top: 0;
    bottom: 0;
}

.navigation-mobile__container,
.navigation-mobile__flyout { overflow: auto; }

.navigation-mobile__flyout {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s $transition-ease;

    &.hidden {
        transform: translate3d(-100%, 0, 0);
        display: block !important;
        visibility: visible !important;
    }
}

.navigation-mobile__shadow {
    right: 0;
    width: $space * 2;
    box-shadow: $box-shadow-navigation-mobile;
}

.navigation-mobile__shadow--filters {
    right: auto;
    left: 0;
    min-height: 100vh;
    box-shadow: $box-shadow-navigation-mobile-filters;
}

.navigation-mobile__close {
    width: 52px;
    color: #fff;
}

.navigation-mobile__list > li {
    position: relative;
    padding-left: $space * 9;

    .fa,
    [class^="icon--"] { left: $space * 3; }

    .fa-angle-right,
    .fa-angle-up {
        left: auto;
        right: $space * 2;
    }
}

.navigation-mobile__submenu-btn.collapsed > .fa-angle-up::before { content: $fa-var-angle-down; }

.navigation-mobile__submenu {
    padding-left: $space * 6 !important;
    overflow: hidden;
    height: 271px;
    transition: height 0.3s $transition-ease;
    &.collapsed { height: 0; }
}

.navigation-mobile__overlay {
    display: none;

    &.mobile-mode-on {
        display: block;
        background-color: rgba(#000, 0.5);
        @include media(lg) { display: none; }
    }
}
