.navigation__header {
    align-items: center;
    background-color: $orange;
    color: $white;
    display: flex;
    height: $hg-global-element-height-m;
    justify-content: space-between;
}

.navigation__close {
    color: $white;
    margin-right: $space * 2;
}

.navigation__logo {
    height: 30px;
    margin-left: $space * 2;
}

.navigation__animate--mobile {
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    .hg-menu {
        left: -100%;
        transition: all 0.3s ease-in-out;
    }

    &.active {
        visibility: visible;

        .hg-menu {
            left: 0;
        }
    }
}

.navigation__animate--desktop {
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    .hg-menu {
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    &.active {
        box-shadow: 0 6px 8px -4px rgba($black, 0.5);

        .hg-menu {
            max-height: 1000px;
            opacity: 1;
        }
    }
}

.navigation {
    background-color: transparent;
    color: $base-text-color;
    display: block;
    font-size: $font-size--regular;
    height: 100%;
    left: 0;
    line-height: $line-height;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: index($hg-z-layers, header);

    &.active {
        background-color: rgba($black, 0.5);
    }

    @include media(xl) {
        height: auto;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .loading .fa-chevron-right {
        color: $theme-color--dark;
        display: none !important;
    }

    .loading .fa-spinner {
        display: flex !important;
        color: $theme-color--dark;

        &::before {
            animation: fa-spin 2s infinite linear;
        }
    }
}

.navigation-background {
    @include media(xl) {
        opacity: 0;
        transition: opacity 0.3s ease-in-out, z-index 0.3s step-end;
        background-color: $black;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: $hg-z-layers-underground;

        &.active {
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out, z-index 0.3s step-start;
            z-index: index($hg-z-layers, menu);
        }
    }
}
