/* ------------------------------------ *\
    PDP
\* ------------------------------------ */

.pdp__container {
    margin-top: $space * 8;
}

.pdp__main-img,
.pdp__main-info {
    position: relative;
    width: 100%;
}

.pdp__main-img {
    @include media(lg) { width: 38%; }
    @include media(xl) { width: 35.5%; }
}

.pdp__main-info {
    &__title {
        margin-bottom: $space * 4;
        padding-bottom: $space * 4;
    }

    .product-specs {
        @include border('bottom');
        padding-bottom: $space * 4;
        margin-bottom: $space * 4;
    }

    @include media(lg) { width: 62%; }
    @include media(xl) { width: 59%; }
}

.pdp__main-img__preview {
    position: relative;

    img {
        display: block;
        max-height: 300px;
        margin: 0 auto;
    }

    & > .badge {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.pdp__img__thumb {

    & > img,
    & > img:hover {
        vertical-align: top;
        @include border($color: $grey);
    }

    &.active {
        & > img,
        & > img:hover {
            border-color: $orange;
        }
    }
}

.pdp__img__thumbs--zoom-mobile {
    position: absolute;
    bottom: 0;
}

.pdp__img__nav {
    & > .btn--nav { position: absolute; }
    & > .btn--nav--left { left: 0; }
    & > .btn--nav--right { right: 0; }
}

.pdp__img-control {
    background-color: #fff;
    border: none;
    color: $grey;
    padding-left: 2 * $space;
    padding-right: 2 * $space;

    &::before {
        font-family: $font-family--font-awesome;
        font-size: $font-size--medium;
    }

    &--left {
        &::before {
            content: $fa-var-chevron-left;
        }
    }
    &--right {
        &::before {
            content: $fa-var-chevron-right;
        }
    }
}

.product-detail__zoom-lens {
    position: absolute;
    z-index: index($hg-z-layers, overlay);
    background-color: $orange;
    opacity: 0.2;
}

.product-detail__zoom-tracker {
    position: absolute;
    z-index: index($hg-z-layers, overlay);
    display: none;

    @include media(lg) {
        display: block;
        cursor: pointer;
    }
}

.pdp__main-img__zoom {
    position: absolute;
    top: 0;
    left: 0;
    z-index: index($hg-z-layers, overlay);
    width: 300px;
    height: 300px;
    overflow: hidden;

    & > img {
        position: absolute;
        max-width: none;
    }
}

.pdp__main-img__video-playbutton {
    background: url("/images/playbutton.png") no-repeat;
    height: 42px;
    width: 145px;
    margin: 0 auto;
    background-size: cover;
}

.pdp__rating-container {
    max-height: 280px;
    overflow: auto;
}

.pdp-collapsible-block.collapsed {
    display: none;
    @include media(lg) { display: block; }
}

/* ------------------------------------ *\
    PDP ZOOM FEATURE
\* ------------------------------------ */

.pdp__zoom--mobile {
    height: 60%;
    width: 100%;

    @include media(lg) {
        height: auto;
        width: 748px;
    }

    @include media(xl) { width: 840px; }
    @include media(xxl) { width: 960px; }
}

.pdp__zoom__close {
    position: absolute;
    right: $space * 3;
    top: $space * 2;
}

.pdp__zoom--mobile__container {
    height: 0;
    left: 0;
    padding-top: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.pdp__zoom--position {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.pdp__zoom__img {
    min-width: 0; // to fix flex overflow in chrome
    width: 100%;
}

.pdp__zoom--mobile__img {
    left: 0;
    max-width: none;
    position: relative;
    top: 0;
}

.pdp__zoom--position,
.pdp__zoom--mobile__img {
    &.animate {
        transition: all 0.3s $transition-ease;
    }
}

.pdp__zoom--mobile__img-preloader {
    left: 1000%;
    position: fixed;
    width: 99999em;
}

.loadbeeLink.loadbeeShowActiveLink {
    @include border;
    border-radius: $border-radius;
    display: none;
    font-size: $base-font-size;
    height: auto;
    line-height: $base-line-height;
    margin: 10px 0;
    padding: 10px 10px 10px 30px;
    text-align: center;
    width: auto;

    @include media(lg) {
        display: inline-block;
    }

    &::before {
        color: $grey;
        content: $fa-var-info-circle;
        left: 10px;
    }

    &:hover {
        border-color: $orange;
        text-decoration: none;

        &::before {
            color: $orange;
        }
    }
}

