.productline {
    h2 {
        margin-bottom: $space * 5;
        font-size: $font-size--xlarge;
        text-align: center;
        color: #273a60; //special color
    }

    &__header {
        position: relative;

        img {
            float: left;
        }

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &__headline {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;

        h1 {
            font-size: 48px;
            line-height: 1;
            max-width: 60%;
        }

        .container {
            display: flex;
            align-items: center;
        }
    }

    &__products {
        padding: ($space * 1) 0 ($space * 6);
        background-color: $silver;

        .products-with-attributes {
            margin-top: $space * 6;
        }
    }
}
