/* ------------------------------------ *\
    SHOPPING LIST PAGE
\* ------------------------------------ */

.shopping-list {
    &--empty {
        &__title {
            margin-top: $space * 8;
            margin-bottom: $space * 4;
        }

        &__icon {
            width: 85px;
            height: 85px;
            background-image: url('../../images/svg/shopping-list/icon-artikellisten.svg');
            align-self: flex-start;

            @include media(lg) {
                width: 80px;
                height: 80px;
            }

            @include media(xl) {
                width: 100px;
                height: 100px;
                margin-left: $space * 2;
                margin-right: $space * 6;
            }

            @include media(xxl) {
                width: 120px;
                height: 120px;
                margin-left: $space * 6;
                margin-right: $space * 10;
            }
        }

        &__input {
            width: 100%;
        }
    }
}

.shopping-list-add {
    background-color: $grey--light;

    @include media(xl) {
        &__label {
            flex: (5 / 18);
        }

        &__form {
            flex: (12 / 18);
        }

        &__input {
            flex: (8 / 15);
        }

        &__button {
            flex: (4 / 15);
        }
    }
}

.shopping-list-list {
    color: $grey--darker;
    padding-top: $space * 6;

    &__header {
        @include border($where: bottom, $color: $silver);
        display: flex;
        flex-direction: column;
        padding-bottom: $space * 4;

        @include media(lg) {
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &__total {
        margin-bottom: $space * 4;

        @include media(lg) {
            flex: (2 / 8);
            margin: ($space * 2) 0 0;
        }

        @include media(xl) {
            flex: (3 / 18);
        }
    }

    &__sort {
        display: flex;
        flex-direction: column;

        @include media(lg) {
            flex-direction: row;
            flex: (6 / 8);
        }

        @include media(xl) {
            flex: (9 / 18);
        }

        &-label {
            padding-bottom: $space * 2;

            @include media(lg) {
                flex: (2 / 6);
                padding: 0;
                margin: ($space * 2) 0 0;
                text-align: right;
            }

            @include media(xl) {
                flex: (3 / 9);
            }

            @include media(xxl) {
                flex: (5 / 9);
            }
        }

        &-text {
            @include media(lg) {
                margin-right: $space * 2;
            }
        }

        &-select {
            @include media(lg) {
                flex: (4 / 6);
            }

            @include media(xl) {
                flex: (6 / 9);
            }

            @include media(xxl) {
                flex: (4 / 9);
            }
        }
    }

    &__column {
        display: none;
        @include border($where: bottom, $color: $silver);

        @include media(xl) {
            display: flex;
            padding: ($space * 4) 0;

            &-name {
                flex: (7 / 18);
            }

            &-count {
                flex: (2 / 18);
            }

            &-date {
                flex: (3 / 18);
            }

            &-tool {
                flex: (6 / 18);
            }
        }

        @include media(xxl) {
            &-name {
                flex: (6 / 18);
            }

            &-count {
                flex: (3 / 18);
            }

            &-date {
                flex: (5 / 18);
            }

            &-tool {
                flex: (4 / 18);
            }
        }
    }

    &__item {
        @include border($where: bottom, $color: $silver);

        padding: ($space * 4) 0;

        &:first-of-type {
            @include border($where: top, $color: $silver);
        }

        &-name-txt {
            &:hover {
                color: $orange;
            }

            color: $grey--darker;
        }

        @include media(xl) {
            display: flex;
        }
    }
}

.shoplist__header.is-editing {
    .shoplist__rename-form { display: block; }

    .shoplist__cancel { display: inline-block; }

    .shoplist__selector,
    .shoplist__edit,
    .shoplist__remove { display: none; }
}

.shoplist__subheader {
    width: 100%;
    margin-bottom: $space * 2;

    @include media(lg) {
        width: calc(50% - 5px);
    }

    @include media(xl) {
        width: percentage(8/18);
    }

    @include media(xxl) {
        width: percentage(5/18);
        margin-bottom: 0;
    }
}

.shoplist__rename-form,
.shoplist__cancel { display: none; }

.list-action {
    color: $grey--darker;

    &:hover {
        color: $orange;
    }

    &__edit {
        padding-right: $space;

        @include media(xxl) {
            padding-right: $space * 2;
        }
    }

    &__delete {
        padding: 0 $space;

        @include media(xxl) {
            padding: 0 $space * 2;
        }
    }

    &__print {
        padding-left: $space;

        @include media(xxl) {
            padding-left: $space * 2;
        }
    }
}
