{
    'functions': true
}

$sprite: (
    {{#items}}
    {{name}}: (
        offset-x: {{px.offset_x}},
        offset-y: {{px.offset_y}},
        width: {{px.width}},
        height: {{px.height}},
        total-width: {{px.total_width}},
        total-height: {{px.total_height}},
        image: '{{{escaped_image}}}'
    ),
    {{/items}}
);

{{#options.functions}}

@function decimal-round ($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) != number {
        @warn '#{$number} is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) != number {
        @warn '#{$digits} is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{$digits} has a unit.';
        @return $number;
    }
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @if $mode == round {
        @if $digits == 0 {
            @return round($number);
        } @else {
            @return round($number * $n) / $n;
        }
    } @else if $mode == ceil {
        @return ceil($number * $n) / $n;
    } @else if $mode == floor {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{$mode} is undefined keyword.';
        @return $number;
    }
}

@mixin sprite-size($image) {
    $xVal: decimal-round((map-get(map-get($sprite, $image), 'total-width') / 2));
    $yVal: decimal-round((map-get(map-get($sprite, $image), 'total-height') / 2));

    background-size: $xVal $yVal;
}

@mixin sprite-width($image) {
    $width: decimal-round(((map-get(map-get($sprite, $image), 'width') / 2)));
    width: $width;
}

@mixin sprite-height($image) {
    $height: decimal-round((map-get(map-get($sprite, $image), 'height') / 2) + 0.123456789, 0);
    height: $height;
}

@mixin generate-sprite-classes($className: 'sprite') {
    @each $image, $properties in $sprite {
        $x: map-get($properties, 'offset-x');
        $y: map-get($properties, 'offset-y');

        .#{$className}--#{$image} {
            background-position: $x $y;
        }
    }
}

@mixin sprite-position($image, $xPosition: 0, $yPosition: 0) {
    $xString : "'" + $xPosition + "'";
    $yString : "'" + $yPosition + "'";


    $oX : decimal-round((map-get(map-get($sprite, $image), 'offset-x') / 2));
    $oY : decimal-round((map-get(map-get($sprite, $image), 'offset-y') / 2));

    $calcX : calc( #{$oX} + #{$xPosition} );
    $calcY : calc( #{$oY} + #{$yPosition} );

    @if $oX == "0px" {
        $calcX : $xPosition;
    }


    @if $oY == "0px" {
        $calcY : $yPosition;
    }

    $x: 0px;
    $y: 0px;

    @if str-index($xString, "%") and str-index($yString, "%"){
        $x : $calcX;
        $y : $calcY;
    }
    @elseif str-index($xString, "%") {
        $x : $calcX;
        $y : ($oY + $yPosition );
    } @elseif str-index($yString, "%") {
        $x : ( $oX + $xPosition );
        $y : $calcY;
    } @else {
        $x : ( $oX + $xPosition );
        $y : ( $oY + $yPosition );
    }

    background-position: $x $y;
}

@mixin sprite-image($image) {
    background-image: url(map-get(map-get($sprite, $image), 'image'));
}


@mixin sprite($image, $xPosition: 0, $yPosition: 0) {
    @include sprite-image($image);
    @include sprite-position($image, $xPosition, $yPosition);
    @include sprite-height($image);
    @include sprite-width($image);
    @include sprite-size($image);

    background-repeat: no-repeat;
}

{{/options.functions}}
