<template>
    <v-layout column wrap>
        <v-flex xs12 sm8 md4>
            <v-icon class="mr-2">create</v-icon>
            <span class="headline" >Editor</span>
            <v-layout column fluid>
                <v-flex xs12 sm8 md4>
                    <v-card color="grey lighten-3">
                        <v-card-actions>
                            <v-flex>
                                <h3>HTML</h3>
                            </v-flex>
                            <v-btn icon>
                                <v-icon>share</v-icon>
                            </v-btn>
                        </v-card-actions>
                        <codemirror v-model="rawHtml"
                                    :options="cmOptionHtml"
                                    @input="htmlChange"></codemirror>
                    </v-card>
                </v-flex>
                <v-flex xs12 sm8 md4>
                    <v-card color="grey lighten-3">
                        <v-card-actions>
                            <v-flex>
                                <h3>CSS</h3>
                            </v-flex>
                            <v-btn icon>
                                <v-icon>share</v-icon>
                            </v-btn>
                        </v-card-actions>
                        <codemirror v-model="rawStyle"
                                    :options="cmOptionStyle"
                                    @input="styleChange"></codemirror>
                    </v-card>
                </v-flex>
                <v-flex xs12 sm8 md4>
                    <v-card color="grey lighten-3">
                        <v-card-actions>
                            <v-flex>
                                <h3>javascript</h3>
                            </v-flex>
                            <v-btn icon>
                                <v-icon>share</v-icon>
                            </v-btn>
                        </v-card-actions>
                        <codemirror v-model="rawScript"
                                    :options="cmOptionScript"
                                    @input="scriptChange"></codemirror>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
    </v-layout>
</template>

<script lang="ts">
    import { Component, Prop, Emit, Vue } from 'vue-property-decorator';
    // require component
    import { codemirror } from 'vue-codemirror';

    import 'codemirror/mode/css/css.js';
    import 'codemirror/mode/javascript/javascript.js';
    import 'codemirror/mode/htmlmixed/htmlmixed.js';
    // require styles
    import 'codemirror/lib/codemirror.css';
    import 'codemirror/theme/idea.css';

    @Component({
        components: {
            codemirror,
        },
    })
    export default class Editor extends Vue {
        @Prop() protected propRawStyle!: string;
        @Prop() protected propRawScript!: string;
        @Prop() protected propRawHtml!: string;

        // init prop values to model
        protected rawStyle = this.propRawStyle;
        protected rawScript = this.propRawScript;
        protected rawHtml = this.propRawHtml;

        protected cmOptionStyle = {
            tabSize: 4,
            mode: 'text/css',
            lineNumbers: true,
            line: true,
            theme: 'idea',
        };

        protected cmOptionScript = {
            tabSize: 4,
            mode: 'text/javascript',
            lineNumbers: true,
            line: true,
            theme: 'idea',
        };

        protected cmOptionHtml = {
            tabSize: 4,
            mode: 'text/html',
            lineNumbers: true,
            line: true,
            theme: 'idea',
        };

        @Emit()
        protected styleChange() {
            return this.rawStyle;
        }

        @Emit()
        protected scriptChange() {
            return this.rawScript;
        }

        @Emit()
        protected htmlChange() {
            return this.rawHtml;
        }
    }
</script>

<style lang="scss" scoped>
</style>