<template>
    <v-layout class="my-3" row wrap>
        <v-flex xs12>
            <div class="mb-2">
                <v-icon class="mr-2">web</v-icon>
                <span class="headline">Preview</span>
            </div>
            <v-card class="overflow-y-scroll" height="300" max-height="500">
                <div v-html="rawHtml">
                </div>
            </v-card>
        </v-flex>
        <v-flex xs12 v-if="responsePanel">
            <div class="mb-2">
                <v-icon class="mr-2">reply</v-icon>
                <span class="headline">Response</span>
            </div>
            <v-card v-if="responseHtml.length" class="overflow-y-scroll" height="550" max-height="500">
                <div v-html="responseHtml">
                </div>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script lang="ts">
    import { Component, Prop, Watch, Vue } from 'vue-property-decorator';
    import axios from 'axios';

    const BLOCK_STYLE: string = 'style';
    const BLOCK_SCRIPT: string = 'script';

    @Component
    export default class Preview extends Vue {
        @Prop() protected propName!: string;
        @Prop() protected propRawStyle!: string;
        @Prop() protected propRawScript!: string;
        @Prop() protected propRawHtml!: string;
        @Prop() protected responsePanel!: boolean;

        protected rawStyle: string = this.propRawStyle;
        protected rawScript: string = this.propRawScript;
        protected rawHtml: string = this.propRawHtml;
        protected responseHtml: string = '';

        constructor() {
            super();
        }

        @Watch('propRawStyle')
        protected onStyleChange(val: any) {
            this.refreshBlock(BLOCK_STYLE, val);
        }

        @Watch('propRawScript')
        protected onScriptChange(val: any) {
            this.refreshBlock(BLOCK_SCRIPT, val);
        }

        @Watch('propRawHtml')
        protected onHtmlChange(val: any) {
            this.rawHtml = val;
        }

        protected mounted() {
            this.init();
        }

        protected init(): void {
            this.appendBlock(BLOCK_STYLE, this.rawStyle);
            this.appendBlock(BLOCK_SCRIPT, this.rawScript);

            const scriptBlock: HTMLScriptElement = document.createElement('script') as HTMLScriptElement;

            scriptBlock.src = 'contorion-components.js';
            this.$el.appendChild(scriptBlock);

            const forms: HTMLCollectionOf<Element> = this.$el.getElementsByTagName('form');

            for (const form of forms) {
                form.addEventListener('submit', this.onFormSubmit);
            }
        }

        protected appendBlock(blockName: string, source: any): void {
            const block: HTMLElement = document.createElement(blockName);

            block.id = `${this.propName}_${blockName}`;
            block.innerText = source;

            this.$el.appendChild(block);
        }

        protected refreshBlock(blockName: string, source: any): void {
            const target: HTMLElement | null = document.querySelector(`#${this.propName}_${blockName}`);

            if (target === null) {
                return;
            }

            target.remove();

            this.appendBlock(blockName, source);
        }

        protected onFormSubmit(event: Event): void {
            event.preventDefault();

            const form: HTMLFormElement = event.target as HTMLFormElement;
            const formValues: any = this.getFormValues(form);
            const requestConfig: any = {
                method: form.method,
                url: form.action,
                data: formValues,
            };

            if (form.method === 'get') {
                requestConfig.params = formValues;
            }

            axios(requestConfig).then((response) => {
                this.responseHtml = response.data;
            });
        }

        protected getFormValues(form: HTMLFormElement): any {
            const formValues: any = {};

            for (const pair of new FormData(form).entries()) {
                formValues[pair[0]] = pair[1];
            }

            return formValues;
        }
    }
</script>

<style lang="scss">
    @import '../assets/font-awesome/font-awesome';
    @import '../assets/styles/variables';
    @import "../assets/styles/variables/contorionFont";
    @import '../assets/styles/mixins';
    @import '../assets/styles/utilities/borders';
    @import '../assets/styles/utilities/borders';
    @import '../assets/styles/utilities/grid';
    @import '../assets/styles/utilities/helpers';
    @import '../assets/styles/utilities/margins';
    @import '../assets/styles/utilities/paddings';
    @import '../assets/styles/utilities/text';
    @import '../assets/styles/utilities/links';
    @import '../assets/styles/elements/button';
    @import '../assets/styles/elements/buttons';
    @import '../assets/styles/components/dropdown';
    @import '../assets/styles/components/form';
    @import '../assets/styles/components/product-widget';
    @import '../assets/styles/components/quantity-widget';

    .overflow-y-scroll {
        overflow-y: scroll;
    }

    /* .flex is conflit with vuetify's .flex */
    .display--flex { display: flex }
    .flex--none { flex: none; }
    .item--fit { flex: 1 1 auto; }
    .item--grow { flex-grow: 1; }

    .flex--column { flex-direction: column; }
    .flex--row { flex-direction: row; }

    .items--start { align-items: flex-start; }
    .items--end { align-items: flex-end; }
    .items--center { align-items: center; }
    .items--baseline { align-items: baseline; }

    .flex--start { justify-content: flex-start; }
    .flex--end { justify-content: flex-end; }
    .flex--center { justify-content: center; }
    .flex--between { justify-content: space-between; }
    .flex--around { justify-content: space-around; }
    .flex--wrap { flex-wrap: wrap; }
    .flex--wrap-reverse { flex-wrap: wrap-reverse; }
</style>