/* ------------------------------------ *\
    BADGES
\* ------------------------------------ */

.badge {
    background-color: $white;
    border-radius: $border-radius;
    color: $grey--dark;
    display: inline-block;
    line-height: 1em;
    min-width: 32px;
    padding: 2px 6px 3px;
    text-align: center;
    vertical-align: middle;
    @include border;

    &.txt--teko {
        padding-top: 3px;
        padding-bottom: 0;
    }

    &--round-large {
        background-color: $orange;
        border-color: $orange;
        border-radius: 20px;
        color: $white;
        font-weight: $font-weight--bold;
        max-height: 40px;
        min-width: 40px;
        padding: $space * 2;

        &::before {
            font-size: $font-size--large;
        }
    }
}

.badge--round {
    background-color: $orange;
    border-color: $orange;
    border-radius: 11px;
    color: $white;
    font-size: $font-size--small;
    font-weight: $font-weight--bold;
    min-width: 0;
}

.badge--red {
    color: $red;
    border-color: $red;
}

.badge--yellow {
    color: $yellow;
    border-color: $yellow;
}

.badge--green {
    color: $green;
    border-color: $green;
}

.badge--black {
    background-color: $black;
    border-color: $black;
    font-size: 10px !important;
    border-radius: 22px;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.badge--space {
    margin-left: 32px;
}
