.button {
    @include border($color: transparent);
    align-items: center;
    border-radius: $border-radius;
    color: $grey--darker;
    cursor: pointer;
    display: inline-flex;
    font-size: $font-size--regular;
    height: 40px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    padding: 0 ($space * 2);
    white-space: nowrap;

    &__inner {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        line-height: 1;
        margin: 0;
        white-space: nowrap;
        width: 100%;
    }

    .fa,
    [class^="icon--"] {
        height: 24px;
        position: relative;
        width: 24px;

        &::before {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .fa:not(&__loading-indicator) {
        + .button__text {
            margin-left: $space * 2;
        }
    }

    &__loading-indicator {
        display: none !important;
    }

    &__text {
        font-weight: 600;

        + .fa,
        + [class^="icon--"] {
            margin-left: $space * 2;
        }
    }

    .fa + &__text,
    [class^="icon--"] + &__text {
        margin-left: $space * 2;
    }

    .fa {
        font-size: 1.2em;
    }

    [class^="icon--"] {
        font-size: 1.5em;
    }

    &:hover {
        text-decoration: none;
    }

    &--default {
        @include border();
        color: $base-text-color;
        background-color: #fff;

        &:hover {
            border-color: $theme-color;
            color: $theme-color;
        }
    }

    &--inverted {
        @include border($color: $theme-color);
        color: $theme-color--dark;
        background-color: #fff;

        &:hover {
            background-color: $theme-color;
            color: #fff;
        }
    }

    &--primary {
        @include border($color: $theme-color--dark);
        background-color: $theme-color--dark;
        color: #fff;

        &:hover {
            @include border($color: $theme-color);
            background-color: $theme-color;
        }
    }

    &--grey {
        @include border($color: $grey);
        background-color: $silver;
        color: $base-text-color;

        &:hover {
            background-color: $grey;
        }
    }

    &--warning {
        background-color: $yellow;
        color: #fff;

        &:hover {
            background-color: $yellow;
        }
    }

    &--small {
        height: 32px;

        [class^="icon--"] {
            font-size: 1.1em;
        }

        .button__text {
            font-weight: $font-weight--base;
        }
    }

    &--big {
        height: 50px;

        .button__text {
            line-height: $line-height--regular;
            font-weight: $font-weight--base;
        }
    }

    &--large {
        height: 45px;

        .button__text {
            font-size: $font-size--medium;
            line-height: $line-height--regular;
            font-weight: $font-weight--bold;
        }
    }

    &--link {
        background-color: transparent;
        font-weight: $font-weight--bold;

        &:hover {
            text-decoration: underline;
        }
    }

    &--dashed {
        @include border($style: dashed);
        background-color: #fff;

        &:hover {
            .button__text {
                text-decoration: underline;
            }
        }
    }

    &--nav-left,
    &--nav-right {
        background-color: #fff;
    }

    &--nav-left {
        box-shadow: $box-shadow-button--nav-left;

        &:hover {
            box-shadow: $box-shadow-button--nav-left__hover;
        }

        &.disabled,
        &[disabled] {
            box-shadow: $box-shadow-button--nav-left--inactive;
        }
    }

    &--nav-right {
        box-shadow: $box-shadow-button--nav-right;

        &:hover {
            box-shadow: $box-shadow-button--nav-right__hover;
        }

        &.disabled,
        &[disabled] {
            box-shadow: $box-shadow-button--nav-right--inactive;
        }
    }

    &.loading,
    &.inProgress,
    .inProgress & {
        .fa:not(.button__loading-indicator),
        [class^="icon--"]:not(.button__loading-indicator) {
            display: none;
        }

        .button__text + .fa,
        .button__text + [class^="icon--"] {
            display: block;
        }

        .button__loading-indicator {
            display: block !important;
        }
    }
}

.hg-c-Button {
    @include border($color: transparent);
    align-items: center;
    border-radius: $border-radius;
    color: $grey--darker;
    cursor: pointer;
    display: inline-flex;
    font-size: $font-size--regular;
    height: $hg-global-element-height;
    justify-content: center;
    line-height: 1;
    margin: 0;
    padding: 0 ($space * 2);
    white-space: nowrap;

    &:active,
    &:focus {
        color: $white;
        outline: none;
    }

    &:focus,
    &:link {
        color: inherit;
    }

    &:hover {
        text-decoration: none;
    }
}

.hg-c-Button--primary {
    @include border($color: $orange);
    background-color: $orange;
    color: $white;
    font-weight: $font-weight--bold;
    padding: 5px 16px;
    transition: transform 0.1s;

    &:active {
        transform: scale(0.9);
    }

    &:focus,
    &:link {
        color: $white;
    }

    &:hover {
        background-color: $orange--dark;
    }

}

.hg-c-Button--inverted {
    @include border($color: $grey--darker);
    color: $grey--darker;
    background-color: transparent;
    transition: transform 0.1s;

    &:hover {
        background-color: $theme-color;
        color: #fff;
    }

    &:active {
        transform: scale(0.9);
    }
}

.button {
    &.disabled,
    &[disabled] {
        color: $white;
        background-color: $orange--light;
        cursor: not-allowed;
        border: none;

        .fa:first-child,
        [class^="icon--"] {
            color: $grey--dark;
        }
    }
}

.hg-c-Button--secondary {
    background-color: $white;
    border: 1px solid $grey--darker;
    border-radius: $border-radius;
    height: $hg-global-element-height;
    padding: 5px 16px;
    transition: 400ms;

    &:active {
        background-color: $orange;
        border: none;
        color: $white;
        transform: scale(0.9, 0.9);
    }

    &:hover {
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
}

.hg-c-Button--l {
    height: $hg-global-element-height-l;
}

.hg-c-Button--m {
    height: $hg-global-element-height;
}

.hg-c-Button--s {
    height: $hg-global-element-height-s;
}

.hg-c-Button--square-s {
    height: $hg-global-element-height-s;
    width: $hg-global-element-height-s;
}

.hg-c-Button__text {
    vertical-align: middle;
    white-space: nowrap;
}

[class^="icon--"] ~ .hg-c-Button__text {
    margin-left: $space * 2;
}

.hg-c-Button--hover-bold {
    &:hover {
        font-weight: $font-weight--bold;
    }
}

.hg-c-Button--cart {
    @include media(md) {
        height: $hg-global-element-height-l;
    }
}

.hg-c-Button--forbidden {

    &:hover {
        cursor: not-allowed;
        background-color: $red--light !important;
        border-color: $red--light !important;
        color: $red;
        font-weight: inherit;
    }
}

