/* ----------------------------------- *\
    BUTTONS

    .btn and .btn--default are loaded
    in the critical path
\* ------------------------------------ */

.btn {
    background: none;
    border-radius: $border-radius;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    letter-spacing: normal;
    min-width: 40px;
    padding: 10px 12px 11px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    @include border($color: transparent);

    @include media(lg) {
        height: 32px;
        min-width: 32px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    &:hover { text-decoration: none; }

    &.btn--inverted {
        background-color: #fff;

        &:hover {

            &,
            & > .fa,
            & > [class^="icon--"] { color: #fff; }
        }
    }

    &.disabled,
    &[disabled] {
        color: $grey--dark;
        background-color: $silver;
        border-color: $grey;

        &.btn--inverted {
            color: $grey--dark;
            border-color: $grey;
            & > .fa { color: $grey--dark; }
        }

        &:hover,
        &.btn--inverted:hover { background-color: $silver; }
    }

    &.btn--icon-left > .fa,
    &.btn--icon-left > [class^="icon--"] { margin-right: $space; }

    &.btn--icon-right > .fa,
    &.btn--icon-right > [class^="icon--"] { margin-left: $space; }

    & > .fa { font-size: $font-size--regular-plus; }

    & > .fa.loading { font-size: $font-size--large; }

    & > .icon--add-wishlist {
        position: relative;
        top: 1px;
    }
}

.btn--default {
    background-color: $theme-color--dark;
    &:hover { background-color: $theme-color; }
    &.btn--inverted {
        color: $theme-color--dark;
        border-color: $theme-color;
    }
    &.btn--inverted:hover { background-color: $theme-color; }
    &.btn--inverted > .fa,
    &.btn--inverted > [class^="icon--"] { color: $theme-color; }
}

/* When the modifiers change padding, margin or height; increase the priority */
.btn.btn--small {
    min-width: 26px;
    height: 26px;
    padding: 2px 6px;
}

.btn.btn--buy {
    height: 48px;
    padding: $space * 2;
}

.btn--success {
    background-color: $green;
    &:hover { background-color: $green; }
    &.btn--inverted {
        color: $green;
        border-color: $green;
    }
    &.btn--inverted:hover { background-color: $green; }
    &.btn--inverted > .fa,
    &.btn--inverted > [class^="icon--"] { color: $green; }
}

.btn--warning {
    background-color: $yellow;
    &:hover { background-color: $yellow; }
    &.btn--inverted {
        color: $yellow;
        border-color: $yellow;
    }
    &.btn--inverted:hover { background-color: $yellow; }
    &.btn--inverted > .fa,
    &.btn--inverted > [class^="icon--"] { color: $yellow; }
}

.btn--error {
    background-color: $red;
    &:hover { background-color: $red; }
    &.btn--inverted {
        color: $red;
        border-color: $red;
    }
    &.btn--inverted:hover { background-color: $red; }
    &.btn--inverted > .fa,
    &.btn--inverted > [class^="icon--"] { color: $red; }
}

.btn--grey {
    background-color: $silver;
    color: $base-text-color;
    &:hover { background-color: $grey; }

    &,
    &.disabled,
    &[disabled] { border-color: $grey; }
}

.btn--flat {
    background-color: #fff;
    border-color: $border-default-color;
    color: $base-text-color;
    &:hover { background-color: $silver; }
}

.btn--icon {
    align-items: center;
    background-color: #fff;
    border: 0;
    color: $theme-color;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;

    &[disabled] {
        background-color: #fff;
    }

    &:hover {
        background-color: $silver;
    }
}

.btn--nav {
    background-color: #fff;
    border: 1px solid $grey;
    color: $base-text-color;
    opacity: 0.8;
    position: absolute;
    z-index: index($hg-z-layers, menu);

    &.disabled,
    &[disabled] {
        background-color: #fff;
        border: 0;
        color: $grey;
    }

    &::before {
        font-family: $font-family--font-awesome;
        font-size: $font-size--medium;
    }
}

.btn--nav--left {
    &:hover { box-shadow: $box-shadow-button--nav-left__hover; }

    &.disabled,
    &[disabled] { box-shadow: $box-shadow-button--nav-left--inactive; }

    &::before { content: $fa-var-chevron-left; }
}

.btn--nav--right {
    right: 0;
    &:hover { box-shadow: $box-shadow-button--nav-right__hover; }

    &.disabled,
    &[disabled] { box-shadow: $box-shadow-button--nav-right--inactive; }

    &::before { content: $fa-var-chevron-right; }
}

.btn--buy {

    .btn--buy__icon {
        display: inline-block;
        font-size: $font-size--large;
        margin-right: $space;
        width: $space * 6;
    }

    .btn--buy__icon--loading { display: none; }

    &.inProgress,
    .inProgress & {
        .btn--buy__icon { display: none; }
        .btn--buy__icon--loading { display: inline-block; }
    }
}

.btn--message {
    .btn--message__message {
        display: inline-block;
        width: 126px; //This is the width of the longest message
    }

    .btn--message__message--hover { display: none; }

    &:hover {
        background-color: $yellow !important;
        border-color: $yellow !important;
        cursor: not-allowed;

        .btn--message__message { display: none; }
        .btn--message__message--hover { display: inline-block; }
    }
}

/**
 ** Firefox does not allow <button> to be a flex container,
 ** a <span> wrapper has been added to achieve the same result
 **/
.btn--buy__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn--close {
    color: $grey;
    cursor: pointer;
    font-size: 20px;
    height: 10px;
    width: 10px;

    &:hover {
        color: $grey--dark;
    }

    &::before {
        content: $fa-var-times;
        font-family: FontAwesome;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
