/* ------------------------------------ *\
    LABEL
\* ------------------------------------ */

label {
    display: inline-block;
    margin-bottom: $space;

    &.required::after {
        content: " *";
    }

    &.inline {
        display: inline;
    }
}
