/* ------------------------------------ *\
    SELECT
\* ------------------------------------ */

select {
    width: 100%;
    height: 40px;
    padding: 10px 32px 10px 8px;
    border-radius: $border-radius;
    appearance: none;
    line-height: 1em;
    cursor: pointer;
    background: #fff url(../../images/sprite-inputs.png) no-repeat scroll calc(100% - 10px) -10px;
    background-size: 15px;
    @include border;

    &::-ms-expand { display: none; }

    &:focus {
        outline: none;
        background-color: $silver;
    }

    &[disabled],
    &.disabled,
    &.disabled-indicator,
    .disabled-indicator & {
        cursor: not-allowed;
        background: #fff url(../../images/sprite-inputs.png) no-repeat scroll calc(100% - 10px) 16px;
        background-size: 15px;
    }

    &.disabled-indicator,
    .disabled-indicator & {
        background-color: $red--light;
        background-image: none;
        color: $red;
    }
}
