/* ------------------------------------ *\
    TABLE DIV
\* ------------------------------------ */

.table { display: table; }

.tr { display: table-row; }

.td,
.th { display: table-cell; }


///* --------------------------------------------------- *\
//    TABLE MOBILE
//
//    This media query is an exception.
//    The table mobile should only be shown only in
//    sm and md sizes.
//    TODO: consider using the existing media queries.
//\* ---------------------------------------------------- */

@media (max-width: #{map_get($grid-breakpoints, 'lg')}) {

    //See angular module "table-responsive"
    .table-mobile {
        thead { display: none; }

        tr {
            display: block;
            margin-bottom: $space * 2;
            border-radius: $border-radius;
            @include border;
        }

        td {
            display: block;
            position: relative;
            padding: $space * 2;
            width: 100%;
            background-color: #fff;
            @include border($where: bottom, $color: $silver);

            &:first-child {
                background-color: $silver;
                border-bottom: 0;
            }

            &:last-child { border-bottom: 0; }

            &::before {
                content: attr(data-th);
                display: block;
                font-weight: $font-weight--bold;
                width: 50%;
                float: left;
                @include media(lg) { content: ""; }
            }
        }
    }
}
