/* ------------------------------------ *\
    TABLE DEFAULT
\* ------------------------------------ */

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: $border-radius;
}

th,
td { padding: $space ($space * 2) $space 0; }

th {
    font-weight: $font-weight--bold;
    text-align: left;
    vertical-align: bottom;
}

td { vertical-align: middle; }


/* ------------------------------------ *\
    TABLE BORDERED
\* ------------------------------------ */

.table--bordered {

    th,
    td { padding: $space * 2; }

    th {
        background-color: $silver;
        @include border($where: top);
    }

    td { @include border($where: bottom); }

    tr:last-child > td { border: 0; }
}

/* ------------------------------------ *\
    TABLE STRIPED
\* ------------------------------------ */

.table--striped {

    th,
    td { padding: $space * 2; }

    td {
        @include border($where: 'right', $width: 2px, $color: #fff);
        &:last-child { border: 0; }
    }

    tbody > tr:nth-child(odd) { background-color: $silver; }
}
