.tag {
    background-color: $grey--dark;
    border-radius: $border-radius;
    color: #fff;
    display: inline-block;
    font-size: $font-size--small;
    font-weight: $font-weight--bold;
    padding: 2px $space;
    white-space: nowrap;

    small {
        font-weight: $font-weight--base;
    }

    &--pending {
        background-color: $theme-color;
    }

    &--closed {
        background-color: $silver;
        color: $grey--dark;
    }

    &--success {
        background-color: $green;
    }

    &--cancelled {
        background-color: $grey--dark;
    }

    &--warning {
        background-color: $orange--light;
    }
}

