/* ------------------------------------ *\
    TOOLTIPS
\* ------------------------------------ */

.tooltip {
    @include border;
    background-color: #fff;
    box-shadow: $shadow2;
    left: 0;
    max-width: 400px;
    min-width: 200px;
    padding: 5px 7px;
    position: absolute;
    top: calc(100% + 3px);
    z-index: index($hg-z-layers, tooltip);

    &::before,
    &::after {
        content: "";
        position: absolute;
        margin-left: -7px;
        @include border($width: 7px, $color: transparent);
        z-index: index($hg-z-layers, tooltip);
    }

    &::before {
        border-bottom-color: #fff;
        left: calc(50% - 1px);
        top: -14px;
    }

    &::after {
        border-bottom-color: $grey;
        border-width: 8px;
        left: calc(50% - 2px);
        top: -16px;
    }
}

.tooltip--info,
.tooltip--error,
.tooltip--success,
.tooltip--warning {
    color: #fff;
}

.tooltip--info {
    background-color: $theme-color;
    border-color: $theme-color;

    &::before,
    &::after {
        border-bottom-color: $theme-color;
    }
}

.tooltip--error {
    background-color: $red;
    border-color: $red;

    &::before,
    &::after {
        border-bottom-color: $red;
    }
}

.tooltip--success {
    background-color: $green;
    border-color: $green;

    &::before,
    &::after {
        border-bottom-color: $green;
    }
}

.tooltip--warning {
    background-color: $yellow;
    border-color: $yellow;

    &::before,
    &::after {
        border-bottom-color: $yellow;
    }
}
