<template>
  <div id="app">
    <v-app>
      <v-toolbar app clipped-left>
        <v-toolbar-title class="headline text-uppercase">
          <span>Search</span>
          <span class="font-weight-light"> Service</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>

      <v-navigation-drawer app clipped permanent>
        <v-list>
          <v-list-tile router-link to="/">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile router-link to="/product-search">
            <v-list-tile-action>
              <v-icon>search</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Product Search</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile router-link to="/search-facet">
            <v-list-tile-action>
              <v-icon>search</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Search Facet</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>


      <v-content class="content">
        <v-container fluid grid-list-md>
          <router-view/>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component
    export default class App extends Vue {}
</script>

<style lang="scss">
  .content {
    z-index: 0;
  }
</style>