/* ------------------------------------ *\
    MEDIA QUERIES
\* ------------------------------------ */

@mixin media($breakpoint-name) {
    @media (min-width: #{map_get($grid-breakpoints, $breakpoint-name)}) { @content; }
}

@mixin generate-breakpoint-prefixes($class-name, $short-name: false) {
    $concat: if($short-name == true, '', '_');

    .#{$class-name} { @content; }

    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
        @include media($breakpoint-name) {
            .#{$breakpoint-name}#{$concat}#{$class-name} { @content; }
        }
    }
}


/* ------------------------------------ *\
    BORDER
\* ------------------------------------ */

@mixin border($where: null, $width: 1px, $style: solid, $color: $grey, $important: false) {
    $position: (top, right, bottom, left);

    @if ($width == 0) {
        $style: null;
        $color: null;
    }

    @if ($important == true) {
        @if (index($position, $where)) {
            border-#{$where}: $width $style $color;
        } @else {
            border: $width $style $color;
        }
    } @else {
        @if (index($position, $where)) {
            border-#{$where}: $width $style $color;
        } @else {
            border: $width $style $color;
        }
    }
}


/* ------------------------------------ *\
    TEXT
\* ------------------------------------ */

@mixin truncate-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}