/* ------------------------------------ *\
    BREAKPOINTS
\* ------------------------------------ */
$grid-breakpoints: (
    md: 478px,
    lg: 754px,
    xl: 946px,
    xxl: 1330px
);

$grid-columns: (
    md: 6,
    lg: 12,
    xl: 24,
    xxl: 24
);

$grid-prefixes: (
    md: 'md',
    lg: 'lg',
    xl: 'xl',
    xxl: 'xxl'
);


/* ------------------------------------ *\
    SPACES
\* ------------------------------------ */

$space: 5px;


/* ------------------------------------ *\
    COLOR VARIABLES
\* ------------------------------------ */

//white & black
$white: #fff;
$black: #000;

//Blue
$blue--light: #d9edf7;
$blue: #31708f;
$blue--facebook: #3b5998;

//Grey
$grey--light: #f5f5f5;
$silver: #e7e7e7;
$grey: #cdcdcd;
$grey--dark: #b3b3b3;
$grey--darker: #333;

//Green
$green--light: #dff0d8;
$green: #49ab1d;

//Red
$red--light: #f2dede;
$red: #af4442;
$red--google: #dd4b39;
$red--youtube: #e52d27;

//Yellow
$yellow: #f7ab09;
$yellow--light: #fffae4;

//Orange
$orange--light: #ffcba2;
$orange: #ff7000;
$orange--dark: #e75915;

//Default theme
$theme-color: $orange;
$theme-color--dark: $orange;


/* ------------------------------------ *\
    TEXT VARIABLES
\* ------------------------------------ */

$font-family--regular: "Roboto", Helvetica, Arial, sans-serif;
$font-family--font-awesome: "FontAwesome";

$line-height: 1.2;

$font-weight--base: 400;
$font-weight--light: 300;
$font-weight--bold: 700;

$line-height--list: 20px;

$base-text-color: $grey--darker;


/* ------------------------------------ *\
    BORDER VARIABLES
\* ------------------------------------ */

$border-radius: 2px;
$border-default-color: $grey;


/* ------------------------------------ *\
    Z-INDEX VARIABLES
\* ------------------------------------ */

$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;
$z5: 500;


/* ------------------------------------ *\
    BOX SHADOW VARIABLES
\* ------------------------------------ */

$box-shadow-navigation-mobile: inset -5px 0 7px -2px rgba(#000, 0.35);
$box-shadow-navigation-mobile-filters: inset 5px 0 7px rgba(#000, 0.35);

$box-shadow-button--nav-left: 2px 0 3px 0 rgba(#000, 0.2);
$box-shadow-button--nav-left__hover: 3px 0 5px 0 rgba(#000, 0.2);
$box-shadow-button--nav-left--inactive: -2px 0 3px 0 rgba(#000, 0.1);
$box-shadow-button--nav-right: -2px 0 3px 0 rgba(#000, 0.2);
$box-shadow-button--nav-right__hover: -3px 0 5px 0 rgba(#000, 0.2);
$box-shadow-button--nav-right--inactive: 2px 0 3px 0 rgba(#000, 0.1);

$box-shadow-navbar: rgba(0, 0, 0, 0.5) 0 2px 8px 0;

$shadow1: 0 1px  3px  rgba(#000, 0.12), 0 1px  2px  rgba(#000, 0.24);
$shadow2: 0 0 2px 0   rgba(#000, 0.12), 0 2px 2px 0 rgba(#000, 0.24);
$shadow3: 0 10px 20px rgba(#000, 0.19), 0 6px  6px  rgba(#000, 0.23);
$shadow4: 0 14px 28px rgba(#000, 0.25), 0 10px 10px rgba(#000, 0.22);
$shadow5: 0 19px 38px rgba(#000, 0.3), 0 15px 12px rgba(#000, 0.22);
$shadow6: 0 1px 2px 0 #cdcdcd;

$panel-shadow: 0 1px 2px 0 $grey;


/* ------------------------------------ *\
    MISCELLANEOUS VARIABLES
\* ------------------------------------ */

$transition-ease: cubic-bezier(0.4, 0, 0.2, 1);


/* ------------------------------------ *\
    CUSTOMER ACCOUNT VARIABLES
\* ------------------------------------ */

$customer-account-page-colors: (
    addresses: #607d8b,
    customer-account-settings: #607d8b,
    customer-user-management: #607d8b,
    logout: #60b0ff,
    newsletters: #607d8b,
    offers: $red,
    orders: $green,
    overview: #60b0ff,
    shopping-list: $yellow,
    profile: #607d8b,
);

$customer-account-pages: (
    addresses,
    customer-account-settings,
    customer-user-management,
    logout,
    offers,
    orders,
    overview,
    profile,
    shopping-list,
);

@import "./_hg-variables.scss";
