// Font Awesome
@import "../font-awesome/font-awesome";

// variables
@import "variables/variables";
@import "variables/mixins";

//@import "vendor/reset"; //in the critical path
//@import "base/global"; //in the critical path

//utilities
//@import "utilities/flexbox"; //in the critical path
//@import "utilities/grid"; //in the critical path
@import "utilities/paddings";
@import "utilities/margins";
@import "utilities/borders";
@import "utilities/text";
@import "utilities/links";
@import "utilities/lists";
@import "utilities/fill-colors";
@import "utilities/icons";
@import "utilities/cms";
@import "utilities/helpers";

//font //TODO: consider putting this on the CDN
@import "variables/contorionFont";

//elements

@import "elements/buttons";
//@import "elements/button"; //in the critical path
@import "elements/shadows";
//@import "elements/badges"; //in the critical path
@import "elements/label";
@import "elements/select";
@import "elements/tables";
//@import "elements/tables-extras"; //Use only if needed
@import "elements/tooltips";
@import "elements/blockquote";
@import "elements/tag";
@import "elements/annotation";

//components
@import "components/address-management";
@import "components/alerts";
@import "components/billpay";
@import "components/brands";
@import "components/breadcrumbs";
@import "components/collapsibles";
@import "components/cost-center";
@import "components/cost-center-select";
@import "components/custom-select";
@import "components/expandable";
@import "components/faq";
@import "components/faq-menu";
//@import "components/fieldset"; //TODO: Do when a page with them comes
@import "components/footer-seo";
@import "components/footer-sprite";
//@import "components/form"; //in the critical path
@import "components/hg-menu";
@import "components/hg-product-filters";
@import "components/hg-product-filters-list";
@import "components/hg-tooltip";
@import "components/hg-user-settings";
@import "components/hg-user-settings-baseproductfilter";
@import "components/hg-user-settings-categoryfilter";
@import "components/info-box";
@import "components/input-group";
@import "components/marquee";
@import "components/menu";
@import "components/modals";
@import "components/modal-form-message";
@import "components/order-cancellation";
@import "components/orderbox";
@import "components/ng-carousel";
@import "components/notification";
@import "components/pagination";
@import "components/panel";
@import "components/press";
@import "components/product";
@import "components/product-details";
@import "components/product-hightlights";
@import "components/product-history";
@import "components/product-list";
@import "components/product-rating";
@import "components/product-relation-highlight";
@import "components/product-relations";
@import "components/product-relations-search";
@import "components/product-specs";
@import "components/product-staple";
@import "components/product-widget";
@import "components/product-widget-slider";
@import "components/products-with-attributes";
@import "components/progress-bar";
@import "components/bundles-products";
@import "components/quantity-widget";
@import "components/recommendations";
@import "components/rzslider";
@import "components/weissmaler";
@import "components/search-bar"; //in the critical path
@import "components/shopping-list-widget";
@import "components/slider";
@import "components/subheadline"; //TODO: built specifically for PDP, consider reusing
@import "components/switch";
@import "components/tabs";
@import "components/testimonials";

//layout
//@import "layout/main"; //in the critical path
//@import "layout/header"; //in the critical path
//@import "layout/homepage-banner"; //in the critical path
@import "layout/navigation";
@import "layout/navigation-mobile";
@import "layout/header";
@import "layout/footer";
@import "layout/pdp";
@import "layout/homepage";
@import "layout/category-pages";
@import "layout/cart";
@import "layout/direct-purchase";
@import "layout/fast-purchase";
@import "layout/shopping-list";
@import "layout/jobs";
@import "layout/teams";
@import "layout/checkout";
@import "layout/customer-account";
@import "layout/brandpage";
@import "layout/productline";
@import "layout/login-register";

/* Restored styles from the critical path */
.main-content,
.navigation,
.header-login-form,
.menu--header-dropdown {
    opacity: 1;
    animation: none;
}
