// variables
@import "../font-awesome/custom-font-awesome";
@import "variables/variables";
@import "variables/mixins";

//base
@import "vendor/reset";
@import "base/global";

//utilities
@import "utilities/flexbox";
@import "utilities/grid";

//elements
@import "elements/badges";
@import "elements/button";

//components
@import "components/form";
@import "components/search-bar";
@import "components/cookie-hint";

//layout
@import "layout/main";
@import "layout/header";
@import "layout/homepage-banner";

/* These are styles that have to be reverted in the normal CSS file */
@keyframes showContent {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.navigation {
    display: none;
}

.header a {
    text-decoration: none;
}

.header__nav-item > i,
.header__nav-item > a > i {
    min-height: 26px;
}

.main-content,
.header-login-form,
.menu--header-dropdown {
    opacity: 0;
    animation: showContent 0.3s ease 8s 1 normal forwards;
}

.header-login-form,
.menu--header-dropdown {
    display: none;
}

// .hidden duplicated here, will be overriden in the helpers
.hidden { display: none !important; }

body.js .hidden-with-js { display: none !important; }
body.no-js .hidden-without-js { display: none !important; }
