// variables
@import "variables/variables";
@import "variables/mixins";

.no-font {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ._h1,
    ._h2,
    ._h3,
    ._h4,
    ._h5,
    ._h6 { font-family: "Roboto", Helvetica, Arial, sans-serif; }

    h1,
    ._h1 {
        font-size: 30px;
        line-height: 36px;
    }

    h2,
    ._h2 {
        font-size: 24px;
        line-height: 24px;
    }

    h3,
    ._h3 {
        font-size: 16px;
        line-height: 18px;
    }

    h4,
    ._h4 {
        font-size: 14px;
        line-height: 18px;
    }

    h5,
    ._h5 {
        font-size: 13px;
        line-height: 18px;
    }

    h6,
    ._h6 {
        font-size: 11px;
        line-height: 14px;
    }

    @include media(xxl) {
        .xxl_h5 {
            font-size: 13px;
            line-height: 18px;
        }
    }

    @include media(lg) {
        .lg_h5 {
            font-size: 13px;
            line-height: 18px;
        }
    }

    @include media(md) {
        .md_h5 {
            font-size: 13px;
            line-height: 18px;
        }
    }
}
