/* ------------------------------------ *\
    BACKGROUND FILL COLORS
\* ------------------------------------ */

.bg--transparent { background-color: transparent !important; }
.bg--white { background-color: $white !important; }
.bg--theme { background-color: $theme-color !important; }
.bg--theme--dark { background-color: $theme-color--dark !important; }
.bg--grey { background-color: $grey !important; }
.bg--grey--light { background-color: $grey--light !important; }
.bg--silver { background-color: $silver !important; }
.bg--grey--dark { background-color: $grey--dark !important; }
.bg--grey--darker { background-color: $grey--darker !important; }

.bg--green,
.bg--success { background-color: $green !important; }

.bg--yellow,
.bg--warning { background-color: $yellow !important; }

.bg--red,
.bg--error { background-color: $red !important; }
