/* ------------------------------------ *\
    FLEXBOX
\* ------------------------------------ */

.flex { display: flex; }
.flex--none { flex: none; }
.item--fit { flex: 1 1 auto; } //class used because of IE10 only, makes text wrap and elements take full width as flex children
.item--grow { flex-grow: 1; }

.flex--column { flex-direction: column; }
.flex--row { flex-direction: row; }

.items--start { align-items: flex-start; }
.items--end { align-items: flex-end; }
.items--center { align-items: center; }
.items--baseline { align-items: baseline; }

.flex--start { justify-content: flex-start; }
.flex--end { justify-content: flex-end; }
.flex--center { justify-content: center; }
.flex--between { justify-content: space-between; }
.flex--around { justify-content: space-around; }
.flex--wrap { flex-wrap: wrap; }
.flex--wrap-reverse { flex-wrap: wrap-reverse; }

@include generate-breakpoint-prefixes($class-name: 'flex--nowrap') {
    & {
        flex-wrap: nowrap;
    }
}

@include generate-breakpoint-prefixes($class-name: 'flex--column') {
    & {
        flex-direction: column;
    }
}


@include generate-breakpoint-prefixes($class-name: 'flex--row') {
    & {
        flex-direction: row;
    }
}

@include generate-breakpoint-prefixes($class-name: 'flex--wrap') {
    & {
        flex-wrap: wrap;
    }
}

@include generate-breakpoint-prefixes($class-name: 'flex--start') {
    & {
        justify-content: flex-start;
    }
}

@include generate-breakpoint-prefixes($class-name: 'flex--end') {
    & {
        justify-content: flex-end;
    }
}

@include generate-breakpoint-prefixes($class-name: 'order') {
    @for $i from 1 through 3 {
        &-#{$i} { order: #{$i}; }
    }
}
