/* ------------------------------------ *\
    GRID COLUMNS
\* ------------------------------------ */


//.column classes
@mixin column-class($prefix, $columns) {
    @for $i from 1 through ($columns - 1) {
        .#{$prefix}_c#{$i} { width: percentage($i / $columns); }
    }

    .#{$prefix}_fit { width: 100%; }
    .#{$prefix}_c-auto { width: auto; }
}

@include column-class('', 6); //Default sm

@each $break-point, $columns in $grid-columns {
    @include media($break-point) {
        @include column-class($break-point, $columns);
    }
}

@mixin column-class-within($break-point, $desired-global-columns, $outer-columns) {
    @include media($break-point) {
        .#{$break-point}_c#{$desired-global-columns}_within#{$outer-columns} {
            width: percentage($desired-global-columns / $outer-columns);
        }
    }
}

$desired-columns-within-18-xxl: 2, 3, 4, 5, 6, 8, 9, 10, 11, 12;

@each $desired-column in $desired-columns-within-18-xxl {
    @include column-class-within('xxl', $desired-column, 18);
    @include column-class-within('xl', $desired-column, 18);
}

//.hidden
@include generate-breakpoint-prefixes($class-name: 'hidden') {
    & {
        visibility: hidden;
        display: none !important;
    }
}

//.shown
@include generate-breakpoint-prefixes($class-name: 'shown') {
    & {
        visibility: visible;
        display: block !important;
    }
}

@include generate-breakpoint-prefixes($class-name: 'shown--inline') {
    & {
        visibility: visible;
        display: inline-block !important;
    }
}

@include generate-breakpoint-prefixes($class-name: 'shown--flex') {
    & {
        visibility: visible;
        display: flex !important;
    }
}
