.hg-html--raw {

    h1 {
        font-family: $font-family--regular;
        font-size: $font-size--large;
        margin: ($space * 2) 0;
    }

    h2,
    h3 { font-weight: $font-weight--bold; }

    h2 {
        font-size: $font-size--regular-plus;
        margin: ($space * 2) 0;
    }

    h3,
    p { margin: $space 0; }

    h3 { font-size: $font-size--regular; }

    ul {
        padding: $space 0 $space 0;

        & > li::before {
            content: $fa-var-circle;
            font-family: $font-family--font-awesome;
            font-size: 10px;
            color: $grey;
        }
    }

    //Most of the time the raw HTML contains list elements outside <ul> or <ol>
    li {
        position: relative;
        list-style: none;
        padding-left: 4 * $space;
        line-height: $line-height--list;

        &::before {
            position: absolute;
            content: "\2022";
            top: 0;
            left: 0;
        }
    }

    img { margin-top: $space * 3; }
}
