/* ------------------------------------ *\
    LINKS
\* ------------------------------------ */

a,
.link {
    display: inline-block;
    color: $orange;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

.link--dark {
    color: $base-text-color;

    &:hover {
        color: $orange;
        text-decoration: none;
    }
}

.link--icon {
    position: relative;
    padding-left: $space * 2;

    & > .fa {
        position: absolute;
        top: 2px; //default for .fa-angle-*
        left: 0;
    }
}

.link--nohover {
    color: $base-text-color;

    &:hover {
        text-decoration: none;
    }
}

.hg-c-Link {
    display: inline-block;

    &:link {
        color: $grey--darker;
    }

    &:visited {
        color: $grey--darker;
    }

    &:hover {
        color: $orange;
    }

    &:active {
        color: $orange--dark;
    }
}

.hg-c-Link--primary {
    display: inline-block;

    &:link {
        color: $orange;
    }

    &:visited {
        color: $orange;
    }

    &:hover {
        color: $orange;
        text-decoration: underline;
    }

    &:active {
        color: $orange--dark;
    }
}

.hg-c-Link--plain {
    display: inline-block;

    &:link {
        color: $grey--darker;
    }

    &:visited {
        color: $grey--darker;
    }

    &:hover {
        color: $grey--darker;
        text-decoration: none;
    }

    &:active {
        color: $grey--darker;
    }
}

.hg-c-Link--orange-hover-underline {
    color: $orange;
    font-size: $font-size--regular;
    font-weight: $font-weight--base;
    text-decoration: none;

    &:hover {
        color: $orange--dark;
        text-decoration: underline;
    }
}

.hg-c-Link--articlecodes__productlink {
    font-size: $font-size--regular;
    font-weight: $font-weight--bold;

    @extend .hg-c-Link;
}

.hg-c-Link--underlined {
    display: inline-block;
    text-decoration: underline;
}
