/* ------------------------------------ *\
    TEXT
\* ------------------------------------ */

/* Text classes with MQ */
@include generate-breakpoint-prefixes($class-name: 'txt') {
    &--regular { font-family: $font-family--regular !important; }
    &--left { text-align: left !important; }
    &--center { text-align: center !important; }
    &--right { text-align: right !important; }
}

/* Simple text classes, no MQ */
.txt--bold { font-weight: $font-weight--bold !important; }
.txt--justify { text-align: justify !important; }
.txt--light { font-weight: $font-weight--light !important; }
.txt--base { font-weight: $font-weight--base !important; }
.txt--italic { font-style: italic !important; }
.txt--caps { text-transform: uppercase !important; }
.txt--lined { text-decoration: line-through !important; }
.txt--underlined { text-decoration: underline !important; }

/* Text colors */
.txt--theme-color { color: $theme-color !important; }
.txt--white { color: $white !important; }
.txt--black { color: $grey--darker !important; }
.txt--grey { color: $grey--dark !important; }
.txt--grey--light { color: $grey !important; }
.txt--blue { color: $blue !important; }
.txt--red { color: $red !important; }
.txt--green { color: $green !important; }
.txt--yellow { color: $yellow !important; }
.txt--orange { color: $orange--light !important; }

/* Text overflow */
.txt--nowrap {
    white-space: nowrap;
    overflow: hidden;
}

.txt--truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Extra large headlines (mostly for CMS pages) */
._h1--res {
    font-size: 36px;
    line-height: 36px;

    @include media(md) {
        font-size: 48px;
        line-height: 48px;
    }

    @include media(lg) {
        font-size: 60px;
        line-height: 60px;
    }
}

._h2--res {
    font-size: $font-size--regular-plus;
    @include media(md) { font-size: $font-size--medium; }
    @include media(xl) { font-size: $font-size--large; }
}

._p--res {
    line-height: 18px;

    @include media(lg) {
        font-size: $font-size--medium;
        line-height: 22px;
    }
}

/* Headline classes with MQ */
@include generate-breakpoint-prefixes($class-name: '_h', $short-name: true) {
    &1 {
        font-size: $font-size--xlarge;
        line-height: $line-height--xlarge;
    }

    &2 {
        font-size: $font-size--large;
        line-height: $line-height--large;
    }

    &3 {
        font-size: $font-size--medium;
        line-height: $line-height--medium;
    }

    &4 {
        font-size: $font-size--regular-plus;
        line-height: $line-height--regular-plus;
    }

    &5 {
        font-size: $font-size--regular;
        line-height: $line-height--regular;
    }

    &6 {
        font-size: $font-size--small;
        line-height: $line-height--small;
    }
}

/* Headline tags */
h1 {
    @extend ._h1;
    font-weight: $font-weight--bold;
}

h2 { @extend ._h2; }
h3 { @extend ._h3; }
h4 { @extend ._h4; }
h5 { @extend ._h5; }

h6,
small { @extend ._h6; }

b,
strong { @extend .txt--bold; }

/* Raw HTML */
.html--raw {

    h1 {
        font-family: $font-family--regular;
        font-size: $font-size--large;
        margin: ($space * 2) 0;
    }

    h2,
    h3 { font-weight: $font-weight--bold; }

    h2 {
        font-size: $font-size--regular-plus;
        margin: ($space * 2) 0;
    }

    h3,
    p { margin: $space 0; }

    h3 { font-size: $font-size--regular; }

    ul {
        padding: $space 0 $space ($space * 5);

        & > li::before {
            content: $fa-var-angle-right;
            font-family: $font-family--font-awesome;
            color: $theme-color;
        }
    }

    //Most of the time the raw HTML contains list elements outside <ul> or <ol>
    li {
        position: relative;
        list-style: none;
        padding-left: 12px;
        line-height: $line-height--list;

        &::before {
            position: absolute;
            content: "\2022";
            top: 0;
            left: 0;
        }
    }

    img { margin-top: $space * 3; }
}

@import "./_hg-text.scss";
